---
handle: account_address
title: Account addresses
listed: false
meta_description:
meta_keywords: 
position: 200
published: true
seo_title: My addresses | Shopinvader demo
slug: addresses
---
{% extends 'layouts/account '%}

{% block 'body/content/tabcontent' %}
<div class="row justify-content-between">
  <div class="col-auto">
    <h1 class="h3">{{'account_address_lists' | translate  }}</h1>
  </div>
  <div class="col-auto">
  {% if store.customer.permission.address.create == true %}
    <form action="{% path_to account_address_form %}" method="post">
      <button type="submit" name="button" class="btn btn-outline-primary">
        <i class="fa fa-plus"></i> {{'account_address_add' | translate}}
      </button>
    </form>
  {% endif %}
  </div>
  <div class="col-12">
    {% with_scope address_type: "address"%}
      <div class="row">
        {% for address in store.addresses %}
          {% assign address_css = "" %}
          {% if address.enabled != true %}
            {% assign address_css = "card-disabled" %}
          {% endif %}
          <div class="col-12 mt-3 mb-2">
            <div class="card card-body {{address_css}}">
              {% if address.enabled != true %}
                <div class="card-disabled-message">
                  {{ 'account_address_disabled' | translate }}
                </div>
              {% endif %}
              <div class="row">
                <div class="col-12 col-lg-4 border-right ">
                  <div class="row align-items-center">
                    <div class="col-auto pr-0">
                      <i class="fas fa-map-marker-alt text-primary fa-2x"></i>
                    </div>
                    <div class="col-auto lead font-weight-bold">
                       {{address.name}}
                    </div>
                  </div>
                  {% if address.enabled %}
                    <div class="row small pt-3 pb-2">
                      {% if address.access.update %}
                        <form action="{% path_to account_address_form %}" method="post" class="col-6">
                          <input type="hidden" name="item_id" value="{{address.id}}">
                          <button type="submit" name="update_{{address.id}}" class="btn btn-sm btn-outline-primary btn-block">
                            <i class="fas fa-pencil-alt"></i> {{'cart_address_update' | translate }}
                          </button>
                        </form>
                      {% endif %}
                      {% if address.access.delete %}
                        <form method="POST" action="/invader/addresses/{{address.id | round}}/delete" class="col-6">
                          <input type="hidden" name="invader_success_url" value="{% path_to page %}" />
                          <input type="hidden" name="invader_error_url" value="{% path_to page %}" />
                          <button type="submit" name="button" class="btn btn-sm btn-outline-danger btn-block">
                            <i class="fas fa-trash"></i> {{'cart_address_delete' | translate }}
                          </button>
                        </form>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
                <div class="col-12 col-lg-8">
                  <address>
                    <div class="">
                      {{address.street}}
                    </div>
                    <div class="">
                      {{address.street2}}
                    </div>
                    <div class="">
                      {{address.zip}} - {{address.city}}
                    </div>
                    <div class="">
                      {{address.country.name}}
                    </div>
                    <div class="">
                      {{address.phone}}
                    </div>
                  </address>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endwith_scope%}
  </div>
</div>
{% endblock %}
