---
title: Order page
slug: orders
handle: account_index
position: 99
listed: false
published: true
is_layout: false
seo_title: My sales orders | Space Discount
---
{% extends 'layouts/account' %}
{% block 'content/tabcontent' %}
  {% paginate store.orders by 4 %}
    <div class="row  tab-header">
      <div class="col-xs-12 text-right">
        {%include 'paginate' with paginate %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-left">
      {%if store.orders == null %}
        {{ 'account_order_empty' | translate }}
      {% else %}
        {% for order in paginate.collection %}
          <div class="well account-orders-list">
            <div class="row  separator-right">
              <div class="col-sm-3 text-left">
                <div class="row row-same-height separator-bottom">
                  <div class="col-xs-12">
                    <div class="">
                      <span class="text-lg text-primary bold">{{order.name}}</span> - {{ order.state }}
                    </div>
                    <div class="">
                      {{order.date_order | append:'2017-02-06' | date:"%d/%m/%Y" }} - <span class="text-1xl">{{order.amount_total | money }} </span>
                    </div>
                  </div>
                </div>
                <div class="row separator-bottom">
                  <div class="col-xs-12">
                    <ul class=" fa-ul">
                      <li>
                        <i class="fa-li fa fa-cc-stripe text-primary"></i>
                        {{ "account_order_payment" | translate }} {{order.payment_method_id.name}}
                      </li>
                      <li>
                        <i class="fa-li fa fa-map-marker text-primary"></i>
                        <div  data-toggle="tooltip" data-placement="bottom"
                        title="
                        <div class='text-left'>
                          <strong>{{order.partner_shipping_id.display_name}}</strong>
                          <div>{{order.partner_shipping_id.street}}</div>
                          <div>{{order.partner_shipping_id.street2}}</div>
                          <div>
                            {{order.partner_shipping_id.zip}}
                            {{order.partner_shipping_id.city}}
                          </div>
                          <div>{{order.partner_shipping_id.country_id.name}}</div>
                          <div>{{order.partner_shipping_id.phone}}</div>
                        </div>">
                          {{ "account_order_address" | translate }} <a class="#order-line-{{order.name}}" class="small">{{order.partner_shipping_id.display_name}}</a>
                        </div>
                      </li>
                      {% if order.carrier_id %}
                      <li>
                        <i class="fa-li fa fa-truck text-primary"></i>
                        {{ "account_order_shipping" | translate }}
                        {{order.carrier_id.name}}
                        {% for track in order.tracking %}
                          <div>
                            <a href="{{track.url}}">
                              {{"account_order_tracking" | translate }} {{track.value}}
                            </a>
                          </div>
                        {% endfor %}
                      </li>
                      {% endif %}
                    </ul>

                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-default">
                      <i class="fa fa-print fa-fw" aria-hidden="true"></i> {{"account_order_invoice_print" | translate }}
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-9 separator-bottom">
                {% for order_line in order.order_line %}
                  <div class="col-xs-12 col-sm-6 col-md-4 product-thumbnail">
                    <div class="thumbnail">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="picture">
                            <img src="{{'https://locomotive-asset.s3-eu-west-1.amazonaws.com/sites/58a4824d68c5b5000a6cd323/assets/58b999c1eb849e0008bb09a1/ttr-100-rev-b.jpg' | resize: '150x150'}}" class="img-responsive" alt="" />
                          </div>
                        </div>
                      </div>
                      <div class="row separator-bottom">
                        <div class="col-xs-12 bold">
                          {{order_line.product_id.name}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          {{ 'account_order_qty' | translate }}
                          <b>{{order_line.product_uom_qty | round}}</b>
                        </div>
                        <div class="col-xs-12">
                          {{ 'account_order_subtotal' | translate }}
                          <b>{{order_line.price_subtotal | money }}</b>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      </div>
    </div>
    <div class="row separator-right">
      <div class="col-xs-12 text-right">
        {%include 'paginate'%}
      </div>
    </div>
  {% endpaginate %}
{% endblock %}
