---
title: Claims
handle: account_rma
slug: claims
seo_title: Claims | Shopinvader demo
---
{% extends 'layouts/account '%}

{% block 'content/tabcontent' %}

{% if params.selected_order_id != null %}
  {% with_scope id: params.selected_order_id %}
    {% assign selected_order = store.sales.first%}
  {% endwith_scope%}
{% else %}
  {% assign selected_order = store.sales.first%}
{%endif%}


<div class="card">
  <h2 class="card-header bg-primary text-light">
    <i class="fas fa-backward"></i> {{'account_rma_title' | translate}}
  </h2>
  <div class="card-body" id="form-rma-container" data-shopinvader-container>
    <p>
      {% editable_text subtitle, rows: 1, format:'raw', hint: "Subtitle" %}
      Vous pouvez demander le retour de marchandise via le formulaire ci-dessous.
      {% endeditable_text %}
    </p>
    <form method="post" id="form_rma_order" action="{% path_to page.handle %}" data-shopinvader-form>
      <div class="row">
        <div class="col-12  pt-2">
          <span class="h3 text-primary">
            <i class="font-weight-bold">1.</i>
            {{ 'account_rma_order' | translate }}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 form-rma-content">
          <p class="help-block">
            {% editable_text help_step1, rows: 1, format:'raw', hint: "Help step 1" %}
            Je sélectionne la commande concernée par le retour de mon article.
            {% endeditable_text %}
          </p>
          <select class="form-control" name="selected_order_id" id="selected_order_id" data-autosubmit>
          {% for order in store.sales %}
            <option value="{{order.id}}" {% if order.id == selected_order.id %}selected="selected"{% endif%}> {{order.date_order | date:"%d/%m/%Y" }} - {{order.name}}</option>
          {% endfor %}
          </select>
        </div>
      </div>
    </form>
    <form class="form-rma {% if selected_order == null%}form-rma-inactive{% endif%}" action="/invader/rma/add" method="post">
      <input type="hidden" name="invader_success_url" value="{% path_to page %}" />
      <input type="hidden" name="invader_error_url" value="{% path_to page %}" />
      <div class="row ">
        <div class="col-12  pt-4">
          <span class="h3 text-primary">
            <i class="font-weight-bold">2.</i>
            {{ 'account_rma_return' | translate }}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 form-rma-content">
          <p class="help-block">
            {% editable_text help_step2, rows: 1, format:'raw', hint: "Help step 2" %}
            Je sélectionne le ou les articles à retourner.
            {% endeditable_text %}
          </p>

          <table class="table table-striped table-responsive">
            <thead>
              <th colspan="2">{{'account_rma_item' | translate }}</th>
              <th class="text-center">{{'account_rma_qty' | translate }}</th>
            </thead>
            <tbody>
            {% if selected_order %}
              {% for order_line in selected_order.order_line %}
              <tr>
                <td>
                  <img src="{{order_line.product.images.first.small}}" class="img-responsive img-thumbnail" alt="" />
                </td>
                <td>
                  {{order_line.product_id.name}}
                  <div class="text-small">
                    <i>{{order_line.product.name}}</i>
                  </div>
                </td>
                <td class="text-center" align="center">
                  <select class="form-control input-sm" name="">
                    {% for i in (0..order_line.product_uom_qty) %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
              {% endfor %}
            {% endif%}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pt-4">
          <span class="h3 text-primary">
            <i class="font-weight-bold">3.</i>
            {{ 'account_rma_message' | translate }}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 form-rma-content">
          <p class="help-block">
            {% editable_text help_step3, rows: 1, format:'raw', hint: "Help step 3" %}
            J'indique le motif de retour pour chacun de mes articles retournés.
            {% endeditable_text %}
          </p>
          <textarea name="message" class="form-control" rows="8" cols="80" {% if selected_order == null%}disabled="disabled"{% endif %}></textarea>
        </div>
      </div>

      <div class="row  pt-4">
        <div class="col-6">
          <p class="help-block">
          {% editable_text help_message, rows: 1, format:'raw', hint: "Help message" %}
            Une fois validée, votre demande de retour d'article va être analysée au plus vite par nos services.
          {% endeditable_text %}
          </p>
        </div>
        <div class="col-6 text-right">
          <button type="submit" class="btn btn-success btn-lg pull-right" {% if selected_order == null%}disabled="disabled"{% endif %}>
            {{'account_rma_submit' | translate }} <i class="fa fa-angle-right"></i>
          </button>
        </div>
      </div>




    </form>
  </div>
</div>
<div class="row address-form">

  <div class="bg-light p-4 col-12 col-md-9" >




  </div>
</div>
{% endblock %}
