---
title: Account addresses
handle: account_address
slug: addresses
seo_title: Shipping addresses | Shopinvader demo
---
{% extends 'layouts/account '%}

{% block 'content/tabcontent' %}
<div class="pt-4">
    <div class="row">
    <div class="col-6">
      <h2>{{'account_address_lists' | translate  }}</h2>
    </div>
    <div class="col-6 text-right">
      <form action="{% path_to account_address_form %}" method="post">
        <button type="submit" name="button" class="btn btn-warning">
          <i class="fa fa-plus"></i> {{'account_address_add' | translate}}
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {% with_scope address_type: "address"%}
      <div class="row">
        {% for address in store.addresses%}
        <div class="col-12 col-sm-6 col-xl-4  align-items-stretch d-flex">
          <div class="card w-100">
            <div class="card-header h4 text-white bg-primary">
              <strong>{{address.name}}</strong>
            </div>
            <div class="card-body">
              <address>
                <div class="">
                  {{address.street}}
                </div>
                <div class="">
                  {{address.street2}}
                </div>
                <div class="">
                  {{address.zip}} - {{address.city}}
                </div>
                <div class="">
                  {{address.country.name}}
                </div>
              </address>

            </div>
            <div class="card-footer bg-white">
              <div class="row small">
                <form action="{% path_to account_address_form %}" method="post" class="col-6">
                  <input type="hidden" name="item_id" value="{{address.id}}">
                  <button type="submit" name="update_{{address.id}}" class="btn btn-link">
                    <i class="fas fa-pencil-alt"></i> {{'cart_address_update' | translate }}
                  </button>
                </form>
                <form method="POST" action="/invader/addresses/{{address.id | round}}/delete" class="col-6">
                  <input type="hidden" name="invader_success_url" value="{% path_to page %}" />
                  <input type="hidden" name="invader_error_url" value="{% path_to page %}" />
                  <button type="submit" name="button" class="btn btn-link">
                      <i class="fas fa-trash"></i> {{'cart_address_delete' | translate }}
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor%}
      </div>
      {% endwith_scope%}
    </div>
  </div>
</div>
{% endblock %}
