---
title: Account addresses
handle: account_address
slug: addresses
seo_title: Shipping addresses | Shopinvader demo
---
{% extends 'layouts/account '%}

{% block 'content/tabcontent' %}
<div class="pt-4">
  {% if params.address_id or params.add  == "true" %}
    <div class="card">
    {% if params.add == "true" %}
      {% assign action_method = 'post'%}
      {% assign action_proxy = 'contacts'%}
    {% else %}
      {% with_scope id: params.address_id %}
        {% assign address = store.contacts.first %}
      {% endwith_scope%}
      {% assign action_method = 'put'%}
      {% assign action_proxy = 'contacts/' | append: address.id | round%}
    {% endif %}

      <h2 class="card-header bg-primary text-light"> {{'account_address_update' | translate  }}</h2>
      <div class="card-body">
        <form class="" action="{% path_to page.handle %}" method="post" data-autocomplete="address">
          <input type="hidden" name="action_method" value="{{action_method}}">
          <input type="hidden" name="action_proxy" value="{{action_proxy}}">
          {% include 'address_form' with address, with_require: true %}
          <div class="row">
            <div class="col-6 text-left">
              <a href="{% path_to account_address %}" class="btn btn-default " >{{'account_address_cancel' | translate}}</a>
            </div>
            <div class="col-6 text-right">
              <input type="submit" name="submit" class="btn btn-primary " value="{{'account_address_submit' | translate}}">
            </div>
          </div>
        </form>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-6">
        <h2> <i class="fas fa-home"> </i>{{'account_address_lists' | translate  }}</h2>
      </div>
      <div class="col-6 text-right">
        <form action="{% path_to page.handle %}" method="post">
          <input type="hidden" name="add" value="true">
          <button type="submit" name="button" class="btn btn-warning">
            <i class="fa fa-plus"></i> {{'account_address_add' | translate}}
          </button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% with_scope contact_type: "address"%}
          {% include "address_book" with
            input_group: 'shipping',
            input_name: 'partner_shipping[id]',
            address_list:  store.addresses,
            display_delector : false,
            display_add: none,
          %}
        {% endwith_scope%}
      </div>
    </div>
  {% endif%}
</div>
{% endblock %}
