---
title: Reset password - Request
handle: reset_password_request
slug: reset-password-request
seo_title: Réinitialiser mon mot de passe
---
{% extends 'layouts/lite' %}

{% block 'content' %}
<div class="row justify-content-center">
  <div class="col-12 col-lg-9 col-xl-3 pt-4 pb-4">
    <div class="card shadow">
      <div class="card-body text-center">
        <h1 class="h3 text-uppercase pb-3">
        {% editable_text title, inline: true %}
            <i class="fa fa-key text-warning"></i>  Password assistance
        {% endeditable_text %}
        </h1>
        {% include 'store_notifications' %}
        <div class="text-left">
          {% if current_customer != null%}
            <div class="text-left">
              {% editable_text logout_help, rows: 1, format:'raw'%}
                Sorry, password reset is not available when a user is currently logged in.<br>
                <br>
                <b>Please logout before</b>
              {% endeditable_text %}
            </div>
            <form method="post" action="{% path_to page %}?email={{current_customer.email | url_encode}}" class="text-center">
              <input type="hidden" name="auth_action" value="sign_out" />
              <input type="hidden" name="auth_content_type" value="customers" />
              <button type="submit" class="btn btn-outline-primary" >
                {{ 'account_signout' | translate }}
              </button>
            </form>
          {% elsif auth_reset_password_instructions_sent %}
            {% editable_text reset_password_instructions_sent, rows: 1, format:'html'%}
            The instructions for changing your password have been emailed to you.
            {% endeditable_text %}
          {% else %}
            <p class="pb-4 small">
              {% editable_text reset_password_instructions, rows: 1, format:'raw'%}
              Enter the email address phone number associated with your account. <br>
              We will send you an email to reset your password.
              {% endeditable_text %}
            </p>
            <form action="{% path_to page %}" method="POST" class="">
              <input type="hidden" name="auth_action" value="forgot_password" />
              <input type="hidden" name="auth_content_type" value="customers" />
              <input type="hidden" name="auth_id_field" value="email" />
              <input type="hidden" name="auth_email_from" value="{{site.metafields.smtp.sender}}" />
              <input type="hidden" name="auth_email_subject" value="{{ 'email_resetpassword_subject' | translate}}" />
              <input type="hidden" name="auth_password_field" value="password" />
              <input type="hidden" name="auth_email_handle" value="reset_password_email" />
              <input type="hidden" name="auth_reset_password_url" value="{{ base_url }}{% path_to reset_password_form %}" />
              {% if auth_wrong_email %}
              <div class="alert alert-warning p-2">
                {% editable_text reset_password_wrong_email, rows: 1, format:'raw'%}
                Wrong email.
                {% endeditable_text %}
              </div>
              {% endif %}
              {% if params.email != '' %}
                <input type="hidden" name="auth_id" id="email" value="{{params.email}}">
              {%else%}
              <div class="form-group">
                <label for="email" class="font-weight-bold">
                  {{ 'signin_email' | translate }}
                </label>
                <input type="text" name="auth_id" id="email" class="form-control" placeholder="{{ 'signin_email' | translate }}" required="required">
              </div>
              {%endif%}
              <div class="text-center">
                <button class="btn btn-primary btn-block " type="submit">
                  {{'account_password_reset' | translate}}
                </button>
              </div>
            </form>
          {% endif%}
        </div>
      </div>
    </div>
    {% if current_customer and current_customer.email!= '' %}
      {% capture 'return_url'%}
        {%path_to account_index%}
      {% endcapture%}
    {% elsif params.origin == 'cart'%}
      {% capture 'return_url'%}
        {%path_to cart_login%}
      {% endcapture%}
    {% else %}
    {% capture 'return_url'%}
      {%path_to home%}
    {% endcapture%}
    {% endif %}
    <div class="pt-4">
      <a href="{{return_url}}" class="btn btn-link">
        {% editable_text reset_password_cancel, rows: 1, format:'html'%}
        <i class="fa fa-angle-left"></i> Return
        {% endeditable_text %}
      </a>
    </div>
  </div>
</div>


{% endblock %}
