---
title: Reset password - email
handle: reset_password_email
slug: reset-password-email
position: 99
listed: false
published: true
is_layout: false
display_settings:
  hidden: true
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reset My Password</title>
    <meta http-equiv="X-UA-Compatible" content="IE=3Dedge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=3Ddevice-width, initial-scale=3D1.=0">
    <style type="text/css">
    body {
      background-color: #f8f8f8;
      text-align: center;
      font-family: 'Verdana';
      font-size: 12px;
      padding-top: 40px;
      color: #b6afaf;
    }
    .main {
      background-color: #ffffff;
      color: #343a40;
      font-size: 14px;
      max-width: 600px;
      padding: 20px;
      text-align: left;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    </style>
  </head>
  <body>
    Reset your password.
    <div class="main">
      <div style="padding-bottom:20px;">
        <img src="{{site.metafields.theme.logo}}" alt="" width="200">
      </div>
      Hello<br>
      <p>
      Someone has requested a link to change your password, and you can do this through the link below:<br>
      </p>
      <div style="text-align: center;">
        <a href="{{reset_password_url}}" style="border: 1px solid #17a2b8; color: #17a2b8; padding:10px; text-decoration:none;">
          Change my password
        </a>
      </div>
      <div style="font-size:10px">
        <br><br>
        If the above button is not clickable, try copying and pasting the link below into the address bar of your web browser.
        <br>
        <a href="{{reset_password_url}}">
          {{reset_password_url}}
        </a>
      </div>
      <br><br>
      If you didn't request this, please ignore this email.<br>
      Your password won't change until you access the link above and create a new one.<br>
      <br>

    </div>
    {{site.name}}
  </body>
</html>
