---
title: Reset password - Request
handle: reset_password_request
slug: reset-password-request
seo_title: Reset my password
---
{% extends 'layouts/lite' %}

{% block 'body/content' %}
<div class="row justify-content-center">
  <div class="col-11 col-lg-9 col-xl-3 pt-4 pb-4">
    <div class="card shadow-sm">
      <div class="card-body text-center">
        <h1 class="h3 text-uppercase pb-3">
          <i class="fa fa-key text-warning"></i>  
          {{ 'account_forgetpassword_title' | translate }}
        </h1>
        {% include 'store_notifications' %}
        <div class="text-left">
          {% if current_customer != null%}
            <div class="text-left mb-3">
              {{ 'account_forgetpassword_logged' | translate }}
            </div>
            <form method="post" action="{% path_to page %}?current_email={{current_customer.email | url_encode}}" class="text-center">
              <input type="hidden" name="auth_action" value="sign_out" />
              <input type="hidden" name="auth_content_type" value="customers" />
              <button type="submit" class="btn btn-outline-primary" >
                {{ 'account_signout' | translate }}
              </button>
            </form>
          {% elsif auth_reset_password_instructions_sent %}
            {{ 'account_forgetpassword_instructions_sent' | translate }}
          {% else %}
            <p class="pb-4 small">
              {{ 'account_forgetpassword_intro' | translate }}
            </p>
            <form action="{% path_to page %}" method="POST" class="">
              <input type="hidden" name="auth_action" value="forgot_password" />
              <input type="hidden" name="auth_content_type" value="customers" />
              <input type="hidden" name="auth_id_field" value="email" />
              <input type="hidden" name="auth_email_from" value="{{site.metafields.smtp.sender}}" />
              <input type="hidden" name="auth_email_subject" value="{{ 'email_resetpassword_subject' | translate}}" />
              <input type="hidden" name="auth_password_field" value="password" />
              <input type="hidden" name="auth_email_handle" value="reset_password_email" />
              <input type="hidden" name="auth_reset_password_url" value="{{ base_url }}{% path_to reset_password_form %}" />
              {% if auth_wrong_email %}
              <div class="alert alert-warning p-2">
                <i class="fas fa-exclamation-circle"></i> 
                {{ 'account_forgetpassword_error_email' | translate }}
              </div>
              {% endif %}
              {% if params.current_email != null and params.current_email != ''%}
                <input type="hidden" name="auth_id" id="email" value="{{params.current_email}}">
              {%else%}
              <div class="form-group">
                <label for="email" class="font-weight-bold">
                  {{ 'signin_email' | translate }}
                </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text  border-right-0" >
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                  <input type="email" name="auth_id" id="email" class="form-control border-left-0 " placeholder="{{ 'signin_email' | translate }}" required="required">
                </div>
                
              </div>
              {%endif%}
              <div class="text-center">
                <button class="btn btn-outline-primary pr-5 pl-5" type="submit">
                  {{'account_password_reset' | translate}}
                </button>
              </div>
            </form>
          {% endif%}
        </div>
      </div>
    </div>
    {% if current_customer and current_customer.email!= '' %}
      {% capture 'return_url'%}
        {% path_to account_index %}
      {% endcapture %}
    {% elsif params.origin == 'cart'%}
      {% capture 'return_url'%}
        {% path_to cart_login %}
      {% endcapture %}
    {% else %}
      {% capture 'return_url'%}
        {% path_to home %}
      {% endcapture%}
    {% endif %}
    <div class="pt-4">
      <a href="{{return_url}}" class="btn btn-link">
        <i class="fa fa-chevron-left"></i>
        {{'btn_back' | translate }}
      </a>
    </div>
  </div>
</div>


{% endblock %}
