---
title: Reset password - Form
handle: reset_password_form
slug: reset-password
seo_title: Reset my password | Shopinvader demo
---
{% extends 'layouts/lite' %}

{% block 'body/content' %}
<div class="row justify-content-center">
  <div class="col-12 col-lg-9 col-xl-5 pt-4 pb-4">
    <div class="card card-item ">
      <div class="card-body text-center">
        <h1 class="h3 text-uppercase pb-3">
          {{"account_password_reset" | translate }}
        </h1>
        {% include 'store_notifications' %}
        <div class="text-left">
          {% if current_customer != null%}
            <div class="text-left">
              {{"account_password_reset_logout_help" | translate }}
            </div>
            <form method="post" action="{% path_to page %}?auth_reset_token={{params.auth_reset_token}}" class="text-center">
              <input type="hidden" name="auth_action" value="sign_out" />
              <input type="hidden" name="auth_content_type" value="customers" />
              <button type="submit" class="btn btn-outline-primary" >
                {{ 'account_signout' | translate }}
              </button>
            </form>
          {% elsif auth_invalid_token or params.auth_reset_token == null %}
              <div class="text-center">
                {{"account_password_reset_error" | translate }}
              </div>
          {% else %}
            <p class="pb-4 small">
              {{ 'account_password_reset_subtitle' | translate }}
            </p>
            <form action="{% path_to page %}" method="POST" class="">
              <input type="hidden" name="auth_action" value="reset_password" />
              <input type="hidden" name="auth_content_type" value="customers" />
              <input type="hidden" name="auth_password_field" value="password" />
              <input type="hidden" name="auth_reset_token" value="{{ params.auth_reset_token }}" />
              <input type="hidden" name="auth_callback" value="{% path_to reset_password_validation %}" />
              {% if auth_password_too_short %}
              <div class="alert alert-warning p-2">
                {{ 'account_password_reset_tooshort' | translate }}
              </div>
              {% endif %}
              <div class="form-group">
                <label for="auth-password" class="font-weight-bold">
                  {{ 'signin_password_new' | translate }}
                </label>
                <input type="password" id="auth-password" placeholder="{{ 'signin_password_new' | translate }}" name="auth_password" class="form-control" required="required" autocomplete="off" >
              </div>
              <div class="text-center">
                <button class="btn btn-primary " type="submit">{{'account_password_reset' | translate}}</button>
              </div>
            </form>

          {% endif%}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
