{% action 'set prefix and suffix element name' %}
  var input_group = getProp('input_group');
  var suffix = '';
  var prefix = '';
  if(input_group != '') {
    prefix = input_group+'[';
    suffix = ']';
  }
  setProp('prefix', prefix);
  setProp('suffix', suffix);
{% endaction %}
  <div class="row">
    {% for address in address_list %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <div class="card-body">
          <div class="radio">
            <label class="text-lg bold">
              <input type="radio" value="{{address.id | round}}" {%if address.id == selected_address %} checked="checked" {%endif%} name="{{ input_name }}" autocomplete="off"/>
              <b>{{address.name}}</b>
            </label>
          </div>
          <address>
            <div>{{address.street}}</div>
            <div>{{address.street2}}</div>
            <div>
              <span>{{address.zip}}</span>,
              <span>{{address.city}}</span>
            </div>
            <div>{{address.country_id.name}}</div>
            <div>{{address.phone}}</div>
          </address>
          <div class="bottom-link">
            <a href="#" class="address-update text-left" data-address-id="{{address.id | round}}">
              {{'cart_address_update' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <div class="bottom-link">
            <form method="post" action="{%path_to page%}">
              <input type="hidden" name="page_status" value="add_address">
              <button class="btn btn-link text-primary" href="{% path_to page%}">
                <div class="text-primary ">
                  <i class="fa fa-plus-circle fa-5x"></i>
                </div>
                {{ 'cart_address_add' | translate }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
