{% action 'set prefix and suffix element name' %}
  var input_group = getProp('input_group');
  var suffix = '';
  var prefix = '';
  if(input_group != '') {
    prefix = input_group+'[';
    suffix = ']';
  }
  setProp('prefix', prefix);
  setProp('suffix', suffix);
{% endaction %}
  {% if selected_address_id == null%}
    {% assign address_id = address_list.first.id %}
  {% else %}
    {% assign address_id = selected_address_id %}
  {% endif%}
  <div class="row">
    {% for address in address_list %}
      {% if address.id != null %}
        <div class="col-12 col-sm-6 col-lg-4  align-items-stretch d-flex">
          <div class="card w-100">
            <div class="card-body">
              {% if display_delector == true%}
              <div class="radio">
                <label class="text-lg bold">
                  <input class="input-{{ input_group }}-address" type="radio" value="{{address.id | round}}" {%if address.id == address_id %} checked="checked" {%endif%} name="{{ input_name }}" id="{{ input_name }}_{{address.id}}" autocomplete="off"/>
                  <b>{{address.name}}</b>
                </label>
              </div>
              {% endif%}
              <label for="{{ input_name }}_{{address.id}}">
                <address>
                  <div>{{address.street}}</div>
                  <div>{{address.street2}}</div>
                  <div>
                    <span>{{address.zip}}</span>,
                    <span>{{address.city}}</span>
                  </div>
                  <div>{{address.country.name}}</div>
                  {% if address.phone%}
                    <div><i class="fa fa-phone small"></i>  {{address.phone}}</div>
                  {% endif %}
                </address>
              </label>
            </div>
            <div class="card-footer text-center">
              <div class="row">
                <div class="col-6">
                  <a href="{% path_to cart_address_form %}?item_id={{address.id}}" name="update_{{address.id}}" class="btn btn-link">
                    <i class="fas fa-pencil-alt"></i> {{'cart_address_update' | translate }}
                  </a>
                </div>
                <div class="col-6 text-left">
                  {% if display_delete == true%}
                  <form method="POST" action="invader/address/{{address.id | round}}/remove">
                    <input type="hidden" name="invader_success_url" value="{% path_to page%}" />
                    <input type="hidden" name="invader_error_url" value="{% path_to page%}" />
                    <button type="submit" name="button" class="btn btn-link  d-inline">
                      <i class="fas fa-trash"></i> {{'cart_address_delete' | translate }}
                    </button>
                  </form>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    {% if display_add == true %}
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="card">
          <div class="card-body text-center">
            <div class="bottom-link">
              {% if display_add == true %}
                <a class="btn btn-link text-primary" href="{% path_to cart_address_form%}">
                  <div class="text-primary ">
                    <i class="fa fa-plus-circle fa-5x pb-3"></i>
                  </div>
                  <div class="h4">
                    {{ 'cart_address_add' | translate }}
                  </div>
                </a>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
    {%endif%}

  </div>
