{% action 'set prefix and suffix element name' %}
  var input_group = getProp('input_group');
  var suffix = '';
  var prefix = '';
  if(input_group != '') {
    prefix = input_group+'[';
    suffix = ']';
  }
  setProp('prefix', prefix);
  setProp('suffix', suffix);
{% endaction %}
  {% if selected_address_id == null%}
    {% assign selected_address_id = address_list.first.id %}
  {% endif%}

  <div class="card-deck-wrapper">
    <div class="card-deck">
      {% for address in address_list %}

      <div class="card">
        <div class="card-body">
          {% if display_delector == true%}
          <div class="radio">
            <label class="text-lg bold">
              <input type="radio" value="{{address.id | round}}" {%if address.id == selected_address_id %} checked="checked" {%endif%} name="{{ input_name }}" id="{{ input_name }}_{{address.id}}" autocomplete="off"/>
              <b>{{address.name}}</b>
            </label>
          </div>
          {% endif%}
          <label for="{{ input_name }}_{{address.id}}">
            <address>
              <div>{{address.street}}</div>
              <div>{{address.street2}}</div>
              <div>
                <span>{{address.zip}}</span>,
                <span>{{address.city}}</span>
              </div>
              <div>{{address.country_id.name}}</div>
              <div>{{address.phone}}</div>
            </address>
          </label>
        </div>
        <div class="card-footer text-center">
          <a href="{% path_to page%}?page_status=update_address&address_id={{address.id | round}}" class="btn btn-secondary" data-address-id="{{address.id | round}}">
            <i class="fas fa-pencil-alt"></i> {{'cart_address_update' | translate }}
          </a>
        </div>
      </div>
      {% endfor %}
      {% if display_add == true %}
      <div class="card">
        <div class="card-body text-center">
          <div class="bottom-link">
            <a class="btn btn-link text-primary" href="{% path_to page%}?page_status=add_address">
              <div class="text-primary ">
                <i class="fa fa-plus-circle fa-5x"></i>
              </div>
              {{ 'cart_address_add' | translate }}
            </a>
          </div>
        </div>
      </div>
      {%endif%}
    </div>
  </div>
