
{% if current_customer %}
  {% assign pricelist = current_customer.role %}
{% else %}
  {% assign pricelist = site.metafields.erp.default_role %}
{% endif %}
{%assign product_display = grid%}
{%if session.product_display == 'list'%}
  {%assign display_horizontal =  true%}
{%endif%}
<script type="text/html" id="product-hit-template">
  {% raw %}
  {{=<% %>=}}

  {% endraw %}
  <div class="product-thumbnail grid" id="product-hit-grid- <% objectID %>">
    <div class="image">
      <img
      src="<%#helpers.imageDefault%>
        <% images.0.medium.src  %>
        <%/helpers.imageDefault%>"
      alt="<% images.0.medium.alt  %>"
      data-link="{{url_base}}<% url_key %>?ref=<% default_code %>"/>
    </div>
    <div class="content">
      <div class="description">
        <a href="{{url_base}}<% url_key %>?ref=<% default_code %>"  class="title">
          <% model.name %>
        </a>
        <a href="{{url_base}}<% last_categorie.url_key %>" class="category">
          <% last_categorie.name %>
        </a>
      </div>
      <div class="price">
        <%#price.discount %>
          <div class="price_orignal">
            <%#helpers.currency%>
              <% price.original_value %>
            <%/helpers.currency%>
          </div>
        <%/price.discount %>
        <div class="price_value <%#price.discount %>discounted<%/price.discount %>">
          <%#helpers.currency%>
            <% price.value %>
          <%/helpers.currency%>
        </div>
        <div class="add-to-cart">
          <a href="{{url_base}}<% url_key %>?ref=<% default_code %" class="btn-product-page">
            {{ 'product_details' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</script>