{% assign attr_content = '' %}
{% if type == 'text' %}
	{% assign attr_content = variant.attributes[attribute_name] %}
{% elsif type == 'table' %}
	{% capture attr_content %}
		{% for structured_attribute in variant.structured_attributes %}
		  {% if structured_attribute.group_name == attribute_name %}
		    {% for attribute in structured_attribute.fields %}
		      <div class="row pt-2 pb-2  pb-4">
		      {% if display_legend %}
		        <div class="col-6">
		          <b>{{ attribute.name }}</b>
		        </div>
		        <div class="col-6">
		          {{ attribute.value }}
		        </div>
		      {% else %}
		        <div class="col-12">
		          {{ attribute.value }}
		        </div>
		      {% endif %}
		      </div>
		    {% endfor %}
		  {% endif %}
		{% endfor %}
	{% endcapture %}
{% endif %}
{% assign attr_content = '' %}
{% if attr_content != "" and attr_content != false and attr_content != null %}
	<div class="pt-4 pb-4">
    <div class="">
      {{ title }}
    </div>
    <div>
    	{{attr_content | json}}
    </div>
  </div>
{% endif %}

  