<div class="bg-light  pt-3">
  {%if variant.price.discount > 0%}
    <div class="pb-1">
      <div class="badge badge-warning p-2">
        {{'product_discount_label'  | translate}} <b>  -{{variant.price.discount | round }} %</b>
      </div>
    </div>
  {%endif%}
  <div class=" pb-3 pr-3 pl-3">
    <div class="row">
      <div class="col-12  ">
        <b class="text-right">
          {%if variant.price.discount > 0%}
          <div class="text-dark">
            <s>{% include 'currency' | value: variant.price.original_value %}</s>
          </div>
          {% endif %}
          <span class="h2 pull-right font-weight-bold {%if variant.price.discount > 0%}text-warning{% else %} text-primary{% endif %}">
            {% include 'currency' | value: variant.price.value %}
          </span>
          {% if variant.pricelist.tax_included == true %}
          <sub class="text-size-base">{{'product_vat_inc' | translate}}</sub>
          {% endif %}
        </b>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-12">
        <div class="">
          {{variant.name}}
        </div>
        <div class="small text-dark">
          {{'product_code' | translate }}
          <strong>{{variant.sku}}</strong>
        </div>
      </div>
    </div>
    {% if block.settings.display_add_to_cart %}
      <form method="POST" action="/invader/cart/add_item" data-shopinvader-form>
        <input type="hidden" name="invader_success_url" value="{{variant.url_key  | prepend: url_base}}?addtocart_product_id={{variant.objectID}}" />
        <input type="hidden" name="invader_error_url" value="{{variant.url_key  | prepend: url_base}}" />
        <input type="hidden" name="product_id" value="{{variant.objectID }}">

        <div class="row form-horizontal product-form-qty d-none d-sm-block">
          <label for="qty" class="col-4 col-sm-5 col-xl-12 control-label text-right text-xl-center">
            {{'product_quantity' | translate}}
          </label>
          <div class="col-8 col-xl-12">
            {% include 'product_qty_input' with qty:1 %}
          </div>
        </div>
        <div class="row ">
        {% if variant.stock_state != null and  variant.stock_state != ''%}
          <div class="col-12 text-left product-stock-state">
            <span class="{{variant.stock_state}} text-size-1xl">
              {{variant.stock_state | prepend: 'product_stock_state_' | translate}}
            </span>
          </div>
        {% endif %}
          <div class="col-12  text-right d-none d-sm-block">
          {%if variant.price.discount > 0%}
            <button type="submit" class="btn btn-warning btn-lg btn-block">
              {{"product_add_to_cart_discount" | translate }}
            </button>
          {%else%}
            <button type="submit" class="btn btn-success btn-lg btn-block">
              {{"product_add_to_cart" | translate }}
            </button>
          {% endif %}
          </div>
        </div>
      </form>
    {% else %}
      <a href="{{variant.url_key  | prepend: url_base}}" class="btn btn-primary btn-lg btn-block mt-4 mb-4">
        {{"show_more" | translate }}
      </a>
    {% endif %}
  </div>
</div>
<div class="bottom-nav text-center d-md-none">

  <form method="POST" action="/invader/cart/add_item" data-shopinvader-form>
    <input type="hidden" name="invader_success_url" value="{{product.url_key  | prepend: url_base}}?addtocart_product_id={{product.objectID}}" />
    <input type="hidden" name="invader_error_url" value="{{product.url_key  | prepend: url_base}}" />
    <input type="hidden" name="product_id" value="{{product.objectID }}">
    <div class="row align-items-center justify-content-between flex-nowrap">
      <div class="col-5">
        {% include 'product_qty_input' with qty:1, small %}
      </div>
      <div class="col-auto">
        <button type="submit" name="submit" class="btn btn-success">
          {{"product_add_to_cart" | translate }}
        </button>
      </div> 
    </div>
    
  </form>
</div>