{% if current_customer and live_editing != true%}
  {% action 'redirection to next step'%}
    var cart_next_step = getProp('cart_next_step')
    redirectTo(cart_next_step);
  {% endaction %}
{% endif %}
<div class="row">
  <div class="col-12 col-md-6 {% if inverse_card == true%}order-md-1{%endif%}">
    <div class="p-4">
      <div>{{login_title}}</div>
      <form action="{% path_to page %}" method="post">
        <input type="hidden" name="auth_action" value="sign_in" />
        <input type="hidden" name="auth_content_type" value="customers" />
        <input type="hidden" name="auth_id_field" value="email" />
        <input type="hidden" name="auth_password_field" value="password" />
        <input type="hidden" name="auth_callback" value="{% path_to cart_next_step %}" />
        <div class="form-group">
          <label for="auth-email" class="font-weight-bold small mb-0">
            {{ 'signin_email' | translate }}
          </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text  border-right-0" >
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <input type="email" class="form-control border-left-0" id="auth-email" placeholder="{{ 'signin_email' | translate }}" name="auth_id" value="{{ params.auth_id }}" required="required">
          </div>
          
        </div>
        <div class="form-group">
          <label for="auth-password" class="font-weight-bold small mb-0">
            {{ 'signin_password' | translate }}
          </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text  border-right-0" >
                <i class="fas fa-key"></i>
              </span>
            </div>
            <input type="password" class="form-control border-left-0 " id="auth-password" placeholder="{{ 'signin_password' | translate }}" name="auth_password" value="" required="required">
          </div>
          <a href="{% path_to reset_password_request %}" class="text-right  mb-3">
            {{ 'signin_forgotpassword' | translate }}
          </a>
        </div>
        <div class="text-center">
          {% if auth_wrong_credentials %}
            {{ 'signin_wrong' | translate }}
          {% endif %}
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary  pull-right pr-5 pl-5">
            <i class="fa fa-lock"></i> 
            <span class="lead">{{ 'signin_signin' | translate }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12 col-md-6 bg-light {% if inverse_card == true%}order-md-0{%endif%}">
    <div class="p-4">
      <div>{{guest_title}}</div>
      {{ guest_content}}
      <div class="text-center">

        <a href="{% path_to account_register %}" class="btn btn-outline-success lead pr-5 pl-5">
          {{ guest_button }}
        </a>
      </div>
    </div>
  </div>
</div>
