
{% if store.cart.shipping.available_carriers.items != null %}
  {% assign selected_payment = store.cart.payment.available_methods.items | first %}
  {% if store.cart.shipping.available_carriers.count > 0 %}
    {% assign selected_carrier = store.cart.shipping.selected_carrier %}
  {% endif %}
  <div>{{title}}</div>
  <form method="post" action="/invader/cart/add_carrier" id="cart_carrier_form" data-shopinvader-form>
    <input type="hidden" name="invader_success_url" value="{% path_to page %}" />
    <input type="hidden" name="invader_error_url" value="{% path_to page %}" />
    {%for carrier in store.cart.shipping.available_carriers.items %}
      <div class="cart-item-list">
        <input data-autosubmit 
          type="radio" 
          value="{{carrier.id | round}}" 
          {%if carrier.id == selected_carrier.id %} checked="checked" {%endif%} 
          name="carrier[id]" 
          autocomplete="off" 
          class="form-radio" 
          id="carrier_{{carrier.id | round}}" 
        />
        <label class="container pt-3 pb-3" for="carrier_{{carrier.id | round}}">
          <div class="row ">
            <div class="col-8  ">
              <b>{{ carrier.name }}</b>
              {% if carrier.id == 2 %}
                {% include 'delivery_colissimo' with carrier %}
              {% else %}
                <div class="pr-3">
                  {{ carrier.description }}
                </div>
              {% endif %}
            </div>
            <div class="col-4 text-right">
              {% if carrier.price > 0 %}
                {% include 'currency' | value: carrier.price %}
              {% else %}
                {{ 'cart_free_delivery' | translate }}
              {% endif %}
            </div>
          </div>
        </label>
      </div>
    {% endfor %}
  </form>
{% endif %}