<form method="post" action="invader/cart/update"  id="cart_update_form">
  <input type="hidden" name="invader_success_url" value="{% path_to cart_next_step %}" />
  <input type="hidden" name="invader_error_url" value="{% path_to page %}" />
  <input type="hidden" name="step[current]" value="{{ cart_current_step }}">
  <input type="hidden" name="step[next]" value="{{ cart_next_step }}">
  <button class="btn btn-primary btn-lg btn-block btn-block-xs" type="submit">
    {{submit_label}}
  </button>
</form>

<div class="bottom-nav text-center d-md-none">
  <form method="post" action="/invader/cart/update"  id="cart_update_form">
    <input type="hidden" name="invader_success_url" value="{% path_to cart_login %}" />
    <input type="hidden" name="invader_error_url" value="{% path_to page %}" />
    <input type="hidden" name="step[current]" value="{{ page.handle }}">
    <input type="hidden" name="step[next]" value="cart_login">
    
    <div class="row">
      <div class="col-6 pt-2">
        {{'cart_total_total' | translate }} <b>
        {% include 'currency' | value: store.cart.amount.total %}</b>
      </div>
      <div class="col-6 text-right">
        <button class="btn btn-success " type="submit">
          {{page.editable_elements.content.main.checkout_button}}
        </button>
      </div>
    </div>
  </form>
</div>