{% assign filters = store.all_filters %}

{% case layout %}
  {% when 'column' %}
    {% assign css_filter = "col-12 col-sm-6 col-md-12"%}
  {% else %}
    {% assign css_filter = "col-12 col-sm-6 col-lg-3 "%}
{% endcase %}
<div class="row d-flex d-md-none align-items-end">
  <div class="col-8 ">
  	<div class=" pt-4">
	    <h1 class="m-0">
	      {{title}}
	    </h1>
	  </div>
  </div>
  <div class="col-4 text-center">
		<a href="#filter-list" class="btn btn-outline-dark" data-toggle="collapse">
			<i class="fas fa-filter"></i> {{title | strip_html}}
		</a>
	</div>
	<div class="col-12">
		<p>{{short_description}}</p>
	</div>
</div>
<div class="row collapse d-md-flex" id="filter-list">
	<div class="col-12">
		<div class="col-12 pt-3 pb-3">
			{{title}}
		</div>
		{% for filter in filters %}
			<div class="{{css_filter}} ">
				<script type="text/html" class="filters-header-template" data-filter-header-id="{{filter.code}}">
				  <div class="row">
				    <div class="col-12">
				      <div>
				        <div class="h5">{{filter.name}}</div>
				        {% if filter.help %}
				          <a  data-toggle="modal" data-target="#help-{{filter.name | dasherize}}" href="#help-{{filter.name | dasherize}}" class=" help small btn btn-success">
				            {{'search_filter_info' | translate}}
				          </a>
				        {%endif%}
				        </div>
				      </div>
				    </div>
				</script>
				<div
				  data-filter-id="filter-{{filter.code}}"
				  data-filter-widget-type="refinementList"
				  data-filter-attr="{{filter.code}}"
				  data-filter-name="{{filter.name}}"
				  data-show-more-label="{{'search_show_more' | translate}}"
				  data-filter-hit-limit='10'>
				</div>
			</div>
		{% endfor %}
		{% if current_filter == true %}
			<div class="{{css_filter}}" data-filter-widget="current-filter"></div>
		{% endif %}
		{% if price_filters == true %}
			<div class="{{css_filter}}" data-filter-widget="sliderprice"></div>
		{% endif %}
	</div>
	<div class="col-12 d-md-none bg-light text-center pt-2 pb-2">
		<a href="#filter-list" class="btn btn-outline-dark" data-toggle="collapse">
			{{'close' | translate}}
		</a>
	</div>
</div>