<div class="row ">
  <div class="col-12 " id="product-section-reviews">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-lg-5 pb-3 ">
        <h2>{{'product_reviews_title' | translate }} ({{variant.rating.reviews.size}})</h2>
        <div class="text-warning pb-1">
          <div class="text-dark text-left font-weight-bold small">{{'rating_average_rate' | translate}}</div>
          <span class="h1 font-weight-bold">
            {{variant.rating.summary.average | round: 1}}
          </span>
          <span class="h2 text-warning">
            / 5
          </span>
        </div>
        <div class="text-size-6xl">
          {% include 'rating_stars' with rating_value: variant.rating.summary.average, rating_nbr: variant.rating.reviews.size %}
        </div>
        <div class="text-size-1xl">
          {{'rating_comment_count' | translate: count: variant.rating.reviews.size}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">

        {% for rate_count in variant.rating.summary.distribution %}
        <div class="pt-1">
          {% assign rate_count_pct = rate_count.last | times: 1.0 | divided_by: 16  | times: 100%}
          <div class="d-inline-block pr-1 ">
            {{rate_count.first}} <i class="fa fa-star small text-warning"></i>
          </div>
          <div class="d-inline-block w-50">
            <div class=" progress">
               <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{rate_count_pct}}%" aria-valuenow="{{rate_count_pct}}" aria-valuemin="0" aria-valuemax="{{rating.summary.count}}"></div>
            </div>
          </div>
          <div class="d-inline-block">
            <i>{{rate_count.last }}</i>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
        {% paginate variant.rating.reviews by 10 %}
          {% for comment in paginate.collection%}
          <div class="row ">
            <div class="col-12">
              <div class="card mb-0">
                <div class="card-body p-2 p-sm-4">
                  <div class="row">
                    <div class="col-12 col-sm-4 col-md-3 text-center">
                      <div class="fa fa-user-circle-o fa-3x text-secondary">
                      </div>
                      <div class="">{{comment.nickname}}</div>
                      <div class="h1 text-primary font-weight-bold">{{comment.rating | round}}<span class="h2 ">/5</span></div>
                      {% include 'rating_stars' with rating_value: comment.rating %}
                    </div>
                    <div class="col-12 col-sm-8 col-md-9">
                      <strong class="lead">{{comment.name}}</strong>
                      <p>{{comment.comment}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="row">
            <div class="col-12 pt-3">
              <nav aria-label="Page navigation">
                <ul class="pagination pull-right">
                  {% if paginate.previous %}
                  <li class="page-item">
                    <a href="{{paginate.previous.url}}#product-section-advice" aria-label="Previous" class="page-link">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  {% endif %}
                  {% for part in paginate.parts%}
                  <li class="page-item {%if part.title == paginate.current_page%}active{%endif%}">
                    <a href="{% if part.is_link == true%}{{part.url}}#product-section-advice{% endif %}" class="page-link">
                      {{part.title}}
                    </a>
                  </li>
                  {% endfor %}
                  {% if paginate.next %}
                  <li class="page-item">
                    <a href="{{paginate.next.url}}#product-section-advice" aria-label="Next" class="page-link">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        {% endpaginate %}
      </div>
    </div>
  </div>
</div>