<a class="product-title" href="{{product_variant.url_key  | prepend: url_base}}">
  <span class="product-model-name">{{product_variant.model.name}}</span>
  <span class="product-variant-name">{{product_variant.variant.name}}</span>
</a>
<div class="">
  {% if product_variant.brand.name %}
    <div class="product-brand">
      {{product_variant.brand.name }}
    </div>
  {% endif %}
  <div class="product-category">
    <a href="{{ variant.categories.last.url_key | prepend: url_base }}">
      <u>{{ product_variant.categories.last.name}}</u>
    </a>
  </div>
</div>