<div>
  <a class="text-center text-md-left h2" href="{{product_variant.url_key  | prepend: url_base}}">
    {{product_variant.name}}
  </a>
</div>
<div class="">
  <div class="d-none d-sm-inline-block  pr-4">
    {{product_variant.brand.name }}
  </div>
  <div class="d-none d-sm-inline-block  pr-4">
    <a href="{{ variant.categories.last.url_key | prepend: url_base }}">
      <u>{{ product_variant.categories.last.name}}</u>
    </a>
  </div>
</div>