{% assign item_count = cart.item_number | round%}
<div class="well well-sm bg-success">
  <h1 >TOTAL</h1>
  <table class="table">
    <tbody>
      <tr>
        <td class="text-bold">
          <div class="text-size-lg">
            {{'cart_total_subtotal' | translate }}
        </td>
        <td class="text-bold text-right">
          {{cart.item_amount_total | money }}
        </td>
      </tr>
      <tr>
        <td class="text-">{{'cart_total_shipping' | translate }}</td>
        <td class="text- text-right">{{cart.shipping_amount_total | money }}</td>
      </tr>
      <tr>
        <td class="text-bold">
          <div class="text-size-lg">
            {{'cart_total_total' | translate }}
          </div>
          <div class="">
            {{'cart_total_vat' | translate }}
          </div>
        </td>
        <td class="text-bold text-right">
          <div class="text-size-lg">
            {{cart.amount_total | money }}
          </div>
          <div class="">
            {{cart.amount_tax | money }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
