
{% for cart_line in cart.lines.items %}
  {% if product_id == null or cart_line.product.id == product_id %}

    <div class="card mt-3 mb-3 ">
      <div class="card-body row">
        <div class="col-4 col-sm-2 col-md-2 ">
          <img src="{{cart_line.product.images.first.medium.src | default: site.metafields.theme.noimage}}" alt="{{cart_line.product.images.first.medium.alt}}" title="{{cart_line.product.name}}"  class="img-fluid">
        </div>
        <div class="col-8 col-sm-10 col-md-5 h4 p-0">
          <div class="font-weight-bold">{{cart_line.product.model.name}}</div>
          <div class="small text-dark">{{cart_line.product.short_name}}</div>
          <div class="small text-dark">SKU {{cart_line.product.sku}}</div>
          <div class="small text-dark">
            <a href="{{ cart_line.product.url_key  | prepend: url_base }}">
              {{ 'show_more' | translate }}
            </a>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="row text-right m-0 mt-3 mt-xl-0">
            <div class="col-6 col-sm-5 col-md-7 pt-3">
              <form class="cart-line-qty" method="POST" action="/invader/cart/update_item" data-shopinvader-form>
                <input type="hidden" name="invader_success_url" value="{% path_to page %}" />
                <input type="hidden" name="invader_error_url" value="{% path_to page %}" />
                <input type="hidden" name="item_id" value="{{cart_line.id}}">
                {% if readonly == true%}
                <center>
                  <div class="small text-dark">
                  {{ 'cart_quantity' | translate }}
                  </div>
                  {{cart_line.qty | round }}
                </center>
                {% else %}
                  {% include 'product_qty_input' with qty: cart_line.qty %}
                {% endif %}
              </form>
              {% if readonly != true%}
              <form class="cart-line-qty text-left" method="POST" action="/invader/cart/delete_item" data-shopinvader-form>
                <input type="hidden" name="invader_success_url" value="{% path_to page %}" />
                <input type="hidden" name="invader_error_url" value="{% path_to page %}" />
                <input type="hidden" name="item_id" value="{{cart_line.id}}">
                <button type="submit" class="btn btn-link text-dark pl-0">
                  <span class="text-darker lead">x</span> Supprimer l'article
                </button>
              </form>
              {% endif %}
            </div>
            <div class="col-6 col-sm-5 col-md-5 pb-0 pb-sm-3 mt-3 mt-sm-0">
              <div class="small text-dark">
                {{'cart_head_total' | translate }}
              </div>
              <div class="h4 font-weight-bold">
                {% if business == true%}
                  {% include 'currency' | value: cart_line.amount.untaxed %}
                {% else %}
                  {% include 'currency' | value: cart_line.amount.total %}
                {% endif %}
              </div>
              {%if cart_line.discount.rate > 0%}
              <div class="">
                <div class="badge badge-warning p-2 badge-discount small">
                  {{'product_discount_label' | translate}} <b>  -{{cart_line.discount.rate | round }} %</b>
                </div>
              </div>
              {% endif %}
            </div>
            
          </div>
        </div>
      </div>
    </div>
  {% endif%}
{% endfor%}
