<div class="d-flex text-center nav-header-controls" data-shopinvader-container id="header-controls">
  <div class="w-50 pt-2 nav-header-controls-user">
    <div class="text-center">
      <img src="{% editable_file 'user-icon' %}/images/user-icon.png{% endeditable_file %}"  class="d-inline-block">
    </div>
    <div class=" font-weight-bold small">
      {% if current_customer %}
      <div class="btn-group d-block">
        <button type="button" class="btn btn-link btn-sm text-dark font-weight-bold ">{{current_customer.name}}</button>
        <button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu pb-0">
          <a class="dropdown-item small" href="{%path_to account_index%}">
            <i class="fas fa-file-alt text-primary"></i>  {{ "account_order_title" | translate }}
          </a>
          <a class="dropdown-item small" href="{%path_to account_profil%}">
            <i class="fas fa-user text-primary"></i>  {{ "account_profil_title" | translate }}
          </a>
          <a class="dropdown-item small" href="{%path_to account_address%}">
            <i class="fas fa-home text-primary"></i>  {{ "account_address_lists" | translate }}
          </a>
          <a class="dropdown-item small" href="{%path_to account_password%}">
            <i class="fas fa-key text-primary"></i>  {{ "account_password_title" | translate }}
          </a>
          <a class="dropdown-item small" href="{%path_to account_rma%}">
            <i class="fas fa-backward text-primary"></i>  {{ "account_rma_title" | translate }}
          </a>
          <form method="post" action="{% path_to account %}">
            <input type="hidden" name="auth_action" value="sign_out" />
            <input type="hidden" name="auth_content_type" value="customers" />
            <button type="submit" class="btn btn-link dropdown-item  bg-dark text-light pt-2 pb-2" >
              <i class="fa fa-power-off "></i>
              {{ 'account_signout' | translate }}
            </button>
          </form>
        </div>
      </div>
      {% else %}
        <a href="{% path_to account %}" class="btn btn-link btn-sm text-dark font-weight-bold ">
          {{'header_login' | translate }}
        </a>
      {% endif %}
    </div>
  </div>
  <div class="w-50 pt-2 text-dark nav-header-controls-cart" href="{% path_to cart_index%}">
    <div class="text-center">
      <img src="{% editable_file 'cart-icon'%}/images/cart-icon.png{% endeditable_file %}" class="d-inline-block">
      <div class=" cart-item-number">{{ store.cart.lines.count | round | default: 0 }}</div>
    </div>
    <div class="font-weight-bold">
      <a href="#cart-dropdown" class="btn btn-link btn-sm font-weight-bold text-dark">
        {{'header_cart' | translate }}
      </a>
      <div class="cart-dropdown">
        <div class="cart-dropdown-content" id="cart-dropdown">
          {% if store.cart.lines.count != null and store.cart.lines.count != 0 %}
            {% for cart_line in store.cart.lines.items %}
              <div class="cart-dropdown-item">
                <div class="row">
                  <div class="col-4">
                    <img src="{{cart_line.product.images.first.medium.src | default: site.metafields.theme.noimage}}"
                    alt="{{cart_line.product.images.first.medium.alt}}"
                    title="{{cart_line.product.name}}"
                    class="img-fluid">
                  </div>
                  <div class="col-8 text-left">
                    <a href="{{cart_line.product.url_key | prepend: url_base }}" class="text-dark">
                      {{cart_line.product.name}}
                    </a>
                    <div class="small font-weight-bold pt-2">
                      {{cart_line.amount.total | money}} x {{cart_line.qty}}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="text-center lead pt-4 pb-2">
              {% editable_text "cart_dropdown_empty", hint: "Cart empty", fixed: true %}
              Your shopping cart is empty :(
              {% endeditable_text %}
            </div>
          {% endif%}
          <div class=" cart-dropdown-item text-center">
            <a href="{% path_to cart_index %}" class="btn btn-outline-primary">
              {{'header_cart' | translate}}
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
