<div class="d-flex text-center nav-header-controls" data-shopinvader-container id="header-controls">
  <div class="w-50 pt-2 nav-header-controls-item">
    <a href="{% path_to account  %}" class="d-block text-center">
      <img src="{{ site.metafields.theme.user_icon }}"  class="d-inline-block">
    </a>
    <div class=" font-weight-bold small">
      {% if current_customer %}
      <a href="{% path_to account %}" class="btn btn-link btn-sm text-dark font-weight-bold ">
        {{current_customer.name}}
      </a>
      <div class="header-controls-dropdown">
        <div class="header-controls-dropdown-content" id="cart-dropdown">
          <div class="header-controls-dropdown-item text-left">
            <a class="d-block pt-2 pb-2" href="{%path_to account_index%}">
              <i class="fas fa-file-alt text-primary"></i>  {{ "account_order_title" | translate }}
            </a>
            <a class="d-block  pt-2 pb-2" href="{%path_to account_profil%}">
              <i class="fas fa-user text-primary"></i>  {{ "account_profil_title" | translate }}
            </a>
            <a class="d-block  pt-2 pb-2" href="{%path_to account_address%}">
              <i class="fas fa-home text-primary"></i>  {{ "account_address_lists" | translate }}
            </a>
            <a class="d-block pt-2 pb-2" href="{%path_to account_password%}">
              <i class="fas fa-key text-primary"></i>  {{ "account_password_title" | translate }}
            </a>
            <a class="d-block pt-2 pb-2" href="{%path_to account_rma%}">
              <i class="fas fa-backward text-primary"></i>  {{ "account_rma_title" | translate }}
            </a>
            <form method="post" action="{% path_to account %}">
              <input type="hidden" name="auth_action" value="sign_out" />
              <input type="hidden" name="auth_content_type" value="customers" />
              <button type="submit" class="btn btn-link dropdown-item  bg-dark text-light pt-2 pb-2" >
                <i class="fa fa-power-off "></i>
                {{ 'account_signout' | translate }}
              </button>
            </form>
          </div>
        </div>
      </div>
      {% else %}
        <a href="{% path_to account %}" class="btn btn-link btn-sm text-dark font-weight-bold ">
          {{'header_login' | translate }}
        </a>
        <div class="header-controls-dropdown">
          <div class="header-controls-dropdown-content" id="cart-dropdown">
            <div class="header-controls-dropdown-item text-left">
              <form action="{% path_to 'account_login' %}" method="post">
                <input type="hidden" name="auth_action" value="sign_in" />
                <input type="hidden" name="auth_content_type" value="customers" />
                <input type="hidden" name="auth_id_field" value="email" />
                <input type="hidden" name="auth_password_field" value="password" />
                <input type="hidden" name="auth_callback" value="{% path_to account_index %}" />
                <div class="form-group">
                  <label for="auth-email">{{ 'signin_email' | translate }}</label>
                  <input type="email" class="form-control"  placeholder="{{ 'signin_email' | translate }}" name="auth_id" value="{{ params.auth_id }}" required="required">
                </div>
                <div class="form-group">
                  <label for="auth-password">{{ 'signin_password' | translate }}</label>
                  <input type="password" class="form-control" placeholder="{{ 'signin_password' | translate }}" name="auth_password" value="" required="required">
                  <a href="{% path_to forgot_password %}" class="color-white">
                    {{ 'signin_forgotpassword' | translate }}
                  </a>
                </div>
                <div class="text-center">{% if auth_wrong_credentials %}{{ 'signin_wrong' | translate }}{% endif %}</div>
                <div class="text-right">
                  <button type="submit" class="btn btn-dark btn-lg pull-right"><i class="fa fa-lock"></i> {{ 'signin_signin' | translate }}</button>
                </div>
              </form>
            </div>
            <div class="header-controls-dropdown-item">
              <div class="text-center">
                <a href="{% path_to account_register%}" class="btn btn-primary  btn-sm">
                  {{ 'signin_create_account' | translate }} <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </div>
          </div>

        </div>
      {% endif %}
    </div>
  </div>
  <div class="w-50 pt-2 text-dark nav-header-controls-item" href="{% path_to cart_index%}">
    <a class="d-block text-center" href="{% path_to cart_index %}">
      <img src="{{ site.metafields.theme.cart_icon }}" class="d-inline-block">
      <div class=" cart-item-number">{{ store.cart.lines.count | round | default: 0 }}</div>
    </a>
    <div class="font-weight-bold">
      <a href="{% path_to cart_index %}" class="btn btn-link btn-sm font-weight-bold text-dark">
        {{'header_cart' | translate }}
      </a>
      <div class="header-controls-dropdown">
        <div class="header-controls-dropdown-content" id="cart-dropdown">
          {% if store.cart.lines.count != null and store.cart.lines.count != 0 %}
            {% for cart_line in store.cart.lines.items %}
              <div class="header-controls-dropdown-item">
                <div class="row">
                  <div class="col-4">
                    <img src="{{cart_line.product.images.first.medium.src | default: site.metafields.theme.noimage}}"
                    alt="{{cart_line.product.images.first.medium.alt}}"
                    title="{{cart_line.product.name}}"
                    class="img-fluid">
                  </div>
                  <div class="col-8 text-left">
                    <a href="{{cart_line.product.url_key | prepend: url_base }}" class="text-dark">
                      {{cart_line.product.name}}
                    </a>
                    <div class="small font-weight-bold pt-2 text-info">
                      {{cart_line.amount.total | money}} x {{cart_line.qty}}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="text-center lead pt-4 pb-2">
              {% editable_text "cart_dropdown_empty", hint: "Cart empty", fixed: true %}
              Your shopping cart is empty :(
              {% endeditable_text %}
            </div>
          {% endif%}
          <div class="header-controls-dropdown-item text-center">
            <a href="{% path_to cart_index %}" class="btn btn-outline-primary">
              {{'header_cart' | translate}}
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
