<div class="col-xs-3 text-center"  id="cart-controls" data-shopinvader-container>
  <div class="row row-same-height">
    <a class="col-xs-6 text-primary text-bold header-login" href="{% path_to 'account' %}">
      <i class="fa fa-user fa-3x  fa-fw"></i>
      <div>
      {% if current_customer %}

        <form method="post" action="{% path_to account %}">
          <input type="hidden" name="auth_action" value="sign_out" />
          <input type="hidden" name="auth_content_type" value="customers" />
          <span class="text-danger">{{current_customer.name}}</span> - <button type="submit" class="btn btn-link " >
            <i class="fa fa-power-off"></i>
            {{ 'account_signout' | translate }}
          </button>

        </form>
      {% else %}
        {{'header_login' || translate }}
      {% endif %}
      </div>
    </a>
    <div class="col-xs-6 text-primary text-bold header-cart display-side-cart" >
      <i class="fa fa-shopping-basket fa-3x fa-fw"></i><div>{{'header_cart' || translate }}</div>
      <span class="label label-warning header-cart-itemcount text-">{{store.cart.item_number | round}}</span>
    </div>
  </div>
</div>
