{% block 'header'%}
<div class="container-fluid navbar-header">
  <div class="row d-none d-lg-block bg-light pt-1 pb-1 text-right">
    <ul class="nav-container list-inline  small col-12 mb-1">
      <li class="list-inline-item mr-4">
        {% for locale_code in locales %}
          {% assign url_home = "/" %}
          {% if locale_code != default_locale %}
            {% assign url_home = url_home | append: locale_code %}
          {% endif%}
          <a href="{{url_home}}" class="p-1 text-uppercase text-gray {% if locale == locale_code%} font-weight-bold text-underline  {%endif%}">
            {{locale_code}}
          </a>
        {% endfor%}
      </li>
      <li class="list-inline-item mr-4 text-gray font-weight-bold">
        {% if site.metafields.phone_number != '' %}
          <a href="{{site.metafields.store.phone_number_link}}" class="text-gray font-weight-bold text-underline">
            <i class="fa fa-phone mr-1"></i> <b>Need help ?</b>{{site.metafields.store.phone_number}}
          </a>
          {{site.metafields.store.phone_number_hours}}
        {% endif %}
      </li>
      <li class="list-inline-item text-gray font-weight-bold mr-4">
        {% editable_text free_charge %}
          <i class="fa fa-truck mr-1"></i> <b>Free delevery</b> From 50 $
          {% endeditable_text %}
      </li>
      <li class="list-inline-item d-none d-md-inline-block text-gray font-weight-bold">
        <i class="fa fa-check mr-1"></i> Ordered before 4PM, <b>delivered by tomorrow</b>
      </li>
    </ul>
  </div>
  <div class="nav-container">
    <div class="row mb-md-2 mt-md-2">
      <div class="col-6 col-sm-4 col-md-3 order-1">
        <a class="navbar-brand" href="{% path_to home %}" class="p-4">
          {% if site.metafields.theme.logo %}
          <img src="{{ site.metafields.theme.logo }}" alt="{{ site.name }}"  class="img-fluid "/>
          {% endif %}
        </a>
      </div>
      <div class="col-md-5 col-lg-6 pl-2 order-3 order-md-2">
        <div class="row d-none d-md-flex">
          <div class="col-12">
            <form method="GET" action="{% path_to search %}" class="input-group" >
              <input type="text" class="form-control search-input" id="header-search-input" placeholder="Search for..." aria-label="Search for..." aria-describedby="Product search" autocomplete="off" value="{{params.q}}" name="q" data-autosubmit>
              <div class="input-group-prepend" >
                <button class="btn btn-link btn-lg p-0" name="submit" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <div class="small font-weight-light text-center pt-2">
                {% editable_text "baseline", hint: "Website header baseline" %}
                May the discount be with you !
                {% endeditable_text %}
              </div>
              <div id="header-search-hit" >
                <div id="header-search-product-title">
                  <div class="row">
                    <div class="col-12 search-title">
                      <span class="h2">
                        {{ 'search_product' | translate }}
                      </span>
                      <span class="nb_hits"></span>
                    </div>
                  </div>
                </div>
                <div id="header-search-product-link">
                  <div class="row">
                    <div class="col-12 text-right pt-2">
                      <a data-href="{% path_to search %}" href="#" class="btn btn-primary btn-search-product">
                        {{ 'search_product_all' | translate }}
                        <span class="nb_hits"></span>
                      </a>
                    </div>
                  </div>
                </div>
                <div id="header-search-product-empty">
                  <div class="row">
                    <div class="col-12 text-center">
                      {{ 'search_product_empty' | translate }}
                    </div>
                  </div>
                </div>
                <div id="header-search-category-title" class=" ">
                  <div class="row">
                    <div class="col-12">
                      <div class="h2 text-dark">
                        {{ 'search_category' | translate }}
                      </div>
                    </div>
                  </div>
                </div>
                <div id="header-search-category-empty">
                  <div class="row">
                    <div class="col-12 text-center">
                      {{ 'search_category_empty' | translate }}
                    </div>
                  </div>
                </div>
                <div id="header-search-category-link">
                  <div class="row">
                    <div class="col-12 text-right ">
                      <a href="#" class="btn btn-success">
                        {{ 'search_category_all' | translate }}
                        <span class="nb_hits"></span>
                      </a>
                    </div>
                  </div>
                </div>
                <div id="header-search-hit-content">
                  <div class="row separator-right ">
                    <div class="aa-dataset-product col-12  col-md-8 pt-2 pb-2"></div>
                    <div class="aa-dataset-category col-12 col-md-4 pt-2 pb-2 bg-light d-none d-md-block"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-8 col-md-4 col-lg-3 order-2 order-md-3  text-right mb-2">
        <div class="d-none d-md-block">
          {% include 'header_controls' %}
        </div>
        <a href="#mobile-menu" class="btn btn-primary d-inline-block d-md-none"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fas fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="row ">
      <div class="col-12  menu-categories d-none d-md-block">
        <div id="navbar" class="navbar-collapse ">
          <ul class="nav justify-content-start categories-menu">
          {% with_scope level: 0%}
            {% for category in store.categories %}
            <li class="{% if page.fullpath == page_in_nav.fullpath %}active{% endif %}"  data-toggle="display-hover" data-target="#menu-{{category.id}}">
              <a href="{{category.url_key  | prepend: url_base }}" id="cat-{{category.id}}"  aria-haspopup="true" aria-expanded="false">
                {{ category.name }}
              </a>
              <div class="dropdown-category" id="menu-{{category.id}}">
                <ul class="row" >
                  {% for category_l1 in category.childs %}
                  <li class="col-3">
                    <a  href="{{category_l1.url_key  | prepend: url_base }}" class="text-uppercase text-primary">
                      {{category_l1.name}}
                    </a>
                    <ul>
                      {% for category_l2 in category_l1.childs %}
                      <li>
                        <a href="{{category_l2.url_key | prepend: url_base}}" class="text-dark">
                          {{category_l2.name}}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            {% endfor %}
          {% endwith_scope%}
            {% for nav_page in site.pages%}
              {% if nav_page.listed? == true and nav_page.depth <= 1 %}
                <li class=" align-items-end">
                  <a href="{% path_to nav_page%}" class="align-self-end text-dark">{{nav_page.title}}</a>
                </li>
              {% endif %}
            {% endfor%}
          </ul>
        </div>
      </div>
    </div>
    {% with_scope level: 0%}
    {% for category_l0 in store.categories %}
    <div class="row">
      <div class="col-12 bg-white border dropdown-category" id="menu-{{category_l0.id}}">
        <div class="row">
          <div class="col-12">
            <div class="h4">{{category_l0.name}}</div>
          </div>
        </div>
        <ul class="row" >
          {% for category_l1 in category_l0.childs %}
          <li class="col-3">
            <a  href="{{category_l1.url_key  | prepend: url_base }}" class="text-uppercase text-dark font-weight-bold">
              {{category_l1.name}}
            </a>
            <ul>
              {% for category_l2 in category_l1.childs %}
              <li>
                <a href="{{category_l2.url_key | prepend: url_base}}" class="text-dark">
                  {{category_l2.name}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
    {% endwith_scope %}
    <div class="collapse nav-mobile" id="mobile-menu">
      <ul class="list-group">
        {% with_scope level: 0%}
        {% for category in store.categories %}
        <li class="list-group-item">
          <a href="#collapse-cat-{{category.id}}" id="cat-{{category.id}}" class="text-uppercase" data-toggle="collapse">
            {{ category.name }}
          </a>
          <div class="collapse" id="collapse-cat-{{category.id}}">
            <ul class="list-group "  >
              {% for subcategory in category.childs %}
              <li class="list-group-item border-left-0 border-right-0">
                <a href="{{subcategory.url_key  | prepend: url_base }}" id="cat-{{subcategory.id}}" class="text-uppercase">
                  {{ subcategory.name }}
                </a>
              </li>
              {% endfor %}
              <li class="list-group-item border-left-0 border-right-0">
                <a href="{{category.url_key  | prepend: url_base }}" id="cat-{{category.id}}" class="text-uppercase">
                  {{'show_category' | translate}}
                </a>
              </li>
            </ul>
          </div>
        </li>
        {% endfor %}
        {% endwith_scope%}
        {% for nav_page in site.pages%}
          {% if nav_page.listed? == true and nav_page.depth <= 1 %}
            <li class=" list-group-item">
              <a href="{% path_to nav_page%}" class="text-dark text-uppercase">{{nav_page.title}}</a>
            </li>
          {% endif %}
        {% endfor%}
        <li class="list-group-item bg-light pb-1 pt-1">
          {% include 'header_controls' %}
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
