<div class="row justify-content-center" id="payment-sips">
  <div class="col-12 col-md-8 col-lg-12 col-xl-8 d-flex">
     <div class="text-primary pr-2 h4">
      <i class="fas fa-long-arrow-alt-right"></i>
    </div>
    <div>
      <b class="h5 font-weight-bold">
        {{'payment_method_banktransfert_title' | translate }}
      </b>
      {{payment_method.description}}
    </div>
  </div>
  <div class="col-12 col-sm-5 col-md-4 col-lg-5 col-xl-4 text-center">
    <button  id="button-pay-bank-transfer" type="submit" class="btn btn-outline-primary"
      data-paymentmode="{{payment_method.id }}"
      data-cancelurl="{{base_url}}{% path_to page %}"
      data-target="{{target}}"
      data-quotation="{{ quotation_id}}">
      {{'payment_method_banktransfert_btn' | translate }}
    </button>
  </div>
</div>
<script defer="true">
  'use strict';
  window.addEventListener("load", function() {
    var quotation_id = {{ quotation_id | default: null | json}};

    var button = document.getElementById("button-pay-bank-transfer");
    button.addEventListener('click', function(event){
      event.preventDefault();
      var options = {
        target: button.dataset.target,
        payment_mode_id: button.dataset.paymentmode,
      };
      if(button.dataset.quotation != '') {
        options.quotation_id = button.dataset.quotation;
      }
      $('.main-loader').removeClass('d-none');
        fetch('/invader/payment_manual/add_payment', {
          credentials: "include",
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(options)
        }).then(function(result) {
          if(result.ok) {
            document.location = "{{ base_url }}{% path_to success_handle %}";
          }
          else {
            $('.main-loader').addClass('d-none');
            $('#generic-error-message').modal('show');
          }
        }).catch(function(error) {
          $('.main-loader').addClass('d-none');
          $('#generic-error-message').modal('show');
        });
    });
  }, false);
</script>