<div class="row justify-content-center" id="payment-sips">
  <div class="col-12 col-md-8 col-lg-12 col-xl-8 d-flex">
     <div class="text-primary pr-2 h4">
      <i class="fab fa-paypal"></i>
    </div>
    <div>
      <b class="h5 font-weight-bold">
        {{'payment_method_paypal_title' | translate }}
      </b>
      {% if payment_method.description %}
        <p class="description">{{payment_method.description}}</p>
      {% endif %}
    </div>
  </div>
  <div class="col-12 col-sm-5 col-md-4 col-lg-5 col-xl-4 text-center">
    <button  id="button-pay-paypal" type="submit" class="btn btn-outline-primary btn-block"
      data-paymentmode="{{payment_method.id }}"
      data-successurl="{{success_url}}"
      data-cancelurl="{{base_url}}{% path_to page %}"
      data-target="{{target}}"
      data-quotation="{{ quotation_id}}">
      {{'payment_method_paypal_btn' | translate }}
    </button>
  </div>
</div>
<script defer="true">
  'use strict';
  window.addEventListener("load", function() {
    var button = document.getElementById("button-pay-paypal");
    button.addEventListener('click', function(event){
      event.preventDefault();
      var options_paypal = {
        target: button.dataset.target,
        payment_mode_id: button.dataset.paymentmode,
        return_url: window.location.origin + '/invader/payment_paypal/normal_return?force_apply_redirection=true&success_redirect=' + 
        button.dataset.successurl + "&cancel_redirect=" + button.dataset.cancelurl + "?canceled_payment=paypal&target=" + button.dataset.target,
        cancel_url: button.dataset.cancelurl
      };

      if(button.dataset.quotation != '') {
        options_paypal.quotation_id = button.dataset.quotation;
      }

      $('.main-loader').removeClass('d-none');
      fetch('/invader/payment_paypal/checkout_order', {
        credentials: "include", 
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(options_paypal)
      }).then(function(result) {
        if(result.ok) {
          result.json().then(function(response) {
            if(response.redirect_to) {
              document.location = response.redirect_to;
            }
            else {
              $('.main-loader').addClass('d-none');
              $('#generic-error-message').modal('show');
            }
          }).catch(function(error) {
            $('.main-loader').addClass('d-none');
            $('#generic-error-message').modal('show');
          });
        }
        else {
          $('.main-loader').addClass('d-none');
          $('#generic-error-message').modal('show');
        }
      }).catch(function(error) {
        $('.main-loader').addClass('d-none');
        $('#generic-error-message').modal('show');
      });
    });
  }, false);
</script>
