<div class="card bg-white m-0 h-100 " data-target="{% path_to product %}">
  <div class="card-body p-3 p-xl-2 text-center">
    <b>
      <a href="{% path_to product %}" class="card-title">
        {{product.model_name}}
      </a>
    </b>
    <div class="card-text">
      <small>{{product.variant_name}}</small>
      <i>{{product.brand.name}}</i>
    </div>
    {%if product.rating_value%}
      {% include 'rating_stars'
         with rating_value: product.rating_value,
         rating_nbr: product.rating_nbr
      %}
    {% else %}
      &nbsp;
    {% endif%}
  </div>
  {% if product.images.size > 1 %}
    <div class="product-thumbnail-slide">
      <div class="carousel slide " id="slide-{{product.objectID}}">
        <div class="carousel-inner" >
          {% assign image_id = 0  %}
          {% for image in product.images %}
          <div class="item {%if forloop.index == 1 %}active{%endif%}" data-target="#slide-{{product.objectID}}" data-slide-number="{{forloop.index}}">
            <img src="{{image.medium}}" alt="" class="card-img-top"/>
          </div>
          {% endfor %}
        </div>
        <a class="left carousel-control" href="#slide-{{product.objectID}}" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#slide-{{product.objectID}}" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  {% else %}
    <img class="group list-group-image card-img-top" src="{{product.images.first.medium  | default: site.metafields.theme.noimage }}" alt="" />
  {% endif %}
  {%if product.price.discount > 0%}
    <div class="discount-value">
      {{"product_discount_label" | translate }}
      <strong class="text-bold">
        {{product.price.discount }} % !
      </strong>
    </div>
  {%endif%}
  <div class="card-body p-3 p-xl-2">
    <div class="text-primary text-center">
      <div class="small">
        {{'product_price_from' | translate}}
      </div>
      <strong class="h5">
      {%if product.price.discount > 0%}
        <s>
          {{product.price.original_value | money }}
        </s>
      {% endif %}
        <span class="{%if product_price.discount > 0%} text-warning{% endif %}">
          {{product.price.value | money}}
        </span>
      </strong>
    </div>
  </div>
  {% comment%}
  <div class="">
    <form class="" action="#" method="post"  data-shopinvader-form>
    {% if product.variant_count > 1%}
      <input type="hidden" name="display_variant" value="{{product.objectID}}">
      <a class="btn btn-primary btn-lg btn-block" href="{{product.url_key | prepend: url_base}}">
        {{'product_display_variant' | translate}}
      </a>
    {% else %}
      <input type="hidden" name="item_qty" value="1">
      <input type="hidden" name="action_method" value="post">
      <input type="hidden" name="action_proxy" value="cart/item">
      <input type="hidden" name="product_id" value="{{product.objectID}}">

      {%if product.price.discount > 0%}
        <button type="submit" class="btn btn-danger btn-lg btn-block" >
          {{'product_add_to_cart_discount' | translate}}
        </button>
      {% else %}
        <button type="submit" class="btn btn-success btn-lg btn-block" >
          {{'product_add_to_cart' | translate}}
        </button>
      {% endif %}
    {% endif %}
    </form>
  </div>
  {% endcomment%}
</div>
