
{% if product.images.size > 1 %}
<div class="carousel slide" data-ride="carousel" id="slide-{{product.objectID}}" data->
  <!-- Carousel items -->
  <div class="carousel-inner" role="listbox">
    {% for image in product.images %}
    <div class="carousel-item {%if forloop.index == 1 %}active{%endif%}" data-target="#slide-{{product.objectID}}">
      <img src="{{image.medium}}" alt="" class="d-block img-fluid w-100"/>
    </div>
    {% endfor %}
    <a class="carousel-control-prev" href="#slide-{{product.objectID}}" role="button" data-slide="prev">
      <i class="fa fa-chevron-left text-dark"></i>
    </a>
    <a class="carousel-control-next" href="#slide-{{product.objectID}}" role="button" data-slide="next">
      <i class="fa fa-chevron-right text-dark"></i>
    </a>
  </div>
</div>
{% for image in product.images %}
<div class="{%if forloop.index == 1 %}active{%endif%} carousel-thumbails"   data-target="#slide-{{product.erp_id}}" data-slide-number="{{forloop.index}}">
  <a class="" href="#slide-{{product.erp_id}}" role="button" data-slide-number="{{forloop.index}}">
    <img src="{{image.small}}" alt=""/>
  </a>
</div>
{% endfor %}
{% else %}
<img class="group list-group-image" src="{{product.images.first.large  | default: site.metafields.theme.noimage }}" alt="" />
{% endif %}
