{% if product.images.size > 1 %}
  <div class="carousel slide" data-ride="carousel" id="slide-{{product.objectID}}">
    <div class="carousel-inner" role="listbox">
      {% for image in product.images %}
        <div class="carousel-item {%if forloop.index == 1 %}active{%endif%}">
          {{image.large.src | json}}
          <img src="{{image.large.src}}" alt="{{image.large.alt}}" class="d-block img-fluid w-100"/>
        </div>
      {% endfor %}
      <a class="carousel-control-prev" href="#slide-{{product.objectID}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#slide-{{product.objectID}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="mt-1 mb-2">
    {% for image in product.images %}
    <div data-target="#slide-{{product.objectID}}" data-slide-to="{{forloop.index0}}" class="{%if forloop.index == 1 %}active{%endif%} border carousel-thumbails">
      <img src="{{image.small.src}}" alt="{{image.small.alt}}" class="img-fluid"/>
    </div>
    {% endfor %}
  </div>
{% else %}
  <img class="img-fluid" src="{{product.images.first.large.src | default: site.metafields.theme.noimage }}" alt="" />
{% endif %}
