<div class="card product-thumbnail bg-white m-0 h-100 pb-1 {%if display_horizontal == true%}product-thumbnail-horizontal{%endif%}" >
  <div class="product-thumbnail-img">
    {% if product.images.size > 1 %}
    <div id="slide-{{product.objectID}}" class="carousel slide p-2" data-ride="carousel" data-interval="false">
      <div class="carousel-inner" role="listbox">
        {% for image in product.images %}
        <div class="carousel-item {%if forloop.index == 1 %}active{%endif%}" data-target="#slide-{{product.objectID}}">
          <img src="{{image.medium}}" alt="" class="d-block img-fluid"/>
        </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#slide-{{product.objectID}}" role="button" data-slide="prev">
        <i class="fa fa-chevron-left text-dark"></i>
      </a>
      <a class="carousel-control-next" href="#slide-{{product.objectID}}" role="button" data-slide="next">
        <i class="fa fa-chevron-right text-dark"></i>
      </a>
    </div>
    {% else %}
      <img class="group list-group-image card-img-top p-2" src="{{product.images.first.medium  | default: site.metafields.theme.noimage }}" alt="" />
    {% endif %}
    {%if product.price.discount > 0%}
    <div class="pb-1">
      <div class="badge badge-warning p-2 badge-discount">
        {{'product_discount_label' | translate}} <b>  -{{product.price.discount | round }} %</b>
      </div>
    </div>
    {%endif%}
  </div>
  <div class="product-thumbnail-price card-body p-0 p-md-3 p-xl-2" data-link="{{product.url_key  | prepend: url_base }}">
    <span class="small">
      <small>{{'product_price_from' | translate}} </small>
    </span>
    <div class="d-vertical-only">
      <strong class="h5">
        <span class="font-weight-bold {%if product.price.discount > 0%}text-warning{%else%}text-dark{% endif %}">
          {{product.price.value | money}}
        </span>
        {%if product.price.discount > 0%}
          <span class="text-dark small">
            <s>{{product.price.original_value | money }}</s>
          </span>
        {% endif %}
      </strong>
    </div>
    <div class="d-horizontal-only">
      <strong class="product-price-value">
        <span class="font-weight-bold {%if product.price.discount > 0%}text-warning {%else%}text-dark{% endif %}">
          {{product.price.value | money}}
        </span>
        {%if product.price.discount > 0%}
          <span class="text-dark small">
            <s>{{product.price.original_value | money }}</s>
          </span>
        {% endif %}
      </strong>
      <form class="" action="{%path_to page%}" method="post" data-shopinvader-form>
        <input type="hidden" name="action_proxy" value="cart/item">
        <input type="hidden" name="action_method" value="post">
        <input type="hidden" name="item_qty" value="1">
        <input type="hidden" name="product_id" value="{{product.objectID }}">
        <button type="submit" name="button" class="btn btn-primary btn-block product-add-to-cart ">
          <i class="fa fa-shopping-basket"></i> Add to cart
        </button>
      </form>
    </div>

  </div>
  <div class="product-thumbnail-name card-body p-1 p-sm-3 p-xl-2">
    <div class="font-weight-bold">
      <a href="{{product.url_key  | prepend: url_base }}" class="card-title">
        {{product.model_name}}
        <div class="small">{{product.variant_name}}</div>

      </a>
    </div>
    <a href="{{url_base}}{% path_to product %}#product-section-reviews" >
    {%if product.rating.summary.size > 0 %}
      {% include 'rating_stars'
      with rating_value: product.rating.summary.average
      %}
    {% endif%}
    </a>
    <div class="card-text small">
      <a href="{{product.categories.last.url_key  | prepend: url_base }}" class="text-dark"><u>{{product.categories.last.name}}</u></a>
      {% if product.brand.name%}
        - <a href="#" class="text-underline text-dark"><u>{{product.brand.name}}</u></a>
      {% endif %}
    </div>
    {% if product.variant_count > 0%}
    <div class="small pb-2">
      <a href="{{url_base}}{% path_to product %}" class="badge badge-secondary p-1">
        {{'product_variants' | translate}}
      </a>
    </div>
    {% endif%}
    <div class="small d-horizontal-only">
      {{product.short_description}}
    </div>
  </div>
  <div class="product-thumbnail-btn d-vertical-only pr-2 pl-2">
    <form class="" action="{%path_to page%}" method="post" data-shopinvader-form>
      <input type="hidden" name="action_proxy" value="cart/item">
      <input type="hidden" name="action_method" value="post">
      <input type="hidden" name="item_qty" value="1">
      <input type="hidden" name="product_id" value="{{product.objectID }}">
      <button type="submit" name="button" class="btn btn-primary btn-block product-add-to-cart ">
        <i class="fa fa-shopping-basket"></i> Add to cart
      </button>
    </form>
  </div>
</div>
