{% assign variant_path = '?ref=' | append: product.sku %}
{% if with_richdata == true%}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{product.model.name  | json}},
      "url": "{{product.url_key  | prepend: url_base }}?ref={{product.sku}}",
      "image": [
        "{{image.first.medium.src}}"
       ],
      "sku": {{product.sku | json}},
      "offers": {
        "@type": "Offer",
        "priceCurrency": "EUR",
        "price": "{{product.price.value}}"
      }
    }
  </script>
{% endif%}
{% assign layout = 'grid' %}
{% assign product_url = product.url_key  | prepend: url_base | append:'?ref='| append: product.sku%}
<div class="product-thumbnail {{layout}}" id="product-hit-{{layout}}-{{product.id}}">
  <div class="image">
    <img
    src="{{product.images.first.medium.src  | default: site.metafields.theme.noimage }}"
    alt="{{product.images.first.medium.alt}}"
    data-link="{{product_url}}"/>
  </div>
  <div class="content">
    <div class="description">
      <a href={{product_url}}  class="title">
        {{product.model.name}}
      </a>
      <div class="short_description">
        {{product.short_description}}
      </div>
      {% if product.categories.size > 0 %}
        <a class="category">
          {{product.categories[0].name}}
        </a>
      {% endif %}
    </div>
    <div class="price">
      {% assign discount_css = '' %}
      {% if product.price.discount > 0 %}
        <div class="price_orignal">
          {% include 'currency' with value: product.price.original_value %}
        </div>
        {% assign discount_css = 'discounted' %}
      {% endif %}
      <div class="price_value {{discount_css}}">
        {% include 'currency' with value: product.price.value %}
      </div>
      <div class="add-to-cart">
        <a href={{product_url}} class="btn-product-page">
          {{ 'product_details' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>

