{% assign product_price = product.price.public_tax_inc %}
<div class="well well-full-height well-white">
  <div class="well-content">
    <a href="{{product.url_key | prepend: url_base}}">
      <div class="row">
        <div class="col-xs-12 product-image">
        {% if product.images.size > 1 %}
          <div class="product-thumbnail-slide">
            <div  class="carousel slide" id="slide-{{product.erp_id}}">
              <!-- Carousel items -->
              <div class="carousel-inner" >
                {% assign image_id = 0  %}
                {% for image in product.images %}
                <div class="item {%if forloop.index == 1 %}active{%endif%}"   data-target="#slide-{{product.erp_id}}" data-slide-number="{{forloop.index}}">
                  <img src="{{image.medium}}" alt=""/>
                </div>
                {% endfor %}
              </div>
              <a class="left carousel-control" href="#slide-{{product.erp_id}}" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#slide-{{product.erp_id}}" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
        {% else %}
          <img class="group list-group-image img-responsive" src="{{product.images.first.medium  | default: site.metafields.theme.noimage }}" alt="" />
        {% endif %}
        {%if product_price.discount_value > 0%}
          <div class="discount-value">
            {{"product_discount_label" | translate }} <strong class="text-bold">
              {{product_price.discount_value }} % !
            </strong>
          </div>
        {%endif%}
        </div>
        <div class="col-xs-12 product-desc">
          <div class="text-size-1xl text-bold">
            {{product.name}}
          </div>
          <div class="">
            <small>{{product.variant_name}}</small>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <p class="group inner list-group-item-text">
                {{product.brand}}
              </p>
            </div>
            <div class="col-xs-6">
            {%if product.rating_value%}
              {% include 'rating_stars' with rating_value: product.rating_value, rating_nbr: product.rating_nbr%}
            {% else %}
              &nbsp;
            {% endif%}
            </div>
          </div>
          <div class="row product-price-line">
            <div class="col-xs-12 text-left">
              {{'product_price_from' | translate}}
              {%if product_price.discount_value > 0%}
                <s>
                  {{product_price.discount_old_price | money }}
                </s>
              {% endif %}
              <div class="text-heading text-size-4xl">
                <span class=" {%if product_price.discount_value > 0%} text-warning{% endif %}">
                  {{product_price.value | money}}
                </span>
              </div>
            </div>
          </div>
        </div>


      </div>
    </a>
  </div>
  <div class="well-footer text-center">

    <div class="product-btn-addtocart">
      <form class="" action="#" method="post"  data-shopinvader-form>
      {% if product.variant_count > 1%}
        <input type="hidden" name="display_variant" value="{{product.objectID}}">
        <a class="btn btn-default btn-lg" href="{{product.url_key | prepend: url_base}}">{{'product_display_variant' | translate}}</a>
      {% else %}
        <input type="hidden" name="item_qty" value="1">
        <input type="hidden" name="action_proxy" value="cart/item">


        {%if product_price.discount_value > 0%}
          <button type="submit" class="btn btn-danger btn-lg" >{{'product_add_to_cart_discount' | translate}}</button>
        {% else %}
          <button type="submit" class="btn btn-success btn-lg" >{{'product_add_to_cart' | translate}}  <i class="fa fa-shopping-basket"></i></button>
        {% endif %}
      {% endif %}
      </form>
    </div>
  </div>
</div>
