{% if variant %}
  <div class="product-variant-thumbnail" up-target=".product-page"  up-href="{{variant.url_key  | prepend: url_base }}?ref={{variant.sku}}">
    <div class="image">
      <img class="img-fluid" src="{{variant.images.first.medium.src  | default: site.metafields.theme.noimage }}" alt="{{variant.images.first.medium.alt}}" />
    </div>
    <div>
      <div class="price" data-link="{{variant.url_key  | prepend: url_base }}?ref={{variant.sku}}">
        <span class="value">
          {% include 'currency' | value: variant.price.value %}
        </span>
        {%if variant.price.discount > 0%}
          <span class="discount">
            <s>{% include 'currency' | value: variant.price.original_value %}</s>
          </span>
        {% endif %}
      </div>
      <div class="name">
        <a href="{{variant.url_key  | prepend: url_base }}?ref={{variant.sku}}" up-target=".product-page"  class="text-dark">
          {% for attr in variant.variant_attributes %}
            <span class="badge badge-secondary">
              {{attr[0]}} {{attr[1] | downcase | replace: attr[0], ''}}
            </span>
          {% endfor %}
        </a>
      </div>
    </div>
  </div>
{% endif %}
