
<div class="w-100">
  <ul class="list-inline product-liste-section w-100 text-left text-uppercase">
    <li class="list-inline-item {% if step == 'overview' %}active{% endif %} ">
      <a href="#product-section-overview" data-scrollto="#product-section-overview">
       {{'product_overview_tab' | translate }}
      </a>
    </li>
    {% if variant.technical_details.size > 0 %}
    <li class="list-inline-item {% if step == 'spec' %}active{% endif %} text-uppercase">
      <a href="#product-section-spec" data-scrollto="#product-section-spec">
       {{'product_spec_tab' | translate }}
      </a>
    </li>
    {% endif %}
    {% if variant.up_sellings.size > 0%}
    <li class="list-inline-item {% if step == 'up_sellings' %}active{% endif %} text-uppercase">
      <a href="#product-section-up-sellings" data-scrollto="#product-section-up-sellings">
       {{'product_up_sellings_tab' | translate }}
      </a>
    </li>
    {% endif %}
    {% if variant.cross_sellings.size > 0%}
    <li class="list-inline-item {% if step == 'cross_sellings' %}active{% endif %} text-uppercase">
      <a href="#product-section-cross-sellings" data-scrollto="#product-section-cross-sellings">
       {{'product_cross_sellings_tab' | translate }}
      </a>
    </li>
    {% endif %}
    {% if variant.rating.reviews.size > 0 %}
    <li class="list-inline-item {% if step == 'reviews' %}active{% endif %} text-uppercase">
      <a href="#product-section-reviews" data-scrollto="#product-section-reviews">
       {{'product_reviews_tab' | translate }}
      </a>
    </li>
    {% endif %}
  </ul>
</div>
