<form method="POST" action="/invader/cart/add_item" data-shopinvader-form>
  <input type="hidden" name="invader_success_url" value="{{product.url_key  | prepend: url_base}}?addtocart_product_id={{product.objectID}}" />
  <input type="hidden" name="invader_error_url" value="{{product.url_key  | prepend: url_base}}" />
  <input type="hidden" name="product_id" value="{{product.objectID }}">
    <div class="row">
      <div class="col-12  ">
        <b class="text-right">
          {%if product.price.discount > 0%}
          <div class="text-dark">
            <s>{{product.price.original_value | money }}</s>
          </div>
          {% endif %}
          <span class="h2 pull-right font-weight-bold {%if product.price.discount > 0%}text-warning{% else %} text-primary{% endif %}">
            {{ product.price.value | money}}
          </span>
          {% if product.pricelist.tax_included == true %}
          <sub class="text-size-base">{{'product_vat_inc' | translate}}</sub>
          {% endif %}
        </b>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="">
          {{product.name}}
        </div>
        <div class="small text-dark">
          {{'product_code' | translate }}
          <strong>{{product.sku}}</strong>
        </div>
      </div>
    </div>
    <div class="row form-horizontal product-form-qty">
      <label for="qty" class="col-4 col-sm-5 col-xl-12 control-label text-right text-xl-center text-size-lg">
        {{'product_quantity' | translate}}
      </label>
      <div class="col-8 col-xl-12">
        {% include 'product_qty_input' with qty:1 %}
      </div>
    </div>
    <div class="row">
    {% if product.stock_state != null and  product.stock_state != ''%}
      <div class="col-12 text-left product-stock-state">
        <span class="{{product.stock_state}} text-size-1xl">
          {{product.stock_state | prepend: 'product_stock_state_' | translate}}
        </span>
      </div>
    {% endif %}
      <div class="col-12  text-right ">
      {%if product.price.discount > 0%}
        <button type="submit" class="btn btn-warning btn-lg btn-block">
          {{"product_add_to_cart_discount" | translate }}
        </button>
      {%else%}
        <button type="submit" class="btn btn-success btn-lg btn-block">
          {{"product_add_to_cart" | translate }}
        </button>
      {% endif %}
      </div>
    </div>
</form>
