<div class="card product-thumbnail bg-white m-0 h-100 pb-1 {%if display_horizontal == true%}product-thumbnail-horizontal{%endif%}" >
  <div class="product-thumbnail-img">
      <img class="group list-group-image card-img-top p-2" src="{{product.images.first.medium  | default: site.metafields.theme.noimage }}" alt="" />
  </div>
  <div class="product-thumbnail-price card-body p-3 p-xl-2" data-link="{{url_base}}{% path_to product %}">
    <span class="small">
      <small>{{'product_price_from' | translate}} </small>
    </span>
    <strong class="h5">
      <span class="font-weight-bold {%if product.price.discount > 0%}text-warning{%else%}text-dark{% endif %}">
        {{product.price.value | money}}
      </span>
      {%if product.price.discount > 0%}
        <span class="text-dark small">
          <s>{{product.price.original_value | money }}</s>
        </span>
      {% endif %}
    </strong>
  </div>
  <div class="product-thumbnail-name card-body p-3 p-xl-2">
    <div class="font-weight-bold">
      <a href="{{url_base}}{% path_to product %}" class="card-title">
        {{product.model_name}}
        <div class="small">{{product.variant_name}}</div>
      </a>
    </div>
    
  </div>
</div>
