<div class="product-cart-card">
  <div class="badge badge-warning p-2">
    {{'product_discount_label'  | translate}} <b>  
    -{{product_variant.price.discount | round }} %</b>
  </div>
  <div class="product-cart-price">
    {%if product_variant.price.discount > 0%}
        <s class="price-original">{% include 'currency' | value: product_variant.price.original_value %}</s>
      {% endif %}
      <span class="price-value">
        {% include 'currency' | value: product_variant.price.value %}
      </span>
      {% if product_variant.pricelist.tax_included == true %}
      <sub>{{'product_vat_inc' | translate}}</sub>
    {% endif %}
  </div>
  <div class="variant-name">
    {{product_variant.name}}
  </div>
  <div class="sku">
    {{'product_code' | translate }}
    <strong>{{product_variant.sku}}</strong>
  </div>
  <form method="POST" action="/invader/cart/add_item" data-shopinvader-form class="add-to-cart">
    <input type="hidden" name="invader_success_url" value="{{product_variant.url_key  | prepend: url_base}}?addtocart_product_id={{product_variant.id}}" />
    <input type="hidden" name="invader_error_url" value="{{product_variant.url_key  | prepend: url_base}}" />
    <input type="hidden" name="product_id" value="{{product_variant.id }}">

    <div class="row form-horizontal product-form-qty d-none d-sm-block">
      <label for="qty" class="col-4 col-sm-5 col-xl-12 control-label text-right text-xl-center">
        {{'product_quantity' | translate}}
      </label>
      <div class="col-8 col-xl-12">
        {% include 'product_qty_input' with qty:1 %}
      </div>
    </div>
    <div class="row ">
    {% if product_variant.stock_state != null and  product_variant.stock_state != ''%}
      <div class="col-12 text-left product-stock-state">
        <span class="{{product_variant.stock_state}} text-size-1xl">
          {{product_variant.stock_state | prepend: 'product_stock_state_' | translate}}
        </span>
      </div>
    {% endif %}
      <div class="col-12  text-right d-none d-sm-block">
      {%if product_variant.price.discount > 0%}
        <button type="submit" class="btn btn-warning btn-lg btn-block">
          {{"product_add_to_cart_discount" | translate }}
        </button>
      {%else%}
        <button type="submit" class="btn btn-success btn-lg btn-block">
          {{"product_add_to_cart" | translate }}
        </button>
      {% endif %}
      </div>
    </div>
  </form>
</div>