
{% if elasticsearch_params %}
  {% assign search_locale = store.locale_mapping | downcase %}
  {% action 'get search parameters' %}
    setProp('search_indexes', JSON.parse(getProp('elasticsearch_params.indices')));
  {% endaction %}
  <script type="text/javascript">
    var searchkit_translation = {
      'facets.view_all': {{'filter_all' | translate | json}}
    };
  </script>
  <div class="d-none d-md-flex">
    <div class="container" id="search-bar"
      data-product-noimage={{ site.metafields.theme.noimage | json }}
      data-elastic-url={{ elasticsearch_params.url | json }}
      data-locale={{ store.locale_mapping | json }}
      {% for role in search_indexes %}
        data-elastic-index-{{role.name}}={{role.index | append:"_" | append: search_locale  | json}}
      {% endfor %}
    >
    </div>
  </div>
{% endif %}