---
title: Shipping address | Shopinvader demo
slug: address
handle: cart_address
position: 4
listed: false
published: true
is_layout: false
---
{% extends "layouts/checkout" %}

{% block content/main %}
{% assign input_specific_address = "" %}
{% assign collapse_specific_address = "" %}

{% if store.cart.shipping.address.id != store.cart.invoicing.address.id %}
  {% assign input_specific_address = "checked='checked'"%}
  {% assign collapse_specific_address = 'show' %}
{% endif %}

<div  data-shopinvader-container id="cart-address">
  <form method="post" action="/invader/cart/update" id="cart_address">
    <input type="hidden" name="invader_success_url" value="{% path_to cart_checkout %}" />
    <input type="hidden" name="invader_error_url" value="{% path_to page %}" />
    <input type="hidden" name="step[current]" value="{{ page.handle }}">
    <input type="hidden" name="step[next]" value="cart_checkout">
    <div class="row">
      <div class="col-lg-8 col-xl-9">

        <h2>{{'cart_shipping_address' | translate}}</h2>
        {% include "address_book" with
          input_group: 'shipping',
          input_name: 'shipping[address][id]',
          address_list:  store.addresses,
          selected_address_id : store.cart.shipping.address.id,
          display_delector: true,
          display_add: true,
          display_delete: false
        %}
        <div class="checkbox">
          <label>
            <input type="checkbox" id="use_specific_address" {{input_specific_address}} value="1" data-toggle="collapse" data-target="#invoice_address" autocomplete="off">
            {% editable_text checkout_button, fixed: true, rows: 1 %}
              Use different invoice address.
            {% endeditable_text %}
          </label>
        </div>
        <div class="collapse {{collapse_specific_address}}" id="invoice_address">
          <h2>{{'cart_invoice_address' | translate}}</h2>
          {% include "address_book" with
            input_group: 'invoicing',
            input_name: 'invoicing[address][id]',
            address_list:  store.addresses,
            selected_address_id : store.cart.invoicing.address.id,
            display_delector: true,
            display_add: true,
            display_delete: false
          %}
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 mb-4">
        {% include 'cart_total' with cart: store.cart  %}
        <button class="btn btn-primary text-lg btn-lg  btn-block btn-block-xs" type="submit">
          {% editable_text checkout_button, fixed: true, rows: 1 %}
            Continue <i class="fa fa-angle-right"></i>
          {% endeditable_text %}
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
{% block 'javascripts' %}
  {{ 'address_autocomplete.js' | javascript_tag }}
  <script src="https://maps.googleapis.com/maps/api/js?key={{site.metafields.google.maps_api_key}}&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}
