---
title: Cart Step 5
position: 104
slug: validation
handle: cart_end
position: 4
listed: false
published: true
is_layout: false
seo_title: thank you for your order | Shopinvader demo
sections_content:
  cart:
    settings:
      large_size: false
      submit_label: Continue
      cart_current_step: cart_index
      cart_next_step: cart_login
      cart_next_page: cart/login
      origin_data: last_sale
    blocks:
    - type: cell_text
      settings:
        cell_size: 100
        content: "<h1>Thank you !</h1><p>Thank you for your order.</p>"
    - type: cart_lines
      settings:
        cell_size: 70
        theme: none
        display_border: true
        table_layout: card
    - type: cart_address
      settings:
        cell_size: 50
        address_type: shipping
        title: "<h3>Shipping address</h3>"
        is_child: true
    - type: cart_address
      settings:
        cell_size: 50
        address_type: invoicing
        title: "<h3>Invoice address</h3>"
        is_child: true
    - type: cart_summary
      settings:
        cell_size: 30
        title: My order
        display_lines: false
        theme: none
        display_border: false
        display_submit: false
---
{% extends 'layouts/default' %}
{% block 'googletag_data_layer'%}
  window.dataLayer = window.dataLayer || []
  dataLayer.push({
     'transactionId': {{store.last_sale.name | json}},
     'transactionAffiliation': {{site.name | json}},
     'transactionTotal': {{store.last_sale.amount.total | json}},
     'transactionTax': {{store.last_sale.amount.tax | json}},
     'transactionShipping': {{store.last_sale.shipping.amount.total | json}},
     'transactionProducts': [
     {% for line in store.last_sale.lines.items%}
      {
         'sku': {{line.product.sku | json}},
         'name': {{line.product.name | json}},
         'category': '',
         'price': {{line.amount.price_unit | json}},
         'quantity':  {{line.qty | json}}
       }
       {% if forloop.last != true%},{%endif%}
     {% endfor %}
     ]
  });
{%endblock%}

{% block 'body/content' %}
  {% assign order = store.last_sale%}
  {% if order != null %}
    <div class="pt-5">
      {% section 'cart' %}
    </div>
  {% else %}
    <div class="container pt-3 pb-5 " id="cart" data-shopinvader-container >
      <div class="alert alert-info mb-5 mt-5 lead text-center">
        {{"cart_empty" | translate}}
      </div>
      <a class="btn btn-outline-dark  font-weight-bold text-uppercase btn-lg" href="{% path_to home %}">
        {{"cart_continue_shopping" | translate}} <i class="fa fa-chevron-right"></i>
      </a>
    </div>
    
  {% endif %}
  {% sections_dropzone %}
{% endblock %}


{% block 'content' %}

  {% assign order = store.last_sale%}

  <div class="container main-content">
    <div class="row">
      <div class="col-12">
        <div class="p-4">
          {% include 'cart_breadcrumbs' with cart_step: 4%}
          <h1 class="text-3xl bold">
          {% editable_text 'title', rows: 1, format:'html' %}
            Thank you !
          {% endeditable_text %}</h1>
          <p>
          {% editable_text 'message', rows: 1, format:'html' %}
          Thank you for your order
          {% endeditable_text %}
          </p>
          <p>
            {% editable_text 'signature', rows: 1, format:'raw' %}
              <br>
              <b>The Shopinvader demo team</b>
            {% endeditable_text %}
          </p>
        </div>
      </div>
    </div>
    {% if order.payment.method.show_description_after_validation == true%}
    <div class="row justify-content-center">
      <div class="alert alert-warning col-12 col-lg-8 text-center">
        <strong class="text-2xl">{{order.payment.method.name}}</strong>
          {{order.payment.method.description}}
      </div>
    </div>
    {% endif %}

    <div class="p-4 mt-4 bg-light ">
      <div class="row">
        <div class="col-12 mb-4 pb-2 border border-top-0 border-left-0 border-right-0">
          <h2 class="display-4 text-primary ">
            {% editable_text 'product', rows: 1, format:'raw' %}
            Your order
            {% endeditable_text %}
          </h2>
          <div class="h4 pb-2">
            {{ 'cart_order_ref' | translate }} <strong>{{order.name}}</strong>
          </div>
          <div class="h4">
            {{'cart_carrier_title' | translate}} <b>{{order.shipping.carrier.name}}</b>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <h3 class="bold">{{'cart_shipping_address' | translate}}</h3>
          <address>
            <div class="bold">
              {{order.shipping.address.name}}
            </div>
            <div>{{order.shipping.address.street}}</div>
            <div>{{order.shipping.address.street2}}</div>
            <div>
              <span>{{order.shipping.address.zip}}</span>,
              <span>{{order.shipping.address.city}}</span>
            </div>
            <div>{{order.shipping.address.country.name}}</div>
            <div>{{order.shipping.address.phone}}</div>
          </address>
        </div>
        <div class="col-6 ">
          <h3 class="bold">{{'cart_invoice_address' | translate}}</h3>
          <address>
            <div class="bold">
              {{order.invoicing.address.name}}
            </div>
            <div>{{order.invoicing.address.street}}</div>
            <div>{{order.invoicing.address.street2}}</div>
            <div>
              <span>{{order.invoicing.address.zip}}</span>,
              <span>{{order.invoicing.address.city}}</span>
            </div>
            <div>{{order.invoicing.address.country.name}}</div>
            <div>{{order.invoicing.address.phone}}</div>
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-8 col-xl-9">
          {% include 'cart_list'
             with cart: order,
             readonly: true,
             with_image: false,
          %}
        </div>
        <div class="col-12  col-lg-4 col-xl-3">
          {% assign main_title= 'cart_order_ref' | translate | append: order.name%}
          {% include 'cart_total'
             with cart: order,
             main_title: main_title
          %}
        </div>
      </div>
    </div>
  {%if store.customer %}
  <div class="row ">
    <div class="col-12">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="text-3xl title-separator">
            {% editable_text 'follow_order_title', rows: 1, format:'raw' %}
              Track your order
            {% endeditable_text %}
          </h2>
          <p>
          {% editable_text 'follow_order_message', rows: 10, format:'html' %}
            You can track your order with your account
          {% endeditable_text %}
          </p>
          <a href="{%path_to account_index %}" class="btn btn-primary text-lg">
          {% editable_text 'signin', rows: 1, format:'text' %}
            Sign in <i class="fas fa-chevron-right"></i>
          {% endeditable_text %}
          </a>
        </div>
      </div>
    </div>
  </div>
  {%endif%}
  </div>
{% endblock %}
