---
title: Cart - Checkout
seo_title: Checkout | Shopinvader demo
slug: checkout
handle: cart_checkout
position: 4
listed: false
published: true
is_layout: false
editable_elements:
  main/title: Checkout
---
{% extends 'layouts/checkout' %}

{% block content/main %}
  {% assign selected_payment = store.cart.payment.available_methods.items | first %}
    <div>
      <div class="row">
        <div class="col-lg-8 col-xl-9">
          <h2> {{ 'cart_carrier_title' | translate }}</h2>
          <div class="card-deck-wrapper">
            {% if store.cart.shipping.available_carriers.count > 0 %}
              {% assign selected_carrier = store.cart.shipping.selected_carrier %}

              <form method="post" action="/invader/cart/add_carrier" id="cart_carrier_form" data-shopinvader-form>
                <input type="hidden" name="invader_success_url" value="{% path_to page %}" />
                <input type="hidden" name="invader_error_url" value="{% path_to page %}" />
                <div class="card-deck">
                  {%for carrier in store.cart.shipping.available_carriers.items %}
                  <div class="card shadow-sm">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-xs-8 col-sm-12 radio text-lg">
                          <label>
                            <input data-autosubmit type="radio" value="{{carrier.id | round}}" {%if carrier.id == selected_carrier.id %} checked="checked" {%endif%} name="carrier[id]" autocomplete="off"/>
                            <b>{{carrier.name}}</b>
                          </label>
                        </div>
                        <div class="col-xs-4  col-sm-12 text-center text-size-2xl">
                          {% if carrier.price > 0 %}
                            {% include 'currency' | value: carrier.price %}
                          {% else %}
                            {{ 'cart_free_delivery' | translate }}
                          {% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-4 col-sm-12 text-center">
                        {% if carrier.logo_url  %}
                          <img src="{{carrier.logo_url | theme_image_url }}" />
                        {% endif %}
                        </div>
                        <div class="col-xs-8 col-sm-12">
                          {{carrier.description}}
                        </div>
                      </div>
                    </div>
                  </div>
                  {%endfor%}
                </div>
                <div class="pt-4">
                  <h2>{{ 'cart_comment_title' | translate }}</h2>
                  <textarea
                  name="message" rows="4" cols="80" class="form-control"
                  placeholder="{{cart_comment_placeholder | translate}}"
                  autocomplete="off"></textarea>
                </div>
              </form>

              {% include 'cart_quotation' %}
              <div class="pt-4">
                <h2>{{ 'cart_payment_title' | translate }}</h2>
                {{'cart_payment_desc' | translate }}

                <div class="card  shadow-sm card-payment text-center">
                  <div class="card-header ">
                    <ul class="nav nav-tabs card-header-tabs nav-justified" role="tablist">
                    {% for payment_method in store.cart.payment.available_methods.items%}
                      <li class="nav-item "  >
                        <a class="nav-link {% if selected_payment.id == payment_method.id %} active{%endif%}"  data-toggle="tab" href="#tab-{{payment_method.id}}"  role="tab" aria-controls="{{payment_method.id}}" aria-selected="{% if selected_payment.id == payment_method.id %}true{%else%}false{%endif%}">
                          {{'payment_method_' | append: payment_method.name | downcase | underscore | translate}}
                        </a>
                      </li>
                    {% endfor%}
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content" id="payment-tabs">
                    {% for payment_method in  store.cart.payment.available_methods.items%}
                      <div class="tab-pane fade {% if selected_payment.id == payment_method.id %}show active{%endif%}" id="tab-{{payment_method.id}}" role="tabpanel" aria-labelledby="home-tab">
                        {% case payment_method.code %}
                        {% when 'stripe' %}
                          {% include 'payment_stripe' with payment_method,
                            amount: store.cart.amount.total,
                            action: '/invader/cart/add_payment' %}
                        {% when 'adyen' %}
                          {% include 'payment_adyen' with payment_method,
                            amount: store.cart.amount.total,
                            action: '/invader/cart/add_payment' %}
                        {% when 'bank_transfert' %}
                          {% include 'payment_bank_transfert' with payment_method,
                            amount: store.cart.amount.total,
                            action: '/invader/cart/add_payment' %}
                        {% else %}
                          {% include 'payment_check' with payment_method,
                            amount: store.cart.amount.total,
                            action: '/invader/cart/add_payment' %}
                        {% endcase %}
                      </div>
                    {% endfor%}

                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center pt-2 pb-2">
                <i class="fa fa-lock text-success"></i>
                {{'cart_payment_secure' | translate }}
              </div>
              {% else %}
                <div class="col-xs-12 text-lg text-center">
                  <div class="alert alert-warning">
                    {{ 'cart_carrier_unavailable' | translate }}
                  </div>
                </div>
              {% endif %}
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 mb-4" data-shopinvader-container id="cart-total">
          {% include 'cart_total' with cart: store.cart  %}
          {% if store.cart.shipping.size > 0%}
          <div class="card ">
            <div class="card-body">
              <h3>
                <span class="text-primary small"><i class="fas fa-truck"></i></span>
                {{'cart_shipping_address' | translate}}
              </h3>
              <address>
                <div class="font-weight-bold">
                  {{store.cart.shipping.address.name}}
                </div>
                <div>{{store.cart.shipping.address.street}}</div>
                <div>{{store.cart.shipping.address.street2}}</div>
                <div>
                  <span>{{store.cart.shipping.address.zip}}</span>,
                  <span>{{store.cart.shipping.address.city}}</span>
                </div>
                <div>{{store.cart.shipping.address.country.name}}</div>
                <div>{{store.cart.shipping.address.phone}}</div>
              </address>
            </div>
          </div>
          {% endif %}
          {% if store.cart.invoicing.address != null %}
          <div class="card">
            <div class="card-body">
              <h3><i class="fas fa-file-alt small text-primary"></i> {{'cart_invoice_address' | translate}}</h3>
              <address>
                <div class="font-weight-bold">
                  {{store.cart.invoicing.address.name}}
                </div>
                <div>{{store.cart.invoicing.address.street}}</div>
                <div>{{store.cart.invoicing.address.street2}}</div>
                <div>
                  <span>{{store.cart.invoicing.address.zip}}</span>,
                  <span>{{store.cart.invoicing.address.city}}</span>
                </div>
                <div>{{store.cart.invoicing.address.country_id.name}}</div>
                <div>{{store.cart.invoicing.address.phone}}</div>
              </address>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
{% endblock %}
