---
name: Category sitemap
class: category_sitemap
icon: footer
keep_name: true
keep_icon: true
id: category-sitemap
settings:
- label: title
  id: title
  type: text
  html: true
- label: Background
  id: background
  type: image_picker
default:
  settings:
    title: Categories
    background: images/banner-categories.jpg
  blocks: []

---

<div class="container-fluid" id="{{ section.anchor_id }}" {{ section.locomotive_attributes }}>
  <div class="row categories-list"  style="background-image:url({{section.settings.background}})">
    <div class="col-12">
      <div class="container">
        <ul class="row  pt-2 pb-2 list-inline">
        {%with_scope level: 0%}
          {% for category_lv1 in store.categories%}
          <li class="col-12 col-sm-6 col-md-4 pt-2 pb-4 pb-md-2list-inline-item m-0">
            <a href="{{category_lv1.url_key | prepend: url_base}}" class="h4 text-white font-weight-bold text-uppercase">
              {{category_lv1.name}}
            </a>
            <ul class="">
              {% for category_lv2 in category_lv1.childs%}
              <li class="">
                <a href="{{category_lv2.url_key | prepend: url_base}}" class="">
                  {{category_lv2.name}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        {% endwith_scope %}
        </ul>
      </div>
    </div>
  </div>
</div>