---
{
  "name": "Cookies Manager",
  "class": "",
  "icon": "modal",
  "keep_name": true,
  "keep_icon": true,
  "settings": [
    {
      "label": "Enable cookies manager",
      "id": "cookies_manager",
      "type": "checkbox"
    },
    {
      "label": "Title",
      "id": "title",
      "type": "text"
    },
    {
      "label": "Accept button label",
      "id": "accept_label",
      "type": "text"
    },
    {
      "label": "Message",
      "id": "message",
      "type": "text",
      "html": true,
      "nb_rows": 10
    },
    {
      "label": "Option Link label",
      "id": "option_label",
      "type": "text"
    },
    {
      "label": "Modal title",
      "id": "modal_title",
      "type": "text"
    },
    {
      "label": "Enable label",
      "id": "enable_label",
      "type": "text"
    },
    {
      "label": "Disable label",
      "id": "disable_label",
      "type": "text"
    },
    {
      "label": "Close label",
      "id": "close_label",
      "type": "text"
    },
    {
      "label": "Save label",
      "id": "save_label",
      "type": "text"
    }
  ],
  "blocks": [
    {
      "name": "Cookies Info",
      "type": "cookies_info",
      "keep_icon": true,
      "keep_name": true,
      "settings": [
        {
          "label": "ID",
          "id": "identifier",
          "type": "text"
        },
        {
          "label": "Title",
          "id": "title",
          "type": "text"
        },
        {
          "label": "Message",
          "id": "message",
          "type": "text",
          "html": true,
          "nb_rows": 10
        },
        {
          "label": "Desactivated",
          "id": "desactivated",
          "type": "checkbox"
        },
        {
          "label": "Enable script",
          "id": "enable_script",
          "type": "text",
          "nb_rows": 20
        },
        {
          "label": "Can be disabled",
          "id": "disable_script",
          "type": "text",
          "nb_rows": 20
        },
        {
          "label": "Cookies name",
          "id": "cookies_name",
          "type": "text",
          "nb_rows": 20
        }
      ]
    }
  ],
  "default": {
    "settings": {
      "title" : "A notice about cookies",
      "accept_label": "Accept",
      "option_label": "See all options",
      "message": "By allowing these third party services, you accept their cookies and the use of tracking technologies necessary for their proper functioning.",
      "modal_title": "Manage cookies",
      "disable_label": "Disable",
      "enable_label": "Enable",
      "close_label": "Close",
      "save_label": "Save",
      "cookies_manager": true
    },
    "blocks": [
      {
        "type": "cookies_info",
        "settings": {
          "identifier": "local",
          "title": "Shop Invader demo web store",
          "message": "Cookies necessary to provide basic service of this website.",
          "desactivated": false,
          "enable_script": "",
          "disable_script": ""
        }
      },
      {
        "type": "cookies_info",
        "settings": {
          "identifier": "gtag",
          "title": "Google Analytics (gtag.js)",
          "message": "The audience measurement services used to generate useful statistics attendance to improve the site. <br>More information on <a href='support.google.com'>support.google.com</a>",
          "desactivated": true,
          "cookies_name": "__utma,__utmb,__utmc,__utmz,_ga,_gid"
        }
      }
    ]
  }
}
---
{% if section.settings.cookies_manager == true %}
  {%if params.cookies_manager_submit%}
    {% action 'set cookies preferences' %}
      setSessionProp("disabled_cookie", null);
      var disabled_cookie = getProp("params.disabled_cookie");
      setSessionProp("disabled_cookie", disabled_cookie);
    {% endaction %}
  {% endif %}

  {% if session.cookies_accepted != true%}
    <div class="fixed-bottom  text-light collapse show cookies-manager-banner" id="cookies-manager-msg">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8 col-xl-9 order-1">
            <div class="h2">
              {{section.settings.title}}
            </div>
          </div>
          <div class="col-12  col-md-4 col-xl-3 order-3 order-md-2 pt-4 pt-md-0 pb-md-3">
            <button type="button" class="btn btn-primary btn-block"  data-toggle="collapse" data-target="#cookies-manager-msg">
              {{section.settings.accept_label}}
            </button>
          </div>
          <div class="col-12 order-2 order-md-3 ">
            <p>
              {{section.settings.message}}
            </p>
            <u>
              <a class="text-light pt-1" data-toggle="modal" href="#cookie-manage-modal">
                {{section.settings.option_label}}
              </a>
            </u>
          </div>
        </div>
      </div>
    </div>
  {% endif%}

    <!-- Modal -->
    <div class="modal fade cookies-manager-modal" id="cookie-manage-modal" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header bg-dark text-light">
            <div class="h5 modal-title text-light">
              {{ section.settings.modal_title }}
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="POST" name="cookies_manager" action="{% path_to page %}">
            <div class="modal-body">
              {% for cookie in section.blocks %}
                {% if session.disabled_cookie contains cookie.settings.identifier == true%}
                  {% assign disabled_cookie =  true  %}
                {% else %}
                  {% assign disabled_cookie =  false  %}
                {% endif %}
                <div class="card mb-2">
                  <div class="card-body p-3">
                    <div class="row">
                      <div class="col-12">
                        <div class="h4">
                          {{ cookie.settings.title }}
                        </div>
                      </div>
                      <div class="col-10">
                        {{ cookie.settings.message }}
                      </div>
                      {% if cookie.settings.desactivated == true %}
                      <div class="col-auto text-right">
                        <div class="cookie-manager-slider">

                          <input type="checkbox" name="disabled_cookie[]" id="cookies_manager_{{cookie.settings.identifier}}_enable" value="{{cookie.settings.identifier}}" {% if disabled_cookie == true%} checked="checked" {% endif%} autocomplete="off"/>
                          <label class="cookie-manager-slider" for="cookies_manager_{{cookie.settings.identifier}}_enable">
                            <span class="on">
                              {{ section.settings.enable_label }}
                            </span>
                            <span class="off">
                              {{ section.settings.disable_label }}
                            </span>
                          </label>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                {{ section.settings.close_label }}
              </button>
              <input type="submit" class="btn btn-success" name="cookies_manager_submit" value="{{ section.settings.save_label }}">
            </div>
          </form>
        </div>

      </div>
    </div>

    <script>
      {% if session.disabled_cookie %}
        function delCookie(name)   {
          var path = ";path=" + "/";
          var domain = ";domain=" + "."+document.location.hostname;
          var expiration = "Thu, 01-Jan-1970 00:00:01 GMT";
          document.cookie = name + "=" + path + domain + ";expires=" + expiration;
        }
        var excluded_cookies = [];
      {% endif %}

      {% assign excluded_cookies = "" %}
      {% for cookie in section.blocks %}
        {% if session.disabled_cookie contains cookie.settings.identifier  %}
          {% if cookie.settings.cookies_name != ""%}
            {% assign excluded_cookies = excluded_cookies | append: cookie.settings.cookies_name | append:',' %}
          {% endif %}
          {{ cookie.settings.disable_script }}
        {% else %}
          {{ cookie.settings.enable_script }}
        {% endif %}
      {% endfor%}
    </script>

    {% if session.disabled_cookie %}
      <script>
        function delCookie(name)   {
          var path = ";path=" + "/";
          var domain = ";domain=" + "."+document.location.hostname;
          var expiration = "Thu, 01-Jan-1970 00:00:01 GMT";
          document.cookie = name + "=" + path + domain + ";expires=" + expiration;
        }
        var excluded_cookies = {{excluded_cookies | split :',' | json}};
        for(i in excluded_cookies) {
          delCookie(excluded_cookies[i]);
        }
      </script>
    {% endif %}
    {% action 'set cookies accepted' %}
      setSessionProp("cookies_accepted", true);
    {% endaction %}
{% endif %}
