---
name: Dynamic carousel
class: ''
icon: image_text
keep_icon: true
settings:
- label: Section Name
  id: section_name
  type: text
blocks:
- name: Slide
  type: slide
  settings:
  - label: Title
    id: title
    type: text
    html: true
  - label: Image position
    id: img_position
    type: select
    options:
    - label: Image on right
      value: right
    - label: Image on left
      value: left
  - label: Content
    id: content
    type: text
    html: true
  - label: Picture
    id: picture
    type: image_picker

---
<div class="container-fluid">
  <div class="row pt-2 pb-2 ">
    <div class="col-12 ">
      <div id="dynamic-carousel" class="carousel slide" data-ride="carousel" data-interval="10000" data-pause="hover">
        <div class="carousel-inner">
          {% for slide in section.blocks %}
            {% if slide.settings.img_position == 'left'%}
              {% assign order_content = 'order-md-1' %}
              {% assign order_image = 'order-md-0' %}
            {% else %}
              {% assign order_content = 'order-md-0' %}
              {% assign order_image = 'order-md-1' %}
            {% endif %}
            <div class="carousel-item {% if forloop.index0 == 0 %}active{% endif %}">
              <div class="row justify-content-center align-items-center slide-inner">
                <div class="col-12 col-md-7 col-xl-6 justify-content-center {{ order_content }}">
                  <div class="d-flex ">
                    <a class="carousel-control-prev d-none d-sm-flex " href="#dynamic-carousel" role="button" data-slide="prev">
                      <i class="fas fa-chevron-left text-dark fa-2x"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                    <div class="slide-content">
                      <h1 class="pt-md-5 pb-md-5 slide-title">
                        {{ slide.settings.title }}
                      </h1>
                      <p>
                        {{ slide.settings.content }}
                      </p>
                    </div>
                    <a class="carousel-control-next d-none d-sm-flex" href="#dynamic-carousel" role="button" data-slide="next">
                      <i class="fas fa-chevron-right text-dark fa-2x"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
                <div class="col-10 col-md-5 col-xl-4 slide-image {{ order_image }}">
                  <img src="{{ slide.settings.picture }}" class="img-fluid">
                </div>
              </div>
            </div>  
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


