---
{
  "name": "Header",
  "class": "",
  "icon": "header",
  "keep_name": true,
  "keep_icon": true,
  "id": "header",
  "settings": [
    {
      "label": "Fixed header",
      "id": "fixed_position",
      "type": "checkbox"
    }
  ],
  "blocks": [
    //Brand Logo
    {
      "name": "Brand Logo",
      "type": "logo",
      "settings": [
        {
          "label": "Align image",
          "id": "align_img",
          "type": "select",
          "keep_name": true,
          "options": [
            {"label": "Left","value": "text-left"},
            {"label": "Right","value": "text-right"},
            {"label": "Center", "value": "text-center"}
          ]
        },
        {
          "label": "Brand logo",
          "id": "picture",
          "type": "image_picker"
        },
        {
          "label": "Stretch",
          "id": "stretch",
          "type": "checkbox"
        }
      ]
    },
    //Text
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "label": "Content",
          "id": "content",
          "type": "text",
          "html": true,
          "nb_rows": 10
        },
        {
          "label": "Stretch",
          "id": "stretch",
          "type": "checkbox"
        }
      ]
    },
    //Cart icon
    {
      "name": "Cart icon",
      "type": "cart_icon",
      "settings": [
        {
          "label": "side icon",
          "id": "inline_display",
          "type": "checkbox"
        },
        {
          "label": "icon",
          "id": "icon",
          "type": "image_picker"
        },
        {
          "label": "label",
          "id": "label",
          "type": "text"
        },
        {
          "label": "Display icon in mobile navbar",
          "id": "display_sm_icon",
          "type": "checkbox"
        }
      ]
    },
    //Link
    {
      "name": "Link",
      "type": "link_icon",
      "settings": [
        {
          "label": "side icon",
          "id": "inline_display",
          "type": "checkbox"
        },
        {
          "label": "icon",
          "id": "icon",
          "type": "image_picker"
        },
        {
          "label": "label",
          "id": "label",
          "type": "text"
        },
        {
          "label": "URL",
          "id": "link_url",
          "type": "url"
        },
        {
          "label": "Display icon in mobile navbar",
          "id": "display_sm_icon",
          "type": "checkbox"
        }
      ]
    },
    //Account icon
    {
      "name": "Account icon",
      "type": "user_icon",
      "settings": [
        {
          "label": "side icon",
          "id": "inline_display",
          "type": "checkbox"
        },
        {
          "label": "icon",
          "id": "icon",
          "type": "image_picker"
        },
        {
          "label": "label",
          "id": "label",
          "type": "text"
        },
        {
          "label": "Display icon in mobile navbar",
          "id": "display_sm_icon",
          "type": "checkbox"
        }
      ]
    },
    //Search
    {
      "name": "Search",
      "force_name": true,
      "type": "search",
      "settings": [
        {
          "label": "Force alignment",
          "id": "align_block",
          "type": "select",
          "keep_name": true,
          "options": [
            {"label": "None", "value": "auto"},
            {"label": "Left", "value": "left"},
            {"label": "Right", "value": "right"}
            
          ]
        },
        {
          "label": "Placeholder",
          "id": "placeholder",
          "type": "text"
        },
        {
          "label": "Baseline",
          "id": "baseline",
          "type": "text",
          "html": true,
          "nb_rows": 2
        },
        {
          "label": "icon",
          "id": "icon",
          "type": "image_picker"
        },
        {
          "label": "Display icon in mobile navbar",
          "id": "display_sm_icon",
          "type": "checkbox"
        }
      ]
    },
    //Currency navigation
    {
      "name": "Currency navigation",
      "force_name": true,
      "type": "currency_selector",
      "settings": [
        {
          "label": "Stretch",
          "id": "stretch",
          "type": "checkbox"
        }
      ]
    },
    //Categories navigation
    {
      "name": "Categories navigation",
      "force_name": true,
      "type": "navigation",
      "settings": [
        {
          "label": "Stretch",
          "id": "stretch",
          "type": "checkbox"
        }
      ]
    },
    //Language selector
    {
      "name": "Language selector",
      "force_name": true,
      "type": "local_selector",
      "settings": [
        {
          "label": "Stretch",
          "id": "stretch",
          "type": "checkbox"
        }
      ]
    },
    //Row
    {
      "name": "Row",
      "force_name": true,
      "type": "row",
      "settings": [
        {
          "label": "Cells Alignment",
          "id": "cells_align",
          "type": "select",
          "options": [
            {"label": "Left","value": "start"},
            {"label": "Right", "value": "end"},
            {"label": "Center","value": "center"},
            {"label": "Space Between", "value": "between"},
            {"label": "Around", "value": "around"}
          ]
        },
        {
          "label": "Theme color",
          "id": "theme_color",
          "type": "select",
          "keep_name": true,
          "options": [
            {"label": "Light","value": "light"},
            {"label": "Dark","value": "dark"},
            {"label": "None","value": "none"}
          ]
        },
        {
          "label": "Full width",
          "id": "full_width",
          "type": "checkbox"
        },
        {
          "label": "Hide on mobile",
          "id": "display_xs",
          "type": "checkbox",
          "default": false
        },
        {
          "label": "Margin",
          "id": "margin",
          "type": "checkbox",
          "default": true
        }
      ]
    }
  ],
  "default": {
    "settings": {
      "theme_color": "transparent",
      "fixed_position": false,
      "large_size": true,
      "message": "<center><i class='fa fa-gift'></i> Save 10% with voucher code <b>SAVE10</b></center>",
      "cells_align": "arround"
    },
    "blocks": [
      {
        "type": "row",
        "settings": {
          "cells_align": "center",
          "theme_color": "dark",
          "full_width": true,
          "margin": false
        }
      },
      {
        "type": "text",
        "settings": {
          "content": "<center><i class='fa fa-gift'></i> Save 10% with voucher code <b>SAVE10</b></center>",
          "stretch": true
        }
      },
      {
        "type": "currency_selector",
        "settings": {
        }
      },
      {
        "type": "local_selector",
        "settings": {
        }
      },
      {
        "type": "row",
        "settings": {
          "cells_align": "between",
          "theme_color": "none",
          "full_width": true,
          "vertical_align": "center",
          "display_xs": true
        }
      },
      {
        "type": "logo",
        "settings": {
          "picture": "/images/shop-logo.png",
          "align_block": "right",
          "align_img": "center",
          "stretch": true
        }
      },
      {
        "type": "search",
        "settings": {
          "label": "Search product...",
          "display_sm_icon": true,
          "icon": "/images/search-icon.png"
        }
      },
      {
        "type": "user_icon",
        "settings": {
          "icon": "/images/user-icon.png",
          "inline_display":  true,
          "label": "Sign-in",
          "display_sm_icon": false
        }
      },
      {
        "type": "cart_icon",
        "settings": {
          "icon": "/images/cart-icon.png",
          "inline_display":  true,
          "label": "My cart",
          "display_sm_icon": true
        }
      },
      {
        "type": "row",
        "settings": {
          "cells_align": "start",
          "theme_color": "light",
          "full_width": true,
          "vertical_align": "center",
          "display_xs": true
        }
      },
      {
        "type": "navigation",
        "settings": {
          "link_url": ""
        }
      }
    ]
  }
}
---
{% assign category_html = ""%}
{% action "set current currency"%}
  var params = getProp('params');
  var current_currency_code = getCookiesProp('currency');
  var currencies_format = getProp('store.currencies_format');
  if(params.hasOwnProperty('new_currency')) {
    current_currency_code = params.new_currency;
  }
  currency = currencies_format[Object.keys(currencies_format)[0]];
  if(currencies_format.hasOwnProperty(current_currency_code) ) {
    var currency = currencies_format[current_currency_code];
  }

  if(getCookiesProp('currency') != currency.code) {
    setCookiesProp('currency', {
      'value': currency.code,
      'path': '/',
      'max_age': 3153600
    });
  }
  setProp('currency',  currency);
{% endaction %}
<style media="all">
  
  {% for currency_format in store.currencies_format %}
    {% assign currency_format_code = currency_format.first %}
    {% if currency_format_code == currency.code %}
    .currency-list .currency-format:first-child {
      display: none;
    }
    .currency-list .currency-format[data-currency={{currency_format_code}}] {
      display: inline;
    }
    {% endif %}
  {% endfor %}
</style>

<div class="header {% if section.settings.fixed_position %}fixed{%endif%}  header-theme-{{section.settings.theme_color}}">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-{{section.settings.cells_align}}">
      
      {% for block in section.blocks %}
        {% if block.type == 'row'%}
          {% assign vertical_align_row = block.settings.vertical_align %}
          {% assign cell_align_row = ' justify-content-' | append: block.settings.cells_align %}
          {% assign css_container = "container " %}
          {% if block.settings.full_width == true %}
            {% assign css_container = "container-fluid" %}
          {% endif %}
          {% if block.settings.margin == true %}
            {% assign css_container = css_container | append: " pt-2 pb-2" %}
          {% endif %}
          {% if block.settings.display_xs != true %}
            {% assign css_container = css_container | append: " d-none d-md-flex" %}
          {% endif %}
          {% assign css_container = css_container | append: cell_align_row %}
            </div>
          </div>
          <div class="block block-row  {{css_container}} theme-{{block.settings.theme_color}}">
            <div class="row {{css_container}} align-items-{{block.settings.vertical_align}}">
        {% else %}

          {% assign css_cell = "align-self-center col-auto"%}
          {% if block.type == "navigation" or block.settings.display_sm_icon == false%}
            {% assign css_cell = css_cell | append:" d-none d-md-block"%}
          {% endif %}
          {% if block.settings.stretch == true%}
            {% assign css_cell = css_cell | append: " flex-grow-1"%}
          {% endif %}

          {% assign display_sm_icon_css = "" %}
          {% if block.settings.display_sm_icon == false %}
            {% assign display_sm_icon_css = "d-none d-md-flex" %}
          {% endif %}
          
          <div class="header-block header-block-{{ block.type }} {{css_cell}} block">
            {% include 'block_debug' %}
            {% case block.type %}
              {% when "currency_selector" %}
                {% include 'nav_currencies' %}
              {% when "text" %}
                <div class="d-none d-md-block">
                  {{ block.settings.content }}
                </div>
              {% when "local_selector" %}
                {% if locales.size > 1 %}
                  <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle text-uppercase" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{locale}}
                    </button>
                    <div class="dropdown-menu bg-dark">
                      {% for locale_nav in locales %}
                        <a class="dropdown-item text-uppercase" href="{{base_url}}/{{locale_nav}}">
                          {{locale_nav}}
                        </a>
                      {%endfor%}
                    </div>
                  </div>
                {% endif %}
              {% when "logo" %}
                <div class="{{block.settings.align_img}}">
                  <div class="header-block-menu d-inline d-md-none">
                    <a href="#nav-sm" class="text-primary text-left d-md-none" data-toggle="nav-sm-display" data-target="#nav-sm">
                      <i class="fas fa-bars"></i>
                    </a>
                  </div>
                  <a class="" href="{% path_to 'home' %}">
                    <img src="{{ block.settings.picture }}" alt="{{ site.name }}" class="navbar-brand img-fluid"/>
                  </a>
                </div>
              {% when "link_icon" %}
                <div class="{{display_sm_icon_css}}">
                  {% assign css_icon = "" %}
                  {% if block.settings.inline_display %}
                    {% assign css_icon = "icon-inline" %}
                  {% endif %}
                  <div class="icon {{ css_icon }}">
                    <a class="icon-link" href="{{ block.settings.link_url }}">
                      <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}"  class="icon-img"/>
                      <span class="icon-label d-none d-md-flex">{{ block.settings.label }}</span>
                    </a>
                  </div>
                </div>
                {% capture 'cart_icon_sm' %}
                  <a class="d-flex align-items-center text-light" href="{{ block.settings.link_url }}">
                    <div class=" ">
                      <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}" class="img-fluid p-0 w-50"/>
                    </div>
                    <div class="">
                      {{ block.settings.label }}
                    </div>
                  </a>
                {% endcapture %}
              {% when "cart_icon" %}
                <div class="{{display_sm_icon_css}}">
                  {% assign css_icon = "" %}
                  {% if block.settings.inline_display %}
                    {% assign css_icon = "icon-inline" %}
                  {% endif %}
                  <div class="icon {{ css_icon }}">
                    <a class="icon-link" href="{% path_to 'cart_index'%}">
                      <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}"  class="icon-img"/>
                      <span class="icon-label d-none d-md-flex">{{ block.settings.label }}</span>
                    </a>
                  </div>
                </div>
                {% capture 'cart_icon_sm' %}
                  <a class="d-flex align-items-center text-light" href="{% path_to cart %}">
                    <div class=" ">
                      <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}" class="img-fluid p-0 w-50"/>
                    </div>
                    <div class="">
                      {{ block.settings.label }}
                    </div>
                  </a>
                {% endcapture %}
              {% when "user_icon" %}
                {% assign css_icon = "" %}
                {% if block.settings.inline_display %}
                  {% assign css_icon = "icon-inline" %}
                {% endif %}
                <div class="{{display_sm_icon_css}}">
                  <div class="icon {{ css_icon }} ">
                    <a class="icon-link ">
                      <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}"  class="icon-img"/>
                      <div class="icon-label d-none d-md-flex  btn-group ">
                        <a class="btn btn-link p-0 pl-1 text-dark "  href="{% path_to 'account_index'%}">
                          {% if current_customer %}
                            {{ current_customer.name }}
                          {% else %}
                            {{ block.settings.label }}
                          {% endif %}
                        </a>
                        {% if current_customer %}
                          <button type="button" class="btn btn-link pt-0 pb-0 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right mt-3">
                            <a class="dropdown-item" href="{%path_to account_index%}">
                              {{ "account_order_title" | translate }}
                            </a>
                            <a class="dropdown-item" href="{%path_to account_quotations%}">
                              {{ "account_quotation_title" | translate }}
                            </a>
                            <a class="dropdown-item" href="{%path_to account_profil%}">
                              {{ "account_profil_title" | translate }}
                            </a>
                            <a class="dropdown-item" href="{%path_to account_address%}">
                              {{ "account_address_lists" | translate }}
                            </a>
                            <a class="dropdown-item" href="{%path_to account_rma%}">
                              {{ "account_rma_title" | translate }}
                            </a>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item text-center">
                              <form method="post" action="{% path_to account %}">
                                <input type="hidden" name="auth_action" value="sign_out" />
                                <input type="hidden" name="auth_content_type" value="customers" />
                                <button type="submit" class="btn btn-outline-primary btn-sm" >
                                  <i class="fa fa-power-off"></i>
                                  {{ 'account_signout' | translate }}
                                </button>
                              </form>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                      
                    </a>
                    <a class="icon-link d-none" href="{% path_to 'account_index'%}">
                      <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}"  class="icon-img"/>
                      <span class="icon-label d-none d-md-block ">
                        {% if current_customer %}
                          {{ current_customer.name }}
                        {% else %}
                          {{ block.settings.label }}
                        {% endif %}
                      </span>
                    </a>
                  </div>
                </div>
                {% capture 'user_icon_sm' %}
                  <a class="d-flex align-items-center text-light" href="{% path_to account%}">
                    <div class=" ">
                      <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}"  class="img-fluid p-0 w-50"/>
                    </div>
                    <div class="">
                      {% if current_customer %}
                        {{ current_customer.name }}
                      {% else %}
                        {{ block.settings.label }}
                      {% endif %}
                    </div>
                  </a>
                {% endcapture %}
              {% when "navigation" %}
                <div class="w-100 header-block-navigation collapse d-md-block" >
                  <ul class="list-inline m-0 d-flex row">
                    {% for category_level1 in store.categories %}
                      {% if category_level1.level == 0 %}
                        <li class="list-inline-item pr-3 pl-3 pt-3 pb-3 col-12 col-md-auto">
                          <a href="{{category_level1.url_key  | prepend: url_base }}" class="font-weight-bold text-dark">
                            {{ category_level1.name}}
                          </a>
                          <div class="list-inline-dropdown p-3 p-md-4">
                            <div class="row ">
                              <div class="col-12 col-md-8">
                                <div class="h3 text-uppercase pb-3 d-none d-md-block">
                                  {{ category_level1.name}}
                                </div>
                                <ul class="row p-0">
                                  {% for category_level2 in category_level1.childs %}
                                    <li class="col-12 col-md-4 pb-2 pt-2">
                                      <div >
                                        <a href="{{ category_level2.url_key | prepend: url_base}}" class="h4">
                                          {{ category_level2.name}}
                                        </a>
                                      </div>
                                      <ul class="p-0 m-0">
                                      {% for category_level3 in category_level2.childs %}
                                        <li class="pb-2 pt-2">
                                          <a href="{{ category_level3.url_key | prepend: url_base}}">
                                            {{ category_level3.name }}
                                          </a>
                                        </li>
                                      {% endfor %}
                                      </ul>
                                    </li>
                                  {% endfor %}
                                </ul>
                              </div>
                              <div class="col-12 col-md-4">
                                {{ category_nav.images}}
                              </div>
                            </div>
                          </div>
                        </li>
                      {% endif %}
                    {% endfor%}
                    {% for page_nav in site.pages %}
                      {% if page_nav.listed? and page_nav.published? and page_nav.depth <= 1%}
                        <li class="list-inline-item pr-3 pl-3 pt-3 pb-3 col-12 col-md-auto">
                          <a href="{% path_to page_nav %}" class="font-weight-bold text-dark">
                            {{ page_nav.title}}
                          </a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% when "search" %}
                <div class="{{ css_cell }} header-block header-block-{{ block.type }} {{display_sm_icon_css}}">
                  <div class="icon d-lg-none">
                    <a class="icon-link" href=".search-bar" data-toggle="collapse">
                      <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}"  class="icon-img"/>
                      <span class="icon-label d-none d-lg-flex">{{ block.settings.label }}</span>
                    </a>
                  </div>
                  <div class="collapse d-lg-block w-100 search-bar">
                    <div class="d-flex p-2 pr-3 pl-3 justify-content-between d-lg-none">
                      <div>
                        <span class="h4">
                          {{ block.settings.label }}
                        </span>
                      </div>
                      <div>
                        <a  href=".search-bar" data-toggle="collapse">
                          <i class="fas fa-times text-dark fa-2x"></i>
                        </a>
                      </div>
                    </div>
                    <form method="GET" action="{% path_to search %}" class="search-form d-flex flex-row pt-md-2 pt-md-3 " >
                      <input type="text" class="form-control search-input" id="header-search-input" placeholder="{{ block.settings.placeholder }}" aria-label="{{ block.settings.placeholder }}" aria-describedby="Product search" autocomplete="off" value="{{params.q}}" name="q" data-autosubmit>
                      <button class="btn btn-link btn-lg p-0 search-icon" name="submit" type="submit">
                        <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}"/>
                      </button>
                    </form>
                    <div class="small text-left pt-2 w-100">
                      <div class="font-weight-bold ">
                        {{ section.settings.baseline }}
                      </div>
                    </div>
                  </div>
                  <div id="header-search-hit" class="d-none search-result">
                    <div id="header-search-product-title">
                      <div class="font-weight-bold">
                        {{ 'search_product' | translate }}
                        <span class="nb_hits"></span>
                      </div>
                    </div>
                    <div id="header-search-product-link">
                      <div class="row">
                        <div class="col-12 text-right pt-2 ">
                          <a data-href="{% path_to search %}" href="#" class="btn btn-primary btn-search-product">
                            {{ 'search_product_all' | translate }}
                            <span class="nb_hits"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div id="header-search-product-empty">
                      <div class="pt-3 pb-3">
                        {{ 'search_product_empty' | translate }}
                      </div>
                    </div>
                    <div id="header-search-category-title" class=" ">
                      <div class="font-weight-bold">
                        {{ 'search_category' | translate }}
                      </div>
                    </div>
                    <div id="header-search-category-empty">
                      <div class="pt-3 pb-3">
                        {{ 'search_category_empty' | translate }}
                      </div>
                    </div>
                    <div id="header-search-category-link">
                      <div class="row">
                        <div class="col-12 text-right ">
                          <a href="#" class="btn btn-success">
                            {{ 'search_category_all' | translate }}
                            <span class="nb_hits"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div id="header-search-hit-content">
                      <div class="row">
                        <div class="aa-dataset-product col-12  col-md-8"></div>
                        <div class="aa-dataset-category col-12 col-md-4 d-none d-md-block"></div>
                      </div>
                    </div>
                  </div>
                </div>
            {% endcase %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
</div>
<div class="header-category-sm">
  <ul class="list-inline" id="nav-sm">
    {% with_scope level: 0 %}
      {% include section_header_nav_sm
        with categories: store.categories,
        level: 1
      %}
    {% endwith_scope%}
    {% for page_nav in site.pages %}
      {% if page_nav.listed? and page_nav.published? and page_nav.depth <= 1%}
        <li class="list-inline-item">
          <a href="{% path_to page_nav %}" class="">
            {{ page_nav.title}}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="list-inline-item bg-dark text-light">
      {{ user_icon_sm }}
    </li>
    <li class="list-inline-item bg-dark text-light">
      {{ cart_icon_sm }}
    </li>
  </ul>
</div>
