---
name: Header
class: section-header
icon: header
keep_name: true
keep_icon: true
id: header
settings: []
blocks:
- name: Brand Logo
  type: logo
  settings:
  - label: Align image
    id: align_img
    type: select
    keep_name: true
    options:
    - label: Left
      value: text-left
    - label: Right
      value: text-right
    - label: Center
      value: text-center
  - label: Brand logo
    id: picture
    type: image_picker
  - label: Stretch
    id: stretch
    type: checkbox
- name: Text
  type: text
  settings:
  - label: Content
    id: content
    type: text
    html: true
    nb_rows: 10
  - label: Stretch
    id: stretch
    type: checkbox
- name: Cart icon
  type: cart_icon
  settings:
  - label: side icon
    id: inline_display
    type: checkbox
  - label: icon
    id: icon
    type: image_picker
  - label: label
    id: label
    type: text
  - label: Display icon in mobile navbar
    id: display_sm_icon
    type: checkbox
- name: Link
  type: link_icon
  settings:
  - label: side icon
    id: inline_display
    type: checkbox
  - label: icon
    id: icon
    type: image_picker
  - label: label
    id: label
    type: text
  - label: URL
    id: link_url
    type: url
  - label: Display icon in mobile navbar
    id: display_sm_icon
    type: checkbox
- name: Nav Link
  type: nav_link
  settings:
  - label: label
    id: label
    type: text
  - label: URL
    id: link_url
    type: url
  - label: Selected
    id: selected
    type: checkbox
- name: Account icon
  type: user_icon
  settings:
  - label: side icon
    id: inline_display
    type: checkbox
  - label: icon
    id: icon
    type: image_picker
  - label: label
    id: label
    type: text
  - label: Display icon in mobile navbar
    id: display_sm_icon
    type: checkbox
- name: Search
  force_name: true
  type: search
  settings:
  - label: Force alignment
    id: align_block
    type: select
    keep_name: true
    options:
    - label: None
      value: auto
    - label: Left
      value: left
    - label: Right
      value: right
  - label: Placeholder
    id: placeholder
    type: text
  - label: Baseline
    id: baseline
    type: text
    html: true
    nb_rows: 2
  - label: icon
    id: icon
    type: image_picker
  - label: Display icon in mobile navbar
    id: display_sm_icon
    type: checkbox
- name: Currency navigation
  force_name: true
  type: currency_selector
  settings:
  - label: Stretch
    id: stretch
    type: checkbox
- name: Categories navigation
  force_name: true
  type: navigation
  settings:
  - label: Stretch
    id: stretch
    type: checkbox
- name: Language selector
  force_name: true
  type: local_selector
  settings:
  - label: Stretch
    id: stretch
    type: checkbox
- name: Row
  force_name: true
  type: row
  settings:
  - label: Cells Alignment
    id: cells_align
    type: select
    options:
    - label: Left
      value: start
    - label: Right
      value: end
    - label: Center
      value: center
    - label: Space Between
      value: between
    - label: Around
      value: around
  - label: Theme color
    id: theme_color
    type: select
    keep_name: true
    options:
    - label: Light
      value: light
    - label: Dark
      value: dark
    - label: None
      value: none
  - label: Full width
    id: full_width
    type: checkbox
  - label: Hide on mobile
    id: display_xs
    type: checkbox
    default: false
  - label: Margin
    id: margin
    type: checkbox
    default: true
default:
  blocks:
  - type: row
    settings:
      cells_align: center
      theme_color: dark
      full_width: true
      margin: false
  - type: text
    settings:
      content: "<center><i class='fa fa-gift'></i> Save 10% with voucher code <b>SAVE10</b></center>"
      stretch: true
  - type: currency_selector
    settings: {}
  - type: local_selector
    settings: {}
  - type: row
    settings:
      cells_align: between
      theme_color: none
      full_width: true
      vertical_align: center
      display_xs: true
  - type: logo
    settings:
      picture: "/samples/assets/shop-logo.png"
      align_block: right
      align_img: center
      stretch: true
  - type: search
    settings:
      label: Search product...
      display_sm_icon: true
      icon: "/samples/assets/search-icon.png"
  - type: user_icon
    settings:
      icon: "/samples/assets/user-icon.png"
      inline_display: true
      label: Sign-in
      display_sm_icon: false
  - type: cart_icon
    settings:
      icon: "/samples/assets/cart-icon.png"
      inline_display: true
      label: My cart
      display_sm_icon: true
  - type: row
    settings:
      cells_align: center
      theme_color: light
      full_width: true
      vertical_align: center
      display_xs: true
  - type: navigation
    settings:
      link_url: ''

---
{% assign category_html = ""%}
{% action "set current currency"%}
  var params = getProp('params');
  var current_currency_code = getCookiesProp('currency');
  var currencies_format = getProp('store.currencies_format');
  if(params.hasOwnProperty('new_currency')) {
    current_currency_code = params.new_currency;
  }
  currency = currencies_format[Object.keys(currencies_format)[0]];
  if(currencies_format.hasOwnProperty(current_currency_code) ) {
    var currency = currencies_format[current_currency_code];
  }

  if(getCookiesProp('currency') != currency.code) {
    setCookiesProp('currency', {
      'value': currency.code,
      'path': '/',
      'max_age': 3153600
    });
  }
  setProp('currency',  currency);
{% endaction %}
<style media="all">

  {% for currency_format in store.currencies_format %}
    {% assign currency_format_code = currency_format.first %}
    {% if currency_format_code == currency.code %}
    .currency-list .currency-format:first-child {
      display: none;
    }
    .currency-list .currency-format[data-currency={{currency_format_code}}] {
      display: inline;
    }
    {% endif %}
  {% endfor %}
</style>

<div class="header">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-{{section.settings.cells_align}}">
      {% for block in section.blocks %}
        {% if block.type == 'row'%}
          {% assign vertical_align_row = block.settings.vertical_align %}
          {% assign cell_align_row = ' justify-content-' | append: block.settings.cells_align %}
          {% assign css_container = "container " %}
          {% if block.settings.full_width == true %}
            {% assign css_container = "container-fluid" %}
          {% endif %}
          {% if block.settings.margin == true %}
            {% assign css_container = css_container | append: " pt-2 pb-2" %}
          {% endif %}
          {% if block.settings.display_xs != true %}
            {% assign css_container = css_container | append: " d-none d-md-flex" %}
          {% endif %}
          
            </div>
          </div>
          <div class="block block-row  {{css_container}} theme-{{block.settings.theme_color}}">
            <div class="row w-100 align-items-{{block.settings.vertical_align}} {{cell_align_row}}">
        {% else %}

          {% assign css_cell = "align-self-center col-auto "%}
          {% if block.type == "navigation" or block.settings.display_sm_icon == false%}
            {% assign css_cell = css_cell | append:" d-none d-md-flex"%}
          {% endif %}
          {% if block.settings.stretch == true%}
            {% assign css_cell = css_cell | append: " flex-grow-1"%}
          {% endif %}

          {% assign display_sm_icon_css = "" %}
          {% if block.settings.display_sm_icon == false %}
            {% assign display_sm_icon_css = "d-none d-md-flex" %}
          {% endif %}

          <div class="header-block header-block-{{ block.type }} {{css_cell}} block">
            {% case block.type %}
              {% when "currency_selector" %}
                {% include 'nav_currencies' %}
              {% when "text" %}
                <div class="d-none d-md-block">
                  {{ block.settings.content }}
                </div>
              {% when "local_selector" %}
                {% if locales.size > 1 %}
                  {% for locale_nav in locales %}
                    <a class="text-white text-uppercase pr-2" href="{{base_url}}/{{locale_nav}}">
                      {{locale_nav}}
                    </a>
                  {%endfor%}
                {% endif %}
              {% when "logo" %}
                <div class="{{block.settings.align_img}}">
                  <div class="header-block-menu d-inline d-md-none">
                    <a href="#nav-sm" class="text-primary text-left d-md-none" data-toggle="nav-sm-display" data-target="#nav-sm">
                      <i class="fas fa-bars"></i>
                    </a>
                  </div>
                  <a class="" href="{% path_to 'home' %}">
                    <img src="{{ block.settings.picture }}" alt="{{ site.name }}" class="navbar-brand img-fluid"/>
                  </a>
                </div>
              {% when "link_icon" %}
                <div class="{{display_sm_icon_css}}">
                  {% assign css_icon = "" %}
                  {% if block.settings.inline_display %}
                    {% assign css_icon = "icon-inline" %}
                  {% endif %}
                  <div class="icon {{ css_icon }}">
                    <a class="icon-link" href="{{ block.settings.link_url }}">
                      <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}"  class="icon-img"/>
                      <span class="icon-label d-none d-md-flex">{{ block.settings.label }}</span>
                    </a>
                  </div>
                </div>
              {% when "nav_link" %}
                <div class="{{display_sm_icon_css}}">
                  {% assign css_icon = "" %}
                  {% assign selected = "" %}
                  {% if block.settings.selected %}
                    {% assign selected = "selected" %}
                  {% endif %}
                  <div class="icon {{ css_icon }} ">
                    <a class="icon-link" href="{{ block.settings.link_url }}">
                      <h3 class="icon-label d-none d-md-flex {{ selected }} ">{{ block.settings.label }}</h3>
                    </a>
                  </div>
                </div>
                {% capture 'cart_icon_sm' %}
                  <a class="d-flex align-items-center text-light" href="{{ block.settings.link_url }}">
                    <div class=" ">
                      <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}" class="img-fluid p-0 w-50"/>
                    </div>
                    <div class="">
                      {{ block.settings.label }}
                    </div>
                  </a>
                {% endcapture %}
              {% when "cart_icon" %}
                <div class="{{display_sm_icon_css}}">
                  {% assign css_icon = "" %}
                  {% if block.settings.inline_display %}
                    {% assign css_icon = "icon-inline" %}
                  {% endif %}
                  <div class="icon {{ css_icon }}">
                    <a class="icon-link" href="{% path_to 'cart_index'%}">
                      <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}"  class="icon-img"/>
                      <span class="icon-label d-none d-md-flex">{{ block.settings.label }}</span>
                    </a>
                  </div>
                </div>
                {% capture 'cart_icon_sm' %}
                  <a class="d-flex align-items-center text-light" href="{% path_to cart %}">
                    <div class=" ">
                      <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}" class="img-fluid p-0 w-50"/>
                    </div>
                    <div class="">
                      {{ block.settings.label }}
                    </div>
                  </a>
                {% endcapture %}
              {% when "user_icon" %}
                {% assign css_icon = "" %}
                {% if block.settings.inline_display %}
                  {% assign css_icon = "icon-inline" %}
                {% endif %}
                <div class="{{display_sm_icon_css}}">
                  <div class="icon {{ css_icon }} ">
                    <a class="icon-link ">
                      <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}"  class="icon-img"/>
                      <div class="icon-label d-none d-md-flex  btn-group ">
                        <a class="btn btn-link p-0 pl-1 text-dark "  href="{% path_to 'account_index'%}">
                          {% if current_customer %}
                            {{ current_customer.name }}
                          {% else %}
                            {{ block.settings.label }}
                          {% endif %}
                        </a>
                      </div>
                    </a>
                    <a class="icon-link d-none" href="{% path_to 'account_index'%}">
                      <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}"  class="icon-img"/>
                      <span class="icon-label d-none d-md-block ">
                        {% if current_customer %}
                          {{ current_customer.name }}
                        {% else %}
                          {{ block.settings.label }}
                        {% endif %}
                      </span>
                    </a>
                  </div>
                </div>
                {% capture 'user_icon_sm' %}
                  <a class="d-flex align-items-center text-light" href="{% path_to account%}">
                    <div class=" ">
                      <img src="{{ block.settings.icon }}" alt="{{ block.settings.label }}"  class="img-fluid p-0 w-50"/>
                    </div>
                    <div class="">
                      {% if current_customer %}
                        {{ current_customer.name }}
                      {% else %}
                        {{ block.settings.label }}
                      {% endif %}
                    </div>
                  </a>
                {% endcapture %}
              {% when "navigation" %}
                <div class="navigation collapse d-md-flex" >
                  <ul class="list-inline m-0 d-flex row">
                    {% with_scope level: 0 %}
                      {% for category_level1 in store.categories %}
                        <li class="list-inline-item category col-12 col-md-auto">
                          <a href="{{category_level1.url_key  | prepend: url_base }}">
                            {{ category_level1.name}}
                          </a>
                          <div class="list-inline-dropdown">
                            <div class="title">
                              {{ category_level1.name}}
                            </div>
                            <ul class="items">
                              {% for category_level2 in category_level1.childs %}
                                <li class="column">
                                  <div >
                                    <a href="{{ category_level2.url_key | prepend: url_base}}" class="h5">
                                      {{ category_level2.name}}
                                    </a>
                                  </div>
                                  <ul>
                                  {% for category_level3 in category_level2.childs %}
                                    <li>
                                      <a href="{{ category_level3.url_key | prepend: url_base}}">
                                        {{ category_level3.name }}
                                      </a>
                                    </li>
                                  {% endfor %}
                                  </ul>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </li>
                      {% endfor%}
                    {% endwith_scope %}
                    {% for page_nav in site.pages %}
                      {% if page_nav.listed? and page_nav.published? and page_nav.depth <= 1%}
                        <li class="list-inline-item page page-{{page_nav.handle}} col-12 col-md-auto">
                          <a href="{% path_to page_nav %}" >
                            {{ page_nav.title}}
                          </a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% when "search" %}
                {% if site.metafields.elasticsearch != null and site.metafields.elasticsearch.indices != null%}
                  {% include 'searchkit_autocomplete' with 
                    elasticsearch_params: site.metafields.elasticsearch
                  %}
                {% elsif site.metafields.algolia != null and site.metafields.algolia.indices != null%}
                  {% include 'algolia_autocomplete' with
                    algolia_params: site.metafields.algolia
                  %}
                {% endif %}
            {% endcase %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="header-category-sm">
  <ul class="list-inline" id="nav-sm">
    {% with_scope level: 0 %}
      {% include section_header_nav_sm
        with categories: store.categories,
        level: 1
      %}
    {% endwith_scope%}
    {% for page_nav in site.pages %}
      {% if page_nav.listed? and page_nav.published? and page_nav.depth <= 1%}
        <li class="list-inline-item">
          <a href="{% path_to page_nav %}" class="">
            {{ page_nav.title}}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="list-inline-item bg-dark text-light">
      {{ user_icon_sm }}
    </li>
    <li class="list-inline-item bg-dark text-light">
      {{ cart_icon_sm }}
    </li>
  </ul>
</div>
