---
{
  "name": "Posts",
  "class": "",
  "icon": "list",
  "settings": [
    {
      "label": "Header",
      "id": "header",
      "type": "text",
      "html": true
    },
    {
      "label": "Posts",
      "id": "posts",
      "type": "content_type",
      "content_type": "posts"
    }
  ],
  "presets": [{
    "name": "Posts",
    "category": "Content",
    "settings": {
      "header": "<h1>Latests posts</h1>"
    }
  }]
}
---
<div class="container-fluid">
  <div class="row ">
    <div class="col-12 pt-4 pb-4 ">
      <div class="container pt-4 pb-4 ">

        {% if contents.posts.size > 0 %}
        <div class="row pt-4 pb-4">
          <div class="col-12 pt-4">
            <div class="container pb-4">
              <div class="row">
                <div class="col-12 pb-4">
                  {{section.settings.header}}
                </div>
              </div>
              <div class="row post-mozaic">
              {% paginate contents.posts by 4%}
                {% for post in paginate.collection %}
                <div class="col-12 col-sm-6 post-mozaic-item">
                  <div class="post-mozaic-img" style="background-image:url({{post.thumbnails.url | default: site.metafields.theme.noimage }})">
                  </div>
                  <div class="post-mozaic-content ">
                   <h3 class="text-uppercase font-weight-bold">{{post.name}}</h3>
                   <p class="small">{{post.short_description}}</p>
                    <a href="{% path_to post %}" class="text-uppercase">
                      {{'show_more' | translate}} <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </div>
                {% endfor %}
              {% endpaginate %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
