--- 
{
  "name": "Product page intro",
  "class": "",
  "icon": "default",
  "keep_name": true,
  "keep_icon": true,
  "blocks_label" : "Product page component",
  "settings": [
    {
      "label": "Product SKU (not use for product page)",
      "id": "sku",
      "type": "text"
    },
    {
      "label": "Container color",
      "id": "theme_color",
      "type": "select",
      "options": [
        {"label": "None","value": "none"},
        {"label": "Light","value": "light"}
      ]
    },
    {
      "label": "Card color",
      "id": "card_color",
      "type": "select",
      "options": [
        {"label": "None","value": "none"},
        {"label": "Light","value": "light"},
        {"label": "White","value": "white"},
        {"label": "Dark","value": "dark"}
      ]
    },
    {
      "label": "Card Border",
      "id": "border",
      "type": "checkbox"

    },
    {
      "label": "Display variant",
      "id": "display_variant",
      "type": "checkbox"
    }
  ],
  "blocks": [
    {
      "name": "Breadcrumb",
      "type": "breadcrumb",
      "settings": [
        {
          "label": "Cell Size",
          "id": "cell_size",
          "type": "select",
          "options": [
            {"label": "Extra-small","value": "xs"},
            {"label": "Small","value": "sm"},
            {"label": "Medium", "value": "md"},
            {"label": "Large", "value": "lg"},
            {"label": "Extra-large", "value": "xl"}
          ]
        },
        {
          "label": "Display product Name",
          "id": "display_product_name",
          "type": "checkbox"
        }
      ]
    },
    {
      "name": "Product title",
      "type": "product_title",
      "settings": [
        {
          "label": "Cell Size",
          "id": "cell_size",
          "type": "select",
          "options": [
            {"label": "Extra-small","value": "xs"},
            {"label": "Small","value": "sm"},
            {"label": "Medium", "value": "md"},
            {"label": "Large", "value": "lg"},
            {"label": "Extra-large", "value": "xl"}
          ]
        },
        {
          "label": "Title with link on product page",
          "id": "title_link",
          "type": "checkbox"

        },
        {
          "label": "Display category Link",
          "id": "display_category_link",
          "type": "checkbox"
        },
        {
          "label": "Display Rating",
          "id": "display_rating",
          "type": "checkbox"
        }
      ]
    },
    {
      "name": "Product Image",
      "type": "product_image",
      "settings": [
        {
          "label": "Cell Size",
          "id": "cell_size",
          "type": "select",
          "options": [
            {"label": "Extra-small","value": "xs"},
            {"label": "Small","value": "sm"},
            {"label": "Medium", "value": "md"},
            {"label": "Large", "value": "lg"},
            {"label": "Extra-large", "value": "xl"}
          ]
        },
        {
          "label": "Thumbnails positions",
          "id": "thumb_position",
          "type" : "select",
          "options": [
            {"label": "Left", "value": "left"},
            {"label": "Right", "value": "right"},
            {"label": "Top", "value": "top"},
            {"label": "Bottom", "value": "bottom"}
          ]
        }
      ]
    },
    {
      "name": "Short Description",
      "type": "product_short_description",
      "settings": [
        {
          "label": "Cell Size",
          "id": "cell_size",
          "type": "select",
          "options": [
            {"label": "Extra-small","value": "xs"},
            {"label": "Small","value": "sm"},
            {"label": "Medium", "value": "md"},
            {"label": "Large", "value": "lg"},
            {"label": "Extra-large", "value": "xl"}
          ]
        }
      ]
    },
    {
      "name": "Add to cart",
      "type": "add_to_cart",
      "settings": [
        {
          "label": "Cell Size",
          "id": "cell_size",
          "type": "select",
          "options": [
            {"label": "Extra-small","value": "xs"},
            {"label": "Small","value": "sm"},
            {"label": "Medium", "value": "md"},
            {"label": "Large", "value": "lg"},
            {"label": "Extra-large", "value": "xl"}
          ]
        },
        {
          "label": "Display Add to cart section",
          "id": "display_add_to_cart",
          "type": "checkbox"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Products page intro",
    "category": "Product",
    "settings": {
      "sku" : "",
      "breadcrumb" : true,
      "theme_color": "none",
      "title_link": true,
      "add_to_cart": true,
      "display_variant": true
    }
  }],
  "default": {
    "settings": {
      "sku" : "",
      "border" : false,
      "theme_color": "none",
      "add_to_cart": true,
      "display_variant": true
    },
    "blocks": [
      {
        "type": "breadcrumb",
        "settings": {
          "display_product_name": false,
          "cell_size": "xl"
        }
      },
      {
        "type": "product_title",
        "settings": {
          "cell_size": "xl",
          "title_link": true,
          "display_category_link": true,
          "display_rating": true
        }
      },
      {
        "type": "product_image",
        "settings": {
          "cell_size": "lg",
          "thumb_position": "left"
        }
      },
      {
        "type": "add_to_cart",
        "settings": {
          "cell_size": "sm",
          "display_add_to_cart": true
        }
      },
      {
        "type": "product_short_description",
        "settings": {
          "cell_size": "xl"
        }
      }

    ]
  }
}
---
{% if live_editing %}
  {% assign product = store.products.first %}
{% else %}
  {% if section.settings.sku != ""%}
    {% with_scope sku: [section.settings.sku]%}
      {% assign variant = store.products | first%}
    {% endwith_scope%}
  {% elsif product %}
    {% assign variant = product%}
  {% endif %}
{% endif %}


{% case section.settings.theme_color %}
  {% when "none" %}
    {% assign css_banner = "" %}
  {% when "light" %}
    {% assign css_banner = "bg-light" %}
  {% when "dark" %}
    {% assign css_banner = "bg-dark"%}
{% endcase %}

{% case section.settings.card_color %}
  {% when "none" %}
    {% assign css_card = "" %}
  {% when "light" %}
    {% assign css_card = "bg-light" %}
  {% when "dark" %}
    {% assign css_card = "bg-dark"%}
  {% when "white" %}
    {% assign css_card = "bg-white"%}
{% endcase %}

<div class="container-fluid {{css_banner}} pt-2 pb-2">
  <div class="container mt-4 mb-4 pt-2 {{css_card}} {% if section.settings.border %}shadow-sm{% endif %}">
    <div class="row">
      {% for block in section.blocks%}
        {% case block.settings.cell_size %}
          {% when 'xs' %}
            {% assign css_cell = "col-12 col-sm-6 col-lg-2 "%}
          {% when 'sm' %}
            {% assign css_cell = "col-12 col-sm-6 col-lg-4 "%}
          {% when 'md' %}
            {% assign css_cell = "col-12 col-sm-6 col-lg-6 "%}
          {% when 'lg' %}
            {% assign css_cell = "col-12 col-sm-6 col-lg-8 "%}
          {% when 'xl' %}
            {% assign css_cell = "col-12"%}
        {% endcase %}

        {% case block.type %}
          {% when 'breadcrumb'%}
            <div class="block {{css_cell}}">
              <nav aria-label="breadcrumb" class="d-none d-sm-block">
                <ol class="breadcrumb pl-0 d-none d-sm-inline-block">
                  <li class="breadcrumb-item d-inline-block ">
                    <a href="{% path_to 'home' %} " class="text-gray-darker">
                    {{ 'home' | translate }}
                    </a>
                  </li>
                {% for category in variant.categories %}
                  <li class="breadcrumb-item d-inline-block" >
                    <a href="{{category.url_key | prepend: url_base}}" class="text-gray-darker">
                      {{category.name}}
                    </a>
                  </li>
                {% endfor %}
                {% if block.settings.display_product_name %}
                  <li class="breadcrumb-item active d-none d-xl-inline-block">
                    {{variant.model.name}}
                  </li>
                {% endif %}
                </ol>
              </nav>
              <div class="d-block d-sm-none  pt-4">
                {% for category in variant.categories %}
                <a href="{{category.url_key | prepend: url_base}}" class="btn btn-outline-dark btn-sm">
                  {{category.name}}
                </a>
                {% endfor %}
              </div>
            </div>
          {% when 'product_title' %}
            <div class="block {{css_cell}}">
              <div>
                {% if block.settings.title_link %}
                  <a class="text-center text-md-left h2" href="{{variant.url_key  | prepend: url_base}}">
                    {{variant.model.name}}
                  </a>
                  <a class="lead" href="{{variant.url_key  | prepend: url_base}}">
                    {{variant.variant.name}}
                  </a>
                {% else %}
                  <h1 class="text-center text-md-left h2">{{variant.model.name}}</h1>
                  <div class="lead">
                    {{variant.variant.name}}
                  </div>
                {% endif %}
              </div>
              <div class="">
                <div class="d-none d-sm-inline-block  pr-4">
                  {{variant.brand.name }}
                </div>
                <div class="d-none d-sm-inline-block  pr-4">
                  <a href="{{ variant.categories.last.url_key | prepend: url_base }}">
                    <u>{{ variant.categories.last.name}}</u>
                  </a>
                </div>
                <div class="d-inline-block" data-scrollto="#product-section-rating">
                  {% include 'rating_stars' with
                      rating_value: variant.rating.summary.average,
                      rating_nbr: variant.rating.reviews.size,
                      rating: variant.rating
                  %}
                </div>
              </div>
            </div>
          {% when 'product_image' %}
            <div class="block {{css_cell}}">
              <div class="text-center">
                {% include 'product_images' with product: variant, thumb_position: block.settings.thumb_position %}
              </div>
            </div>
          {% when 'product_short_description' %}
            <div class="block {{css_cell}}">
              {{variant.short_description}}
            </div>
          {% when 'add_to_cart' %}
            <div class="block {{css_cell}}">
              <div class="bg-light  pt-3">
                {%if variant.price.discount > 0%}
                <div class="pb-1">
                  <div class="badge badge-warning p-2">
                    {{'product_discount_label'  | translate}} <b>  -{{variant.price.discount | round }} %</b>
                  </div>
                </div>
                {%endif%}
                <div class=" pb-3 pr-3 pl-3">
                  <div class="row">
                    <div class="col-12  ">
                      <b class="text-right">
                        {%if variant.price.discount > 0%}
                        <div class="text-dark">
                          <s>{% include 'currency' | value: variant.price.original_value %}</s>
                        </div>
                        {% endif %}
                        <span class="h2 pull-right font-weight-bold {%if variant.price.discount > 0%}text-warning{% else %} text-primary{% endif %}">
                          {% include 'currency' | value: variant.price.value %}
                        </span>
                        {% if variant.pricelist.tax_included == true %}
                        <sub class="text-size-base">{{'product_vat_inc' | translate}}</sub>
                        {% endif %}
                      </b>
                    </div>
                  </div>
                  <div class="row pt-4">
                    <div class="col-12">
                      <div class="">
                        {{variant.name}}
                      </div>
                      <div class="small text-dark">
                        {{'product_code' | translate }}
                        <strong>{{variant.sku}}</strong>
                      </div>
                    </div>
                  </div>
                  {% if block.settings.display_add_to_cart %}
                    <form method="POST" action="/invader/cart/add_item" data-shopinvader-form>
                      <input type="hidden" name="invader_success_url" value="{{variant.url_key  | prepend: url_base}}?addtocart_product_id={{variant.objectID}}" />
                      <input type="hidden" name="invader_error_url" value="{{variant.url_key  | prepend: url_base}}" />
                      <input type="hidden" name="product_id" value="{{variant.objectID }}">

                      <div class="row form-horizontal product-form-qty">
                        <label for="qty" class="col-4 col-sm-5 col-xl-12 control-label text-right text-xl-center text-size-lg">
                          {{'product_quantity' | translate}}
                        </label>
                        <div class="col-8 col-xl-12">
                          {% include 'product_qty_input' with qty:1 %}
                        </div>
                      </div>
                      <div class="row">
                      {% if variant.stock_state != null and  variant.stock_state != ''%}
                        <div class="col-12 text-left product-stock-state">
                          <span class="{{variant.stock_state}} text-size-1xl">
                            {{variant.stock_state | prepend: 'product_stock_state_' | translate}}
                          </span>
                        </div>
                      {% endif %}
                        <div class="col-12  text-right ">
                        {%if variant.price.discount > 0%}
                          <button type="submit" class="btn btn-warning btn-lg btn-block">
                            {{"product_add_to_cart_discount" | translate }}
                          </button>
                        {%else%}
                          <button type="submit" class="btn btn-success btn-lg btn-block">
                            {{"product_add_to_cart" | translate }}
                          </button>
                        {% endif %}
                        </div>
                      </div>
                    </form>
                  {% else %}
                    <a href="{{variant.url_key  | prepend: url_base}}" class="btn btn-primary btn-lg btn-block mt-4 mb-4">
                      {{"show_more" | translate }}
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
        {% endcase%}
      {% endfor %}
    </div>
  </div>
  {% if section.settings.display_variant %}
    <div class="container mt-4 mb-4 {{css_card}} {% if section.settings.border %}shadow-sm{% endif %}">
      {% if variant.variant_count > 0 %}
        <div class="row pt-3">
          <div class="col-12">
            <h2>{{'product_variant_title' | translate }}</h2>
            <div class="row">
              <div class="col-12 col-md-3 col-lg-2  p-2">
                {% include 'product_variant_thumbnail' with product: variant %}
              </div>
              {% for variant_product in product.variants %}
                <div class="col-12 col-md-3 col-lg-2  p-2">
                  {% include 'product_variant_thumbnail' with  product: product.variants %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
