---
name: Product page
class: section-product-page
icon: image_text
keep_icon: true
settings:
  - label: SKU
    id: sku
    type: text
  - label: display Add to cart
    id: display_addtocart
    type: checkbox
  - label: Thumbnails positions
    id: thumb_position
    type: select
    options:
    - label: Left
      value: left
    - label: Right
      value: right
    - label: Top
      value: top
    - label: Bottom
      value: bottom
blocks:
- name: Add to cart
  type: add_to_cart
  settings:
  - label: Cell Size
    id: cell_size
    type: integer
    min: 15
    max: 100
    step: 5
    default: 50
  - label: Child of previous block
    id: is_child
    type: checkbox
  - label: Display Add to cart section
    id: display_add_to_cart
    type: checkbox
- name: Attribute
  type: attribute
  settings:
  - label: Attribute type
    id: type
    type: select
    options:
    - label: Attribute key
      value: text
    - label: Attribute group
      value: table
  - label: Cell Size
    id: cell_size
    type: integer
    min: 15
    max: 100
    step: 5
    default: 50
  - label: Child of previous block
    id: is_child
    type: checkbox
  - label: Theme color
    id: theme_color
    type: select
    options:
    - label: Light
      value: light
    - label: Dark
      value: dark
    - label: Primary
      value: primary
    - label: Border
      value: border
    - label: Warning
      value: warning
    - label: None
      value: none
  - label: Title
    id: title
    type: text
    html: true
  - label: Attribute or group key
    id: attribute_name
    type: text
  - label: Display label (only for group)
    id: display_legend
    type: checkbox
- name: Breadcrumb
  type: breadcrumb
  settings:
  - label: Child of previous block
    id: is_child
    type: checkbox
  - label: Display product Name
    id: display_product_name
    type: checkbox
- name: Text
  type: cell_text
  keep_icon: true
  keep_name: true
  settings:
  - label: Cell Size
    id: cell_size
    type: integer
    min: 15
    max: 100
    step: 5
    default: 50
  - label: Child of previous block
    id: is_child
    type: checkbox
  - label: Content
    id: content
    type: text
    html: true
    nb_rows: 10
- name: Picture
  type: cell_image
  keep_icon: true
  keep_name: true
  settings:
  - label: Cell Size
    id: cell_size
    type: integer
    min: 15
    max: 100
    step: 5
    default: 50
  - label: Child of previous block
    id: is_child
    type: checkbox
  - label: Picture
    id: picture
    type: image_picker
  - label: Picture Title
    id: picture_alt
    type: text
- name: Cross Selling
  type: cross_sellings
  settings:
  - label: Cell Size
    id: cell_size
    type: integer
    min: 15
    max: 100
    step: 5
    default: 50
  - label: Child of previous block
    id: is_child
    type: checkbox
  - label: Title
    id: title
    type: text
    html: true
- name: Product data
  type: product_data
  settings:
  - label: Cell Size
    id: cell_size
    type: integer
    min: 15
    max: 100
    step: 5
    default: 50
  - label: Margin
    id: margin
    type: checkbox
  - label: Label inline
    id: inline
    type: checkbox
  - label: Child of previous block
    id: is_child
    type: checkbox
  - label: Title
    id: title
    type: text
    html: true
  - label: Data type
    id: data_type
    type: select
    options:
    - label: Brand
      value: brand.name
    - label: Full name
      value: name
    - label: Long description
      value: description
    - label: Model name
      value: model.name
    - label: Short description
      value: short_description
    - label: SKU
      value: sku
- name: Product Image
  type: product_image
  settings:
  - label: Cell Size
    id: cell_size
    type: integer
    min: 15
    max: 100
    step: 5
    default: 50
  - label: Child of previous block
    id: is_child
    type: checkbox
  
- name: Product title
  type: product_title
  settings:
  - label: Cell Size
    id: cell_size
    type: integer
    min: 15
    max: 100
    step: 5
    default: 50
  - label: Child of previous block
    id: is_child
    type: checkbox
  - label: Display category Link
    id: display_category_link
    type: checkbox
  - label: Display Rating
    id: display_rating
    type: checkbox
- name: Product variants
  type: variants
  settings:
  - label: Cell Size
    id: cell_size
    type: integer
    min: 15
    max: 100
    step: 5
    default: 50
  - label: Variant display
    id: variant_display
    type: select
    options:
    - label: Select
      value: select
    - label: Product list
      value: list
    - label: Button
      value: button
  - label: Child of previous block
    id: is_child
    type: checkbox
  - label: Title
    id: title
    type: text
    html: true
- name: Review
  type: review
  settings:
  - label: Cell Size
    id: cell_size
    type: integer
    min: 15
    max: 100
    step: 5
    default: 50
  - label: Child of previous block
    id: is_child
    type: checkbox
  - label: Title
    id: title
    type: text
    html: true
- name: Technical Media
  type: technical_details
  settings:
  - label: Title
    id: title
    type: text
    html: true
  - label: Cell Size
    id: cell_size
    type: integer
    min: 15
    max: 100
    step: 5
    default: 50
- name: Up Selling
  type: up_sellings
  settings:
  - label: Cell Size
    id: cell_size
    type: integer
    min: 15
    max: 100
    step: 5
    default: 50
  - label: Child of previous block
    id: is_child
    type: checkbox
  - label: Title
    id: title
    type: text
    html: true
default:
  settings:
    display_addtocart: false
    thumb_position: 'bottom'
    sku: B00RX-001
defaults:
  settings:
    section_name: Product data
    sku: ''
    theme_color: none
    full_width: false
  blocks:
  - type: breadcrumb
    settings:
      display_product_name: true
  - type: product_title
    settings:
      display_category_link: true
      cell_size: 100
  - type: product_data
    settings:
      margin: false
      title: "<b>SKU</b>"
      cell_size: 100
      data_type: sku
      inline: true
      is_child: true
  - type: product_image
    settings:
      margin: true
      thumb_position: left
      cell_size: 65
      is_child: true
  - type: add_to_cart
    settings:
      display_add_to_cart: true
      cell_size: 35
      is_child: true
  - type: variants
    settings:
      title: Models
      cell_size: full
      is_child: true
      variant_display: button
  - type: variants
    settings:
      title: Models
      cell_size: 100
      is_child: false
      variant_display: list
  - type: product_data
    settings:
      margin: false
      title: "<h2>Overview</h2>"
      cell_size: 50
      data_type: description
      inline: false
      is_child: false
  - type: attribute
    settings:
      title: "<h2>Manufacturing</h2>"
      cell_size: 50
      type: text
      attribute_name: manufacturing_description
      display_legend: true
      theme_color: light
      is_child: false
  - type: cross_sellings
    settings:
      title: "<h2>More In This Collection</h2>"
      cell_size: 100
  - type: up_sellings
    settings:
      title: "<h2>More choices</h2>"
      cell_size: 100
presets:
- name: Products page
  category: Product
  settings:
    section_name: My product
    sku: THELMA-GREY
    theme_color: none
    full_width: false
  blocks:
  - type: product_image
    settings:
      thumb_position: left
      cell_size: 50
      is_child: false
  - type: product_title
    settings:
      display_category_link: true
      cell_size: 50
  - type: product_data
    settings:
      data_type: description
      cell_size: 100
      is_child: true
  - type: add_to_cart
    settings:
      display_add_to_cart: true
      cell_size: 100
      is_child: true

---
{% if section.settings.sku != "" and section.settings.sku != null %}
  <div class="alert alert-info">
    SKU Forced on {{section.settings.sku | json}}
  
    {% with_scope sku.in: ["B00RX-001"] %}
      {% assign product_variant = store.products | first%}
      {{ store.products | first }}
    {% endwith_scope%}
  </div>
{% endif %}
{% if product_variant != null %}
  <div class="container product-page {{container_css}}" id="{{ section.anchor_id }}" {{ section.locomotive_attributes }}>
    <nav aria-label="breadcrumb" class="product-breadcrumb">
      <ol class="breadcrumb pl-0 d-none d-sm-inline-block">
        <li class="breadcrumb-item d-inline-block ">
          <a href="{% path_to 'home' %}">
            {{ 'home' | translate }}
          </a>
        </li>
      {% for category in product_variant.categories %}
        <li class="breadcrumb-item d-inline-block" >
          <a href="{{category.url_key | prepend: url_base}}" class="text-gray-darker">
            {{category.name}}
          </a>
        </li>
      {% endfor %}
      {% if block.settings.display_product_name %}
        <li class="breadcrumb-item active d-none d-xl-inline-block">
          {{product_variant.model.name}}
        </li>
      {% endif %}
      </ol>
    </nav>
    <div class="d-block d-sm-none  pt-4">
      {% for category in product_variant.categories %}
      <a href="{{category.url_key | prepend: url_base}}" class="btn btn-outline-dark btn-sm">
        {{category.name}}
      </a>
      {% endfor %}
    </div>
    <a class="product-title" href="{{product_variant.url_key  | prepend: url_base}}">
      <h1 class="product-model-name">{{product_variant.model.name}}</h1>
      <div class="product-variant-name">{{product_variant.variant.name}}</div>
    </a>
    <div class="product-shortdesc">
      {{product_variant.short_description}}
    </div>
    <div class="product-category">
      <a href="{{ variant.categories.last.url_key | prepend: url_base }}">
        <u>{{ product_variant.categories.last.name}}</u>
      </a>
    </div>
    {% if product_variant.brand.name %}
      <div class="product-brand">
        {{product_variant.brand.name }}
      </div>
    {% endif %}
    <div class="product-image">
      {% include 'product_images' with 
        product_variant, 
        thumb_position: section.settings.thumb_position
      %}
    </div>
    <div class="product-cart">
      {% include 'product_cart' with 
         settings: section.settings 
      %}
    </div>
    <div class="product-variant">
      {% for attr in product_variant.variant_attributes %}
        <a class="btn btn-outline-dark">
          {{attr[0]}} <b>{{attr[1]}}</b>
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}
