---
name: Searchkit faceting
class: section-searchkit-faceting
icon: default
settings:
- label: Title
  id: title
  type: text
- label: short description
  id: short_description
  type: text
  format: html
- label: Description
  id: description
  type: text
  format: html
blocks: []
default:
  settings:
    title: Search
---

{% assign elasticsearch_locale = store.locale_mapping | downcase %}
{% action 'get elasticsearch parameters' %}
  setProp('elasticsearch_indexes', JSON.parse(site.metafields.elasticsearch.indices));
{% endaction %}
{% if category != null %}
  {% assign title = category.name %}
  {% assign short_description = category.short_description %}
  {% assign description = category.description %}
{% else %}
  {% assign title = section.settings.title %}
  {% assign short_description = section.settings.short_description %}
  {% assign description = section.settings.description %}
  {% if page.handle == 'discount' %}
    {% assign only_discount = true %}
  {% else %}
    {% assign only_discount = false %}
  {% endif %}
{% endif %}
<script type="text/javascript">
  var searchkit_translation = {
    'reset.clear_all': {{'filter_clear' | translate | json}},
    'facets.view_more': {{'filter_more' | translate | json}},
    'facets.view_more': {{'filter_more' | translate | json}},
    'facets.view_less': {{'filter_less' | translate | json}},
    'facets.view_all': {{'filter_all' | translate | json}},
    'facets.price': {{'filter_price' | translate | json}},
    'facets.filters': {{'filters' | translate | json}},
    'facets.category': {{'search_category' | translate | json}},
    'NoHits.NoResultsFound': {{'filter_noresult_found' | translate | json}},
    'NoHits.DidYouMean': {{'filter_didyoumean' | translate | json}},
    'NoHits.SearchWithoutFilters': {{'filter_searchwithout_filter' | translate | json}},
    'NoHits.NoResultsFoundDidYouMean': {{'filter_searchwithout_filter' | translate | json}},
    'hitstats.results_found': {{'filter_result_count' | translate | json}},
    'pagination.previous': {{'filter_paginate_previous' | translate | json}},
    'pagination.next': {{'filter_paginate_next' | translate | json}},
    'searchbox.placeholder': {{'filter_placeholder' | translate | json}},
    'product.grid': {{'product_display_grid' | translate | json}},
    'product.list': {{'product_display_list' | translate | json}},
    'sort.price_default': {{'filter_price_default' | translate | json}},
    'sort.price_asc': {{'filter_price_asc' | translate | json}},
    'sort.price_desc': {{'filter_price_desc' | translate | json}},
  }
</script>

<div id="searchkit-faceting-container"
  class="page-{{page.handle}}"
  data-product-noimage={{ site.metafields.theme.noimage | json }}
  data-elastic-url={{ site.metafields.elasticsearch.url | json }}
  data-locale={{ store.locale_mapping | json }}
  {% for role in elasticsearch_indexes %}
    data-elastic-index-{{role.name}}={{role.index | append:"_" | append: elasticsearch_locale  | json}}
  {% endfor %}
  {% if only_discount %}
    data-filter-key="price.default.discount"
    data-filter-value="0"
    data-filter-type='gt'
  {% endif %}
  {% if category %}
    data-filter-key="categories.id"
    data-filter-value={{category.objectID | json }}
  {% endif %} >
  <div class="searchkit-header">
    <h1>{{title}}</h1>
    <div>
      {{ short_desciption }}
    </div>
  </div>
  {% for facet in store.all_filters %}
    <div 
      data-facet-code="{{facet.code}}"
      data-facet-name="{{facet.name}}">
    </div>
  {% endfor %}
  <div class="searchkit-footer">
    {{ description }}
  </div>
</div>
