---
{
  "name": "Search",
  "class": "",
  "icon": "text",
  "keep_icon": true,
  "keep_name": true,
  "settings": [
    {
      "label": "Layout",
      "id": "layout",
      "type": "select",
      "options": [
        {"label": "Column","value": "column"},
        {"label": "Row", "value": "row"}
      ]
    },
    {
      "label": "Title",
      "id": "title",
      "type": "text"
    },
    {
      "label": "Short description",
      "id": "short_description",
      "type": "text"
    },
    {
      "label": "Description",
      "id": "description",
      "type": "text"
    }
  ],
  "blocks": [
  	{
      "name": "Faceting",
	    "type": "faceting",
	    "settings": [
	      {
	      	"label": "Title",
	      	"id": "title",
	      	"type": "text",
	      	"html": true,
	        "nb_rows": 2
	      },
        {
          "label": "Display current filter",
          "id": "current_filter",
          "type": "checkbox"
        },
        {
          "label": "Display price filters",
          "id": "price_filters",
          "type": "checkbox"
        }
	    ]
  	},
    {
      "name": "Result",
      "type": "result",
      "settings": [
        {
          "label": "Border on products",
          "id": "bordered",
          "type": "checkbox"
        },
        {
          "label": "Display current filter",
          "id": "current_filter",
          "type": "checkbox"
        }
      ]
    }
  ],
  "default": {
    "settings": {
      "layout" : "column",
      "title": "Search",
      "short_description": "Duis in nisi vulputate, tempus odio eget, tempor lectus.",
      "description": ""
    },
    "blocks": [
    	{
    		"type": "faceting",
    		"settings": {
    			"title": "<h2>Filters</h2>",
          "theme_color": "light",
          "current_filter": true,
          "price_filters": true
    		}
    	},
      {
        "type": "result",
        "settings": {
          "bordered": false,
          "current_filter": true
        }
      }
    ]
  }
}
---

{% if category != null %}
  {% assign title = category.name %}
  {% assign short_description = category.short_description %}
  {% assign description = category.description %}
{% else %}
  {% assign title = section.settings.title %}
  {% assign short_description = section.settings.short_description %}
  {% assign description = section.settings.description %}
{% endif %}
<div class="container-fluid">
  <div class="row search-layout-{{section.settings.layout}}">
    {% if section.settings.layout == 'row' %}
        <div class="col-12 d-none  d-md-block">
          <div class="p-1 pt-4">
            <h1 class="title-decorator">
              {{title}}
            </h1>
            <p>{{short_description}}</p>
          </div>
        </div>
    {% endif %}
    {% for block in section.blocks%}
      {% case block.settings.theme_color %}
      {% when "light" %}
        {% assign css_cell = css_cell | append: " bg-light text-dark" %}
      {% when "dark" %}
        {% assign css_cell = css_cell | append: " text-light bg-dark"%}
      {% when "primary" %}
        {% assign css_cell = css_cell | append: " text-light bg-primary"%}
      {% when "warning" %}
        {% assign css_cell = css_cell | append: " text-dark bg-warning"%}
      {% when "danger" %}
        {% assign css_cell = css_cell | append: " text-light bg-danger"%}
      {% when "info" %}
        {% assign css_cell = css_cell | append: " text-light bg-info"%}
      {% endcase %}

      {% if section.settings.layout == 'row' %}
        {% assign css_cell = "col-12"%}
      {% else %}
        {% case block.type %}
          {% when 'faceting'%}
            {% assign css_cell = "col-12 col-md-4 col-lg-3 col-xl-2 "%}
          {% when 'result'%}
            {% assign css_cell = "col-12 col-md-8 col-lg-9 col-xl-10 "%}
        {% endcase%}

      {% endif %}

      

      <div class="block {{css_cell}} block-{{block.type}} ">
        {% include 'block_debug' %}
        {% case block.type %}
        {% when 'faceting'%}
          {% include 'block_search_faceting' with
            category
            layout: section.settings.layout,
            block_title: block.settings.title,
            current_filter: block.settings.current_filter,
            price_filters: block.settings.price_filters,
            title, short_description, description
          %}
        {% when 'result'%}
          {% include 'block_search_result' with
            layout: section.settings.layout,
            bordered: block.settings.bordered,
            current_filter: block.settings.current_filter,
            title, short_description, description,
            category
          %}
        {% endcase%}
  		</div>
  	{% endfor %}
</div>
