---
title: mon-compte
handle: account
slug: account
is_layout: false
---
{% extends 'layouts/default' %}
{% block "content" %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class=" ">{% editable_text title, inline: true %}
        Login
      {% endeditable_text %}</h1>
    </div>
  </div>
  <div class="row row-same-height separator-bottom">
    <div class="col-xs-12 col-md-6">
      <div class="well well-full-height">
        <form action="{% path_to 'account_login' %}" method="post">
          <div class="well-content">
            <h2 class="text-3xl title-decorator text-info">
              {% editable_text "sigin_account_title", label: "Sign in title", rows: 1 %}
              Sign In
              {% endeditable_text %}
            </h2>
            <p>
              {% editable_text "sigin_account_details", label: "Sign in details", format: "html" %}
              To continue with your order, simply sign in below.
              {% endeditable_text %}
            </p>

            <input type="hidden" name="auth_action" value="sign_in" />
            <input type="hidden" name="auth_content_type" value="customers" />
            <input type="hidden" name="auth_id_field" value="email" />
            <input type="hidden" name="auth_password_field" value="password" />
            <input type="hidden" name="auth_callback" value="{% path_to account_index %}" />
            <div class="form-group">
              <label for="auth-email">{{ 'signin_email' | translate }}</label>
              <input type="email" class="form-control" id="auth-email" placeholder="{{ 'signin_email' | translate }}" name="auth_id" value="{{ params.auth_id }}" required="required">
            </div>
            <div class="form-group">
              <label for="auth-password">{{ 'signin_password' | translate }}</label>
              <input type="password" class="form-control" id="auth-password" placeholder="{{ 'signin_password' | translate }}" name="auth_password" value="" required="required">
              <a href="{% path_to forgot_password %}" class="color-white">
                {{ 'signin_forgotpassword' | translate }}
              </a>
            </div>
            <div class="text-center">{% if auth_wrong_credentials %}{{ 'signin_wrong' | translate }}{% endif %}</div>
          </div>
          <div class="well-footer text-right">
            <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-lock"></i> {{ 'signin_signin' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="well well-full-height">
        <div class="well-content">
          <h2 class="text-3xl title-decorator text-info">
            {% editable_text "sigin_new_title", label: "Create account title", rows: 1 %}
              Account Registration
            {% endeditable_text %}
          </h2>
          <p>
            {% editable_text "sigin_new_details", label: "Create account details", format: "html" %}
              <div class="text-size-3xl text-primary text-center"> Join the space discount mission <i class="fa fa-space-shuttle text-danger"></i></div>
              <p>Do more with an Space Discount account</p>
              <ul>
                <li>Check out faster</li>
                <li>Save your shipping addresses</li>
                <li>Keep track of your orders</li>
              </ul>
            {% endeditable_text %}
          </p>
        </div>
        <div class="well-footer text-right">
          <a href="{% path_to account_signin%}" class="btn btn-default  btn-lg">{{ 'signin_create_account' | translate }} <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
