---
title: Account
handle: account
slug: account
seo_title: My account | Shopinvader demo
is_layout: false
---
{% extends 'layouts/default' %}
{% block "content" %}
<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <h1 class="h1">
      {% editable_text title, inline: true %}
        My Account
      {% endeditable_text %}</h1>
    </div>
  </div>
  <div class="row row-same-height cart-login pb-4">
    <div class="col-12 col-md-6 pb-0 mb-0">
      <div class="card  h-100">
        <h2 class="h3 card-header bg-dark text-light text-center">
          {% editable_text "sigin_account_title", label: "Sign in title", rows: 1 %}
          Sign In
          {% endeditable_text %}
        </h2>
        <div class="card-body">
          <p>
            {% editable_text "sigin_account_details", label: "Sign in details", format: "html" %}
            To continue with your order, simply sign in below.
            {% endeditable_text %}
          </p>
            <form action="{% path_to 'account_login' %}" method="post">
            <input type="hidden" name="auth_action" value="sign_in" />
            <input type="hidden" name="auth_content_type" value="customers" />
            <input type="hidden" name="auth_id_field" value="email" />
            <input type="hidden" name="auth_password_field" value="password" />
            <input type="hidden" name="auth_callback" value="{% path_to account_index %}" />
            <div class="form-group">
              <label for="auth-email">{{ 'signin_email' | translate }}</label>
              <input type="email" class="form-control" id="auth-email" placeholder="{{ 'signin_email' | translate }}" name="auth_id" value="{{ params.auth_id }}" required="required">
            </div>
            <div class="form-group">
              <label for="auth-password">{{ 'signin_password' | translate }}</label>
              <input type="password" class="form-control" id="auth-password" placeholder="{{ 'signin_password' | translate }}" name="auth_password" value="" required="required">
              <a href="{% path_to forgot_password %}" class="color-white">
                {{ 'signin_forgotpassword' | translate }}
              </a>
            </div>
            <div class="text-center">{% if auth_wrong_credentials %}{{ 'signin_wrong' | translate }}{% endif %}</div>
            <div class="text-right">
              <button type="submit" class="btn btn-dark btn-lg pull-right"><i class="fa fa-lock"></i> {{ 'signin_signin' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card  h-100">
        <h2 class="h3 card-header bg-primary text-light text-center">
          {% editable_text "sigin_new_title", label: "Create account title", rows: 1 %}
            Account Registration
          {% endeditable_text %}
        </h2>
        <div class="card-body">
          {% editable_text "sigin_new_details", label: "Create account details", format: "html" %}
            <div class="h3 text-primary"> Join the mission !</div>
            <p>Do more with an account</p>
            <ul>
              <li>Check out faster</li>
              <li>Save your shipping addresses</li>
              <li>Keep track of your orders</li>
            </ul>
          {% endeditable_text %}
          <div class="text-right">
            <a href="{% path_to account_register%}" class="btn btn-primary  btn-lg">
              {{ 'signin_create_account' | translate }} <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
