---
title: "Recherche"
slug: search
handle: search
position: 150
listed: false
published: true
is_layout: false
editable_elements:
  main/sidebar/widget_delivery/carriers: "/images/carriers.jpg"
  header/customers_ref/advantage_1: Ils nous ont fait confiance
  side/cart_side/cart_empty: Votre panier est vide.
---
{% extends 'layouts/default' %}

{% block content %}
  <div id="filter">
    <h3>{{'search_filter_title' | translate}}</h3>
    <div
      id="filter-category"
      data-filter-widget-type="menu"
      data-filter-attr="categories_name"
      data-filter-name="{{'search_category' | translate}}"
      data-filter-hit-limit='10'
      class="small">
    </div>
    <div
      id="filter-rating"
      data-filter-widget-type="starRating"
      data-filter-attr="rating_value"
      data-filter-name="{{'search_rating' | translate}}"
      class="small">
    </div>
    <div
      id="filter-price"
      data-filter-widget-type="rangeSlider"
      data-filter-attr="public_tax_inc.from_price"
      data-filter-name="{{'search_price_range' | translate}}"
      data-show-more-label="{{'search_show_more' | translate}}"
      data-filter-hit-limit='10'
      class="small">
    </div>
  {% for filter in filters %}
    <div
      id="filter-{{filter.attribute}}"
      data-filter-widget-type="refinementList"
      data-filter-attr="{{filter.attribute}}"
      data-filter-name="{{filter.name}}"
      data-show-more-label="{{'search_show_more' | translate}}"
      data-filter-hit-limit='10'
      class="small">
    </div>
  {% endfor %}

  </div>
{% endblock %}
{% block 'main/content' %}
<div class="row visible-xs" class="hidden">
  <div class="col-xs-12 text-right">
    <a class="btn btn-default" id="display-filter"  role="button"
      data-toggle="collapse" href="#filters-xs" >
      {{'search_filter_btn' | translate}}
    </a>
  </div>
</div>
<div class="filters-xs collapse" id="filters-xs">
    <div class="text-left content"></div>
    <div class="text-center footer">
      <a  class="btn btn-success" role="button"
         data-toggle="collapse" href="#filters-xs" >
        {{'search_display_btn' | translate}}
      </a>
  </div>
</div>
<div id="main">
  <div id="sort-by-wrapper">
    <span id="sort-by"></span>
  </div>
  <div id="search"></div>
  <div id="stats"></div>
  <div id="search-result"></div>
  <div id="pagination"></div>
</div>



{% endblock %}
{% block 'css' %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
{% endblock %}
{% block 'javascripts'%}

<script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
{{ 'search.js' | javascript_tag }}
{% endblock %}
{% block 'javascripts_algolia', short_name: true %}
  {% include 'algolia_init' %}
{% endblock %}
