---
title: account
is_layout: false
---
{% authorize "customers", "account" %}
{% extends 'layouts/default' %}
{% block 'body/header' %}
  {% global_section 'header_lite', id:'cart_header',  placement: 'top'%}
{% endblock %}
{% block 'body/content' %}
<div class="container-fluid mt-4">
  <div class="row  pt-2 pb-4 justify-content-between justify-content-xl-center align-items-end">
    <div class="col-10 col-md-auto accound-icon">
      <div class="d-flex">
        <div class="p-2 text-primary d-none d-md-block">
          <i class="far fa-user fa-3x "></i>
        </div>
        <div>
          <div class="lead text-uppercase font-weight-bold">
            {{'account_title' | translate}} {{current_customer.name}}
          </div>
          {{ 'account_welcome_message' | translate}}
        </div>
      </div>
    </div>
    <div class="col-2 col-lg-auto d-block d-lg-none">
      <a href="#account-menu" data-toggle="collapse" class="btn btn-link btn-lg">
        <i class="fas fa-bars"></i>
      </a>
    </div>

      <ul class="nav accound-menu collapse col-12 col-lg-auto ml-4 ml-xl-0 pl-xl-0 d-lg-flex" id="account-menu">
        <li class="nav-item {%if page.handle == 'account_index'%}active{% endif%}">
          <a href="{%path_to account_index%}" class="nav-link ">
            {{ "account_order_title" | translate }}
          </a>
        </li>
        <li class="nav-item {%if page.handle == 'account_quotations'%}active{% endif%}">
          <a href="{%path_to account_quotations%}" class="nav-link ">
            {{ "account_quotation_title" | translate }}
          </a>
        </li>
        <li class="nav-item {%if page.handle == 'account_profil'%}active{% endif%}">
          <a href="{%path_to account_profil%}" class="nav-link ">
            {{ "account_profil_title" | translate }}
          </a>
        </li>
        <li class="nav-item {%if page.handle == 'account_address'%}active{% endif%}">
          <a href="{%path_to account_address%}" class="nav-link ">
            {{ "account_address_lists" | translate }}
          </a>
        </li>
        <li class="nav-item {%if page.handle == 'account_rma'%}active{% endif%}">
          <a href="{%path_to account_rma %}" class="nav-link ">
            {{ "account_rma_title" | translate }}
          </a>
        </li>
        <li class="pl-5">
          <form method="post" action="{% path_to account %}">
            <input type="hidden" name="auth_action" value="sign_out" />
            <input type="hidden" name="auth_content_type" value="customers" />
            <button type="submit" class="btn btn-outline-primary btn-lg" >
              <i class="fa fa-power-off"></i>
              {{ 'account_signout' | translate }}
            </button>
          </form>
        </li>
      </ul>

  </div>
  <div class="row">
    <div class="col-12 pt-3">
      <div class="container">
        {% block 'tabcontent' %}
      {% endblock %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block 'body/footer' %}
   <div></div>
{% endblock %}
{% block 'css' %}
  {{ 'jquery.webui-popover.css' | stylesheet_tag }}
{% endblock %}
{% block 'javascripts' %}
  {{ 'jquery.webui-popover.js' | javascript_tag }}
  {{ 'application.account.js' | javascript_tag }}
  {{ 'address_autocomplete.js' | javascript_tag }}
  <script src="https://maps.googleapis.com/maps/api/js?key={{site.metafields.google.maps_api_key}}&libraries=places&callback=initAddressAutocomplete"></script>
{% endblock %}
