---
handle: base
title: Base layout
is_layout: false
---
{% if locale != default_locale %}
  {% assign url_base ="/" | append: locale %}
{% endif%}
{% assign css_body = '' %}

{% assign url_base =url_base | prepend: base_url | append:"/"%}
<!DOCTYPE html>
<html lang="{{locale}}">
  <head>
    <link rel="manifest" href="{% path_to manifest_json%}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#17a2b8">
    <meta name="generator" content="ShopInvader" />
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "{{site.name}}",
      "url": "{{base_url}}",
      "logo":  "{{site.metafields.theme.logo}}"
    }
    </script>
    <script type='application/ld+json'>
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "{{base_url}}",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "{{base_url}}/search?q={search_term_string}",
          "query-input": "required name=search_term_string"
        }
      }
    </script>
    <script type="text/javascript">
      const url_base= {{ url_base | json }};
      const noimage= {{ site.metafields.theme.noimage | json }};
    </script>
    {% block 'header_meta' %}
      <link rel="canonical" href="{{base_url}}{% path_to page%}" />
      {% seo %}
      {% for locale_code in locales %}
      <link rel="alternate" href="{% path_to page, locale: locale_code %}" hreflang="{{locale_code}}"/>
      {% endfor %}
    {% endblock %}

    {% block 'css' %}
    {% endblock %}

    {% block 'javascripts_header' %}
    {% endblock %}

    {{ 'bundle.css' | stylesheet_tag }}
    {{ 'themify-icons.css' | stylesheet_tag }}
  </head>
  <body class="{{css_body}}">
    <style media="screen">
      body {
        background-color: {{site.metafields.theme.body_bg_color}};
      }
      body .page {
        max-width: {{site.metafields.theme.page_max_width}};
        {% if site.metafields.theme.page_border == false %}
          box-shadow: unset !important;
          border: none;
        {% endif %}
      }
      .header .block-row {
        {% if site.metafields.theme.page_border == false %}
          box-shadow: unset !important;
          border: none;
        {% endif %}
      }
      .header .block-row.container {
        max-width: {{site.metafields.theme.page_max_width}};
        
      }
      .locomotive-section[data-locomotive-section-type="header"] .header .header-block-navigation .list-inline .list-inline-item .list-inline-dropdown-content {
        max-width: {{site.metafields.theme.page_max_width}};
      }
    </style>
    <div class="main-loader">
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    {% include 'generic_error' %}
    {% block 'body' %}
    {% endblock %}
    <div class="modal fade" id="main-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title"></div>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <div id="product-modal-add" class="d-none" data-shopinvader-container>.
      {% if params.addtocart_product_id %}
        {% assign product_id = params.addtocart_product_id | round %}
        <div class="title">
          <div class=" font-weight-bold">
            {{ 'cart_item_added' | translate }}
          </div>
        </div>
        <div class="content">
          <div class="">
            <div class="row">
              <div class="col-12 cart-modal">
                {% assign product_added_id = params.addtocart_product_id | round %}
                {% for cart_line in store.cart.lines.items %}
                  {% if cart_line.product.id == product_added_id %}
                    {% include 'cart_line' with 
                      cart_line, 
                      readonly: true
                    %}
                  {% endif %}
                {% endfor %}
                
              </div>
            </div>
            <div class="row justify-content-between align-items-start">
              <div class="col-auto text-center text-sm-left">
                <a href="{{product.url_key | prepend: url_base}}" class="btn btn-outline-dark">
                  <i class="fas fa-chevron-left"></i>
                  {{"cart_continue_shopping" | translate }}
                </a>
              </div>
              <div class="col-auto text-center text-sm-right">
                <a href="{% path_to 'cart_index' %}" class="btn btn-primary ">
                  {{"cart_checkout" | translate }} <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>
          {% if product and product.relateds.cross_sell != null%}
            <div class="row">
              <div class="col-lg-12">
                <h2>
                  {{'product_related_title' | translate }}
                </h2>
              </div>
            </div>
            <div class="row">
              {% for cross_seller in product.relateds.cross_sell %}
                <div class="col-6 col-sm-3 col-xl-2">
                {% with_scope objectID: [cross_seller.id]%}
                  {% include 'product_thumbnail' with 
                    product: store.products.first
                  %}
                {% endwith_scope%}
                </div>
              {% endfor %}
            </div>
          {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
    {{ 'bundle.js' | javascript_tag }}
   
    {% block 'javascripts', short_name: true %}
    {% endblock %}
    {% global_section 'cookies_manager',  placement: 'bottom' %}
    
    {% if site.metafields.elasticsearch.indices != null%}
      <script type="text/javascript">
        var searchkit_translation = {
          'reset.clear_all': {{'filter_clear' | translate | json}},
          'facets.view_more': {{'filter_more' | translate | json}},
          'facets.view_more': {{'filter_more' | translate | json}},
          'facets.view_less': {{'filter_less' | translate | json}},
          'facets.view_all': {{'filter_all' | translate | json}},
          'facets.price': {{'filter_price' | translate | json}},
          'facets.filters': {{'filters' | translate | json}},
          'facets.category': {{'search_category' | translate | json}},
          'NoHits.NoResultsFound': {{'filter_noresult_found' | translate | json}},
          'NoHits.DidYouMean': {{'filter_didyoumean' | translate | json}},
          'NoHits.SearchWithoutFilters': {{'filter_searchwithout_filter' | translate | json}},
          'NoHits.NoResultsFoundDidYouMean': {{'filter_searchwithout_filter' | translate | json}},
          'hitstats.results_found': {{'filter_result_count' | translate | json}},
          'pagination.previous': {{'filter_paginate_previous' | translate | json}},
          'pagination.next': {{'filter_paginate_next' | translate | json}},
          'searchbox.placeholder': {{'filter_placeholder' | translate | json}},
          'product.grid': {{'product_display_grid' | translate | json}},
          'product.list': {{'product_display_list' | translate | json}},
          'sort.price_default': {{'filter_price_default' | translate | json}},
          'sort.price_asc': {{'filter_price_asc' | translate | json}},
          'sort.price_desc': {{'filter_price_desc' | translate | json}},
          'product.out_of_stock': {{'product_stock_state_out_of_stock' | translate | json}},
          'product.in_stock': {{'product_stock_state_in_stock' | translate | json}},
          'product.resupplying': {{'product_stock_state_resupplying' | translate | json}},
          'product.in_limited_stock': {{'product_stock_state_in_limited_stock' | translate | json}}
        };
      </script>
    {% elsif site.metafields.algolia.indices != null %}
      {% include 'algolia_init' %}
      <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
      <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
      <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
      {{ 'algolia_autocomplete.js' | javascript_tag }}
    {% endif %}
    {{js_footer}}
  </body>
</html>
