---
title: Default layout
is_layout: false
---
{% if locale != default_locale %}
  {% assign url_base ="/" | append: locale %}
{% endif%}

{% assign url_base =url_base | prepend: base_url | append:"/"%}
<!DOCTYPE html>
<html lang="{{locale}}">
  <head>
    <link rel="manifest" href="{% path_to manifest_json%}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#17a2b8">
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "{{site.name}}",
      "url": "{{base_url}}",
      "logo":  "{{site.metafields.theme.logo}}"
    }
    </script>
    <script type='application/ld+json'>
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "{{base_url}}",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "{{base_url}}/search?q={search_term_string}",
          "query-input": "required name=search_term_string"
        }
      }
    </script>
    {% block 'header_meta' %}
      <link rel="canonical" href="{{base_url}}{% path_to page%}" />
      {% seo %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | theme_image_url }}">

    {{ 'application.css' | stylesheet_tag }}
    <link href="{{'fontawesome/fontawesome.css' | stylesheet_url}}" rel="stylesheet" async>

    {% block 'css' %}{% endblock %}
  </head>
  <body>
    <div class="main-loader d-none"><i class="fa fa-spinner fa-spin"></i></div>
    {% include 'nav' %}

    <main>
      <div class="container-fluid">
        {% include 'store_notifications' %}
      {% block content %}
      {% endblock %}
      </div>
    </main>

    <div class="modal fade" id="main-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title text-1xl"></div>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <div id="product-modal-add" class="d-none" data-shopinvader-container>.
      {% if params.product_id %}
        {{store.cart}}
        {% assign product_id = params.product_id | round %}
        <div class="title">
          {{ 'cart_item_added' | translate }}
        </div>

        <div class="content">
          <div class="">
            <div class="row">
              <div class="col-12">
                {% include 'cart_list' with cart:store.cart, product_id, readonly: true %}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <a href="{{product.url_key | prepend: url_base}}" class="btn btn-light btn-lg">{{"cart_continue_shopping" | translate }}</a>
              </div>
              <div class="col-6 text-right">
                <a href="{% path_to 'cart_index' %}" class="btn btn-primary btn-lg">{{"cart_checkout" | translate }} </a>
              </div>
            </div>
            {{product.cross_sellings.count}}
          {% if product %}
            <div class="row">
              <div class="col-lg-12">
                <h2>{{'product_related_title' | translate }}</h2>
              </div>
            </div>
            <div class="row">
              {% for cross_seller in product.cross_sellings %}
                <div class="col-6 col-sm-3 col-xl-2">
                {% with_scope objectID: [cross_seller.id]%}
                  {% include 'product_thumbnail' with product: store.products.first%}
                {% endwith_scope%}
                </div>
              {% endfor %}
            </div>
          {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
    {% include 'footer' %}

    {{ 'popper.min.js' | javascript_tag }}
    {{ 'jquery.min.js' | javascript_tag }}
    {{ 'jquery.slidereveal.min.js' | javascript_tag }}
    {{ 'shopinvader.jquery.js' | javascript_tag }}
    {{ 'bootstrap4.min.js' | javascript_tag }}
    {{ 'application.js' | javascript_tag }}
    {% block 'javascripts', short_name: true %}
    {% endblock %}
    {% block 'javascripts_algolia', short_name: true %}
      {% include 'algolia_init' %}
      {%comment%}
      javascript used for search input in header.
      Disabled for categorie et search page (no autocomplete menu displayed).
      {%endcomment%}
      <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
      <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
      {{ 'search_autocomplete.js' | javascript_tag }}
    {% endblock %}
  </body>
</html>
