---
title: Default layout
is_layout: false
---
{% if locale != default_locale %}
  {% assign url_base ="/" | append: locale %}
{% endif%}

{% assign url_base =url_base | prepend: base_url | append:"/"%}
<!DOCTYPE html>
<html lang="{{locale}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.name }}</title>
    <link rel="shortcut icon" href="{{ 'favicon.png' | theme_image_url }}">
    {% block 'css' %}{% endblock %}
    {{ 'application.css' | stylesheet_tag }}
    <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">

    {{ 'popper.min.js' | javascript_tag }}
    {{ 'jquery.min.js' | javascript_tag }}
    {{ 'jquery.slidereveal.min.js' | javascript_tag }}
    {{ 'shopinvader.jquery.js' | javascript_tag }}
    {{ 'bootstrap4.min.js' | javascript_tag }}
  </head>
  <body>
    {% include 'nav' %}
    <main>
      <div class="container-fluid">
        {% include 'store_notifications' %}
      {% block content %}
      {% endblock %}
      </div>
    </main>
    <div class="alert alert-info alert-cookie" role="alert">
      {% editable_text cookie_notice, fixed: true, rows: 1 %}
        En poursuivant votre navigation sur ce site, vous acceptez l'utilisation
        de cookies pour vous proposer des services et offres adaptés à vos centres d'intérêts.
      {% endeditable_text %}
      <button type="button" class="btn btn-info" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">OK</span>
      </button>
    </div>
    <div class="modal fade" id="main-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title text-1xl"></div>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    {% block side, short_name: true %}
    <div class="side-cart cart-compact container-fluid"  id="cart-compact">
      <div class="row-fluid">
        <div class="col-8">
          <span class="title-separator text-size-2xl">
            {{ 'cart_title' | translate }}
          </span>
        </div>
        <div class="col-4 text-right close-side">
          <i class="fa fa-times text-size-1xl display-side-cart"></i>
        </div>
      </div>
      <div data-cart-id="side_cart_items" class="wait-loader" id="side-cart-items" data-shopinvader-container>
      {% if store.cart %}
        {% include cart_side %}
      {% else %}
        <div class="text-center">
        {% editable_text "cart_empty", hint: "Side cart empty" %}
          Your shopping cart is empty :(
        {% endeditable_text %}
        </div>
      {% endif %}
      </div>
    </div>
    {% endblock %}
    <div id="product-modal-add" class="hidden" data-shopinvader-container>.
      {% if params.product_id %}
        {{store.cart}}
        {% assign product_id = params.product_id | round %}
        <div class="title">
          {{ 'cart_item_added' | translate }}
        </div>

        <div class="content">
          <div class="">
            <div class="row">
              <div class="col-12">
                {% include 'cart_list' with cart:store.cart, product_id, readonly: true %}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <a href="{{product.url_key | prepend: url_base}}" class="btn btn-light btn-lg">{{"cart_continue_shopping" | translate }}</a>
              </div>
              <div class="col-6 text-right">
                <a href="{% path_to 'cart_index' %}" class="btn btn-primary btn-lg">{{"cart_checkout" | translate }} </a>
              </div>
            </div>
            {{product.cross_sellings.count}}
          {% if product %}
            <div class="row">
              <div class="col-lg-12">
                <h2>{{'product_related_title' | translate }}</h2>
              </div>
            </div>
            <div class="row">

              {% for cross_seller in product.cross_sellings %}
                <div class="col-6 col-sm-3 col-xl-2">
                {% with_scope objectID: [cross_seller.id]%}
                  {% include 'product_thumbnail' with product: store.products.first%}
                {% endwith_scope%}
                </div>
              {% endfor %}
            </div>
          {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
    {% include 'footer' %}
    {{ 'application.js' | javascript_tag }}
    {% block 'javascripts', short_name: true %}
    {% endblock %}
    {% block 'javascripts_algolia', short_name: true %}
      {% include 'algolia_init' %}

    {% endblock %}
  </body>
</html>
