---
title: Default layout
is_layout: false
---
<!DOCTYPE html>
{% if locale != default_locale %}
  {% assign url_base ="/" | append: locale %}
{% endif%}
{% assign url_base =url_base | prepend: base_url | append:"/"%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.name }}</title>
    <link rel="shortcut icon" href="{{ 'favicon.png' | theme_image_url }}">
    {% block 'css' %}{% endblock %}
    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}
    {{ 'font-awesome.min.css' | stylesheet_tag }}

    {{ 'turbolinks.js' | javascript_tag }}
    {{ 'jquery.min.js' | javascript_tag }}
    {{ 'jquery.slidereveal.min.js' | javascript_tag }}
    {{ 'shopinvader.jquery.js' | javascript_tag }}
    {{ 'bootstrap.min.js' | javascript_tag }}

  </head>
  <body>
    {% include 'nav' %}
    <main>
      <div class="container">
      {% block content %}
      {% endblock %}
      </div>
    </main>
    <div class="modal fade" id="main-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title text-1xl"></div>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    {% block side, short_name: true %}
    <div class="side-cart cart-compact container-fluid"  id="cart-compact">
      <div class="row-fluid">
        <div class="col-xs-8">
          <span class="title-separator text-size-2xl">
            {{ 'cart_title' | translate }}
          </span>
        </div>
        <div class="col-xs-4 text-right close-side">
          <i class="fa fa-times text-size-1xl display-side-cart"></i>
        </div>
      </div>
      <div data-cart-id="side_cart_items" class="wait-loader" id="side-cart-items" data-shopinvader-container>
      {% if cart %}
        {% include cart_side with cart %}
      {% else %}
        <div class="text-center">
        {% editable_text "cart_empty", hint: "Side cart empty" %}
          Your shopping cart is empty :(
        {% endeditable_text %}
        </div>
      {% endif %}
      </div>
    </div>
    <div id="product-modal-add" class="hidden" data-shopinvader-container>
      {% if params.product_id %}
        {% assign product_id = params.product_id | round %}
        <div class="title">
          {{ 'cart_item_added' | translate }}
        </div>
        <div class="content">
          <div class="">
            <div class="row">
              {% assign cart = store.cart | first %}
              {% include 'cart_list' with cart, product_id, readonly: true %}
            </div>
            <div class="row">
              <div class="col-xs-6">
                <a href="{{product.url_key | prepend: url_base}}" class="btn btn-default btn-lg">{{"cart_continue_shopping" | translate }}</a>
              </div>
              <div class="col-xs-6 text-right">
                <a href="{% path_to 'cart_index' %}" class="btn btn-warning btn-lg">{{"cart_checkout" | translate }}</a>
              </div>
            </div>
          {% if product and product.relateds.count > 0%}
            <div class="row">
              <div class="col-lg-12">
                <h2>{{'product_related_title' | translate }}</h2>
              </div>
            </div>
            <div class="row">
              {% for related_id in product.relateds%}
                {% with_scope record_id: related_id %}
                  {% for related in store.products %}
                  <div class="product-thumbnail col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    {% include 'product_thumbnail' with product: related%}
                  </div>
                  {%endfor%}
                {% endwith_scope%}
              {%endfor%}
            </div>
          {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
    {% endblock %}
    {% include 'footer' %}
    {{ 'application.js' | javascript_tag }}
    {% block 'javascripts', short_name: true %}
    {% endblock %}
    {% block 'javascripts_algolia', short_name: true %}
      {% include 'algolia_init' %}
      {{ 'algolia_app.js' | javascript_tag }}
    {% endblock %}
  </body>
</html>
