---
title: Simple
is_layout: true
---
{% extends 'layouts/default' %}


{% block content %}
  {% if category %}
    {% assign filters = category.filters %}

  {% else %}
    {% assign filters = store.all_filters %}
  {% endif %}
  <div class="row">
    <div class="col-12 col-md-3 col-xl-2 p-0 pt-4 border ">
      <div id="filter" class="sidebar d-none d-md-block">
        <h3 class="pl-3">{{'search_filter_title' | translate}}</h3>
        {% if category == null%}
          <div
            id="filter-category"
            data-filter-id="filter-categories_ids"
            data-filter-widget-type="menu"
            data-filter-attr="categories.name"
            data-filter-name="{{'search_category' | translate}}"
            data-filter-hit-limit='10'
            class="small">
          </div>

        {% else %}
          <div
            id="filter-categories_ids"
            data-filter-id="filter-categories_ids"
            data-filter-widget-type="menu"
            data-filter-attr="categories.id"
            data-filter-name="categories_id"
            class="d-none">
          </div>
        {% endif %}
        {% for filter in filters %}
          <script type="text/html" class="filters-header-template" data-filter-header-id="{{filter.code}}">
            <div class="row">
              <div class="col-12 category-filters-head">
                <div>
                  <h4 class="title-separator">{{filter.name}}</h4>
                  {% if filter.help %}
                    <a  data-toggle="modal" data-target="#help-{{filter.name | dasherize}}" href="#help-{{filter.name | dasherize}}" class=" help small btn btn-success">
                      {{'search_filter_info' | translate}}
                    </a>
                  {%endif%}
                  </div>
                </div>
              </div>
          </script>
          <div
            data-filter-id="filter-{{filter.code}}"
            data-filter-widget-type="refinementList"
            data-filter-attr="{{filter.code}}"
            data-filter-name="{{filter.name}}"
            data-show-more-label="{{'search_show_more' | translate}}"
            data-filter-hit-limit='10'
            class="small border border-left-0 border-right-0 border-top-0 p-3">
          </div>
        {% endfor %}
      </div>
      {% block side%}
      {% endblock %}
    </div>
    <div class="col-sm-12 col-md-9 col-xl-10 p-0 ">
      <div class="p-3">
        {% block intro%}
        {% endblock %}
      </div>
      {% block main%}
        {% block 'result'%}
          <div class="row p-4">
            <div class="col-8 col-lg-4">
              {% include 'product_display_control'%}
            </div>
            <div class="col-4 col-lg-4 text-right hidden" id="search-stats">
              {{'search_total_count' | translate: count: paginate.total_entries}}
            </div>
            <div class="col-12 col-lg-4 pt-2 pt-lg-2 text-right" id="search-pagination">
              {% include 'paginate' with paginate %}
            </div>
          </div>
          <div id="search-result" data-category="{{category.objectID}}"></div>
        {% endblock%}
      {% endblock %}
    </div>
  </div>

{% endblock %}
