---
title: Simple
is_layout: true
---
{% extends 'layouts/default' %}

{% block 'css' %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
{% endblock %}

{% block 'javascripts_algolia'%}
  {% include 'algolia_init'%}
  <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
  <script src="{{ 'search.js' | javascript_url }}?category={{category.name}}"></script>
{% endblock %}

{% block content %}
  {% if category %}
    {% assign filters = category.filters %}
  {% else %}
    {% assign filters = store.all_filters %}
  {% endif %}
  <div class="row">
    <div class="col-12 col-md-3 col-xl-2 p-0  border ">
      <div id="filter" class="sidebar d-none d-md-block pt-4">
        <h3 class="pl-3">{{'search_filter_title' | translate}}</h3>
        {% if category == null%}
          <div
            id="filter-category"
            data-filter-id="filter-categories_ids"
            data-filter-widget-type="menu"
            data-filter-attr="categories.name"
            data-filter-name="{{'search_category' | translate}}"
            data-filter-hit-limit='10'
            class="small border border-left-0 border-right-0 border-top-0 p-3">
          </div>

        {% else %}
          <div
            id="filter-categories_ids"
            data-filter-id="filter-categories_ids"
            data-filter-widget-type="menu"
            data-filter-attr="categories.id"
            data-filter-name="categories_id"
            class="d-none">
          </div>
        {% endif %}
        {% for filter in filters %}
          <script type="text/html" class="filters-header-template" data-filter-header-id="{{filter.code}}">
            <div class="row">
              <div class="col-12 category-filters-head">
                <div>
                  <h4 class="title-separator">{{filter.name}}</h4>
                  {% if filter.help %}
                    <a  data-toggle="modal" data-target="#help-{{filter.name | dasherize}}" href="#help-{{filter.name | dasherize}}" class=" help small btn btn-success">
                      {{'search_filter_info' | translate}}
                    </a>
                  {%endif%}
                  </div>
                </div>
              </div>
          </script>
          <div
            data-filter-id="filter-{{filter.code}}"
            data-filter-widget-type="refinementList"
            data-filter-attr="{{filter.code}}"
            data-filter-name="{{filter.name}}"
            data-show-more-label="{{'search_show_more' | translate}}"
            data-filter-hit-limit='10'
            class="small border border-left-0 border-right-0 border-top-0 p-3">
          </div>
        {% endfor %}
      </div>
      {% block side%}
      {% endblock %}
    </div>
    <div class="col-sm-12 col-md-9 col-xl-10 p-0 ">
      <div class="p-1 p-sm-3 text-center text-sm-left">
        {% block intro%}
        {% endblock %}
      </div>
      {% block main%}
        {% block 'result'%}

            <div class="row p-1 p-md-4">
              <div class="col-sm-8 col-lg-4 d-none d-sm-flex">
                {% include 'product_display_control'%}
              </div>
              <div class="col-12 col-sm-4 col-lg-4 text-right hidden" id="search-stats">

              </div>
              <div class="col-12 col-sm-12 col-lg-4 pt-2 pt-lg-2 text-right" id="search-pagination">

              </div>
            </div>
            <div id="search-result" >
              <div class="row m-0 border border-1 border-left-0 border-bottom-0 border-right-0 ">
                {% assign product_display = 'grid'%}
                {% assign css_col = "col-12  col-sm-4 col-lg-3 col-xl-2"%}
                {%if session.product_display == 'list'%}
                  {%assign display_horizontal =  true%}
                  {% assign css_col = "col-12"%}
                {%endif%}
                <div class="{{css_col}} product-col p-2 border border-1 border-left-0 border-top-0 ">

                </div>

              </div>
              <div class="row">
                <div class="col-12 text-right">
                </div>
              </div>
            </div>
        {% endblock%}
      {% endblock %}
    </div>
  </div>

{% endblock %}
