---
title: Category
published: true
handle: category
---
{% extends 'layouts/faceting' %}
{% block content/intro %}
<h1 class="title-decorator">{{category.name}}</h1>
<p>{{category.subtitle}}</p>
{% endblock %}


{% block 'css' %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
{% endblock %}

{% block 'javascripts'%}
  <script type="text/javascript">
    var category_id = {{category.objectID | json}};
    var algolia_app_id = {{site.metafields.algolia.api_key | json}};
    var algolia_api_key = {{site.metafields.algolia.application_id | json}};
    {% for index in site.metafields.algolia.indices%}
    var algolia_{{index.name}}_index = {{index.index | json}};
    {% endfor%}
  </script>
  <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
  <script src="{{ 'search.js' | javascript_url }}?category={{category.name}}"></script>
{% endblock %}
