---
title: Product
published: true
handle: product
---
{% extends 'layouts/default' %}

{% block 'header_meta' %}
<meta name="og:site_name" content="{{site.name}}">
<meta name="og:title" content="{{product.seo_title}}">
<meta name="og:url" content="{{ product.url_key | prepend: url_base }}?ref={{product.objectID }}">
<meta name="og:description" content="{{product.meta_description}}">
<meta name="og:image" content="{{ product.images.first.medium.src }}">
<meta name="description" content="{{product.meta_description}}">
<meta name="keywords" content="{{product.meta_keywords}}">
<title>{{product.seo_title}}</title>
<link rel="canonical" href="{{base_url | append: '/' | append: product.url_key}}" />

{%  if product.stock_state != null and  product.stock_state != ''%}
  {% if product.stock_state == 'in_stock'%}
    {% assign schema_stock = "http://schema.org/InStock"%}
  {% elsif product.stock_state == 'resupplying'%}
    {% assign schema_stock = "http://schema.org/OutOfStock"%}
  {% elsif product.stock_state == 'in_limited_stock'%}
    {% assign schema_stock = "http://schema.org/LimitedAvailability"%}
  {% elsif product.stock_state == 'out_of_stock'%}
    {% assign schema_stock = "http://schema.org/OutOfStock"%}
  {% endif %}
{% endif %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{product.model.name | json}},
    "url": "{{product.url_key  | prepend: url_base }}?ref={{product.sku}}",
    "image": [
      {% for image in product.images%}
        "{{image.medium.src}}"{%if forloop.last == false%},{%endif%}
      {% endfor %}
     ],
    "description": {{product.description | json}},
    "sku": {{product.sku | json}},
    "brand": {
      "@type": "Thing",
      "name": {{product.brand.name | json}}
    },
    "offers": {
      "@type": "Offer",
      "priceCurrency": "EUR",
      "price": "{{product.price.value}}",
      "itemCondition": "http://schema.org/UsedCondition",
      "availability": "{{schema_stock}}",
      "seller": {
        "@type": "Organization",
        "name": {{site.name | json}}
      }
    }
  }
</script>

{% endblock %}

{% block content %}
{% if live_editing %}
   {% assign product = store.products.first %}
{% endif %}
{% assign variant = null %}
{% assign variant_list = product.variants %}
{% if params.ref%}
  {% for product_variant in variant_list %}
    {% if product_variant.sku == params.ref%}
      {% assign variant = product_variant %}
    {% endif %}
  {% endfor %}
{% endif %}
{%if variant == null%}
  {% assign variant = product %}
{% endif %}
{% section 'product_page_intro' %}
{% section 'product_page_section' %}
{% sections_dropzone %}
<div class="bottom-nav text-center d-md-none">
  <form method="POST" action="/invader/cart/add_item" data-shopinvader-form>
    <input type="hidden" name="invader_success_url" value="{{product.url_key  | prepend: url_base}}?addtocart_product_id={{product.objectID}}" />
    <input type="hidden" name="invader_error_url" value="{{product.url_key  | prepend: url_base}}" />
    <input type="hidden" name="product_id" value="{{product.objectID }}">
    <input type="hidden" name="item_qty" value="1">
    <button type="submit" name="submit" class="btn btn-success">
      {{"product_add_to_cart" | translate }}
    </button>
  </form>
</div>
{% endblock %}
