---
title: Product
published: true
handle: product
---
{% extends 'layouts/default' %}

{% block 'header_meta' %}
<meta name="og:site_name" content="{{site.name}}">
<meta name="og:title" content="{{product.seo_title}}">
<meta name="og:url" content="{{base_url}}{% path_to product %}?ref={{variant.objectID }}">
<meta name="og:description" content="{{product.meta_description}}">
<meta name="og:image" content="{{ product.images.first.medium.src }}">
<meta name="description" content="{{product.meta_description}}">
<meta name="keywords" content="{{product.meta_keywords}}">
<title>{{product.seo_title}}</title>
<link rel="canonical" href="{{base_url | append: '/' | append: product.url_key}}" />

{% assign variant_path = '?variant=' | append: product.objectID %}
{%  if product.stock_state != null and  product.stock_state != ''%}
  {% if product.stock_state == 'in_stock'%}
    {% assign schema_stock = "http://schema.org/InStock"%}
  {% elsif product.stock_state == 'resupplying'%}
    {% assign schema_stock = "http://schema.org/OutOfStock"%}
  {% elsif product.stock_state == 'in_limited_stock'%}
    {% assign schema_stock = "http://schema.org/LimitedAvailability"%}
  {% elsif product.stock_state == 'out_of_stock'%}
    {% assign schema_stock = "http://schema.org/OutOfStock"%}
  {% endif %}
{% endif %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{product.model.name | json}},
    "url": "{% path_to product%}{{variant_path}}",
    "image": [
      {% for image in product.images%}
        "{{image.medium.src}}"{%if forloop.last == false%},{%endif%}
      {% endfor %}
     ],
    "description": {{product.description | json}},
    "sku": {{product.sku | json}},
    "brand": {
      "@type": "Thing",
      "name": {{product.brand.name | json}}
    },
    "offers": {
      "@type": "Offer",
      "priceCurrency": "EUR",
      "price": "{{product.price.value}}",
      "itemCondition": "http://schema.org/UsedCondition",
      "availability": "{{schema_stock}}",
      "seller": {
        "@type": "Organization",
        "name": {{site.name | json}}
      }
    }
  }
</script>

{% endblock %}

{% block content %}

{% assign variant = null %}
{% assign variant_list = product.variants %}
{% if params.variant%}
  {% for product_variant in variant_list %}
    {% if product_variant.objectID == params.variant%}
      {% assign variant = product_variant %}
    {% endif %}
  {% endfor %}
{% endif %}
{%if variant == null%}
  {% assign variant = product %}
{% endif %}

<div class="row">
  <div class="col-12  bg-light">
    <div class="container mt-4 mb-4 bg-white pt-2">
      <div class="row">
        <div class="col-12">
          <ol class="breadcrumb pl-0 d-none d-sm-block">
            <li class="breadcrumb-item ">
              <a href="{% path_to 'home' %} " class="text-gray-darker">
              {{ 'home' | translate }}
              </a>
            </li>
          {% for category in variant.categories %}
            <li class="breadcrumb-item">
              <a href="{{category.url_key | prepend: url_base}}" class="text-gray-darker">
                {{category.name}}
              </a>
            </li>
          {% endfor %}
            <li class="breadcrumb-item active d-none d-xl-inline-block">{{variant.model.name}}</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h1 class="text-center text-md-left h2">{{variant.model.name}}</h1>
          <div class="lead">
            {{variant.variant.name}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 ">
          <div class="d-none d-sm-inline-block  pr-4">
            {{variant.brand.name }}
          </div>
          <div class="d-none d-sm-inline-block  pr-4">
            <a href="{{ variant.categories.last.url_key}}">
              <u>{{ variant.categories.last.name}}</u>
            </a>
          </div>

          <div class="d-inline-block" data-scrollto="#product-section-rating">
            {% include 'rating_stars' with
                rating_value: variant.rating.summary.average,
                rating_nbr: variant.rating.reviews.size,
                rating: variant.rating %}
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-7 col-lg-7 col-xl-4 pt-4 order-1">
          <div class="text-center">
            {% include 'product_images' with product: variant %}
          </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5 col-xl-4 pt-4 order-2 order-xl-3">
          <div class="bg-light  pt-3">
            {%if product.price.discount > 0%}
            <div class="pb-1">
              <div class="badge badge-warning p-2">
                {{'product_discount_label'  | translate}} <b>  -{{product.price.discount | round }} %</b>
              </div>
            </div>
            {%endif%}
            <div class=" pb-3 pr-3 pl-3">
              {% include 'product_addtocart' with product: variant %}
            </div>
          </div>
        </div>
        <div class=" pt-4 col-12  col-xl-4  order-3 order-xl-2">
          <div class="editable_content">
            {{variant.short_description}}
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4 mb-4 bg-white">
      {% if variant_list.size > 0%}
      <div class="row pt-3">
        <div class="col-12">
          <h2>{{'product_variant_title' | translate }}</h2>
          <div class="row">
            <div class="col-12 col-md-3 col-lg-2  p-2">
              {% include 'product_variant_thumbnail' with product%}
            </div>
            {% for variant_product in variant_list %}
              <div class="col-12 col-md-3 col-lg-2  p-2">
                {% include 'product_variant_thumbnail' with  product:variant_product%}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="container mt-4 mb-4 pt-1 bg-white">
      <div id="product-section-overview" >
        {% include 'product_page_section' with step: 'overview' %}
        <div class="row">
          <div class="col-12">
            <h2>{{'product_overview_title' | translate }}</h2>
            <div class="editable_content">
              {{variant.description}}
            </div>
          </div>
        </div>
      </div>

      {% if variant.technical_details.size > 0 %}
      <div id="product-section-spec">
        {% include 'product_page_section' with step: 'spec' %}
        <div class="row">
          <div class="col-lg-7">
            <h2>{{'product_spec_title' | translate }}</h2>
            <table class="table table-striped">
              <tbody>
              {% for details in  variant.technical_details %}
                <tr>
                  <td>{{details.name}}</td>
                  <td>{{details.value}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-lg-7">
          {% if variant.technical_media.size > 0 %}
            <h2 class="text-2xl title-separator">
              {{ 'item_documentation' | translate }}
            </h2>
            <ul>
            {% for media_file in variant.technical_media %}
              <li>
                <i class="fa fa-fw fa-lg color-info ico-document-{{ media_file.type }}"></i>&nbsp;
                <a href="{{media_file.url}}" class="text-lg" target="_blank">
                  {{ media_file.type | prepend: 'product_document_' | translate }}
                </a>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      {% if variant.up_sellings.size > 0%}
      <div id="product-section-up-sellings">
        {% include 'product_page_section' with step: 'up_sellings' %}
        <div class="row">
          <div class="col-12">
            <h2>{{'product_up_sellings_title' | translate }}</h2>
            <div class="editable_content">
              <div class="row">
                {% for up_seller in variant.up_sellings %}
                  <div class="col-12 col-sm-6 col-md-3 col-xl-2">
                  {% with_scope objectID: [up_seller.id]%}
                    {% include 'product_thumbnail' with product: store.products.first%}
                  {% endwith_scope%}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% if variant.cross_sellings.size > 0%}
      <div id="product-section-cross-sellings">
        {% include 'product_page_section' with step: 'cross_sellings' %}
        <div class="row">
          <div class="col-12">
            <h2 class="d-none d-md-block">{{'product_cross_sellings_title' | translate }}</h2>
            <div class="editable_content">
              <div class="row">
                {% for cross_seller in variant.cross_sellings %}
                  <div class="col-12 col-sm-6 col-md-3 col-xl-2">
                  {% with_scope objectID: [cross_seller.id]%}
                    {% include 'product_thumbnail' with product: store.products.first%}
                  {% endwith_scope%}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% if variant.rating.reviews.size > 0 %}
      <div id="product-section-rating" class="product-review">
        {% include 'product_page_section' with step: 'reviews' %}
        <div class="row ">
          <div class="col-12 " id="product-section-reviews">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-6 col-lg-5 pb-3 ">
                <h2>{{'product_reviews_title' | translate }} ({{variant.rating.reviews.size}})</h2>
                <div class="text-warning pb-1">
                  <div class="text-dark text-left font-weight-bold small">{{'rating_average_rate' | translate}}</div>
                  <span class="h1 font-weight-bold">
                    {{variant.rating.summary.average | round: 1}}
                  </span>
                  <span class="h2 text-warning">
                    / 5
                  </span>
                </div>
                <div class="text-size-6xl">
                  {% include 'rating_stars' with rating_value: variant.rating.summary.average, rating_nbr: variant.rating.reviews.size %}
                </div>
                <div class="text-size-1xl">
                  {{'rating_comment_count' | translate: count: variant.rating.reviews.size}}
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4">

                {% for rate_count in variant.rating.summary.distribution %}
                <div class="pt-1">
                  {% assign rate_count_pct = rate_count.last | times: 1.0 | divided_by: 16  | times: 100%}
                  <div class="d-inline-block pr-1 ">
                    {{rate_count.first}} <i class="fa fa-star small text-warning"></i>
                  </div>
                  <div class="d-inline-block w-50">
                    <div class=" progress">
                       <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{rate_count_pct}}%" aria-valuenow="{{rate_count_pct}}" aria-valuemin="0" aria-valuemax="{{rating.summary.count}}"></div>
                    </div>
                  </div>
                  <div class="d-inline-block">
                    <i>{{rate_count.last }}</i>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-lg-9">
                {% paginate variant.rating.reviews by 10 %}
                  {% for comment in paginate.collection%}
                  <div class="row ">
                    <div class="col-12">
                      <div class="card mb-0">
                        <div class="card-body p-2 p-sm-4">
                          <div class="row">
                            <div class="col-12 col-sm-4 col-md-3 text-center">
                              <div class="fa fa-user-circle-o fa-3x text-secondary">
                              </div>
                              <div class="">{{comment.nickname}}</div>
                              <div class="h1 text-primary font-weight-bold">{{comment.rating | round}}<span class="h2 ">/5</span></div>
                              {% include 'rating_stars' with rating_value: comment.rating %}
                            </div>
                            <div class="col-12 col-sm-8 col-md-9">
                              <strong class="text-size-lg">{{comment.name}}</strong>
                              <p>{{comment.comment}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  <div class="row">
                    <div class="col-12 pt-3">
                      <nav aria-label="Page navigation">
                        <ul class="pagination pull-right">
                          {% if paginate.previous %}
                          <li class="page-item">
                            <a href="{{paginate.previous.url}}#product-section-advice" aria-label="Previous" class="page-link">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          {% endif %}
                          {% for part in paginate.parts%}
                          <li class="page-item {%if part.title == paginate.current_page%}active{%endif%}">
                            <a href="{% if part.is_link == true%}{{part.url}}#product-section-advice{% endif %}" class="page-link">
                              {{part.title}}
                            </a>
                          </li>
                          {% endfor %}
                          {% if paginate.next %}
                          <li class="page-item">
                            <a href="{{paginate.next.url}}#product-section-advice" aria-label="Next" class="page-link">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                          {% endif %}
                        </ul>
                      </nav>
                    </div>
                  </div>
                {% endpaginate %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
