---
title: Post template
slug: content_type_template
position: 1
handle: posts_template
listed: true
published: true
is_layout: false
content_type: posts
---
{% extends 'layouts/default' %}
{% block "body/content" %}
<div class="container">
  <article class="pt-4">
    <header class="pt-4 pb-4">
      <h1>{{post.name}}</h1>
      <strong>{{post.date | format_date}}</strong>  {{post.post_author}}
      <p>
        {{post.intro}}
      </p>
    </header>
    <section class="row mb-5" >
      <div class="col-12">
        <img src="{{post.picture.url}}" alt="" class="img-fluid w-100">
        <p>{{post.image_author}}</p>

      </div>
      <div class="col-12 col-lg-9 border-right">
        <p>{{post.content}}</p>

      </div>
      <div class="col-12 col-lg-3">
        <h2>
          {{'blog_tags_title' | translate }}
        </h2>
        {% for group in post.groups%}
          <a href="{% path_to page %}?tag={{group._slug}}" class="btn btn-outline-dark btn-sm small pt-0 pb-1">
            <small>
              <i class="fas fa-tag fa-w"></i> <b>{{group.name}}</b>
            </small>
          </a>
        {% endfor %}
      </div>
    </section>
    {% if post.relative_posts.size > 0%}
    <div class="row">
      <div class="col-12">
        <div class="row row-same-height">
          {% for post_relative in post.relative_posts %}
          <div class="col-3">
            {% include "post_thumbnail" with post: post_relative %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </article>
</div>

{% endblock%}
